@{
    ViewBag.Title = "checkTable";
}

<h2>checkTable</h2>
@section head{
	<script type="text/javascript">
		$(function ()
		{
			$("#demoTabs").tabs();
			$("#descriptionTabs").tabs();
			$("#optionsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#eventsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#methodsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
		});
	</script>

	<link href="@Url.Content("~/Content/jUI/jui.jcheckTable.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jcheckTable.js")"></script>
	<link href="@Url.Content("~/Content/jUI/jui.jtable.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jtable.js")"></script>

	<script type="text/javascript">
	    //编辑
	    function ActionEdit(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name)
	    }
	    //删除
	    function ActionDetail(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
	    //详细
	    function ActionDelete(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
		$(function ()
		{
		    $("#MyTable1").jtable({
		        tableHeight: '30%', //表高
		        tableWidth: '100%', //表宽
		        data:
                    [
                        { "ID": 1, "Name": "AAAAA", "Name2": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Name2": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" },
                        { "ID": 3, "Name": "CCCCCC", "Name2": "cccccc", "Name3": "cccccc3", "Name4": "cccccc4", "Name5": "cccccc5" },
                        { "ID": 4, "Name": "DDDDDD", "Name2": "dddddd", "Name3": "dddddd3", "Name4": "dddddd4", "Name5": "dddddd5" },
                        { "ID": 5, "Name": "EEEEEEE", "Name2": "eeeeeee", "Name3": "eeeeeee3", "Name4": "eeeeeee4", "Name5": "eeeeeee5" },
                        { "ID": 6, "Name": "FFFFFFF", "Name2": "ffffffff", "Name3": "ffffffff3", "Name4": "ffffffff4", "Name5": "ffffffff5" },
                        { "ID": 7, "Name": "GGGGG", "Name2": "gggggg", "Name3": "gggggg3", "Name4": "gggggg4", "Name5": "gggggg5" }
                    ], //数据源
		        columns: {
		            "名称": "#Name(#Name2)(#ID)", "名称2": "#Name2", "名称3": "#Name3", "名称4": "#Name4", "名称5": "#Name5", "操作": ["<a href='#' onclick=" + "ActionEdit(#ID,'#Name','#Name2')" + ">Edit</a>",
                        "|<a href='#' onclick=" + "ActionDetail(#ID,'#Name','#Name2')" + ">Detail</a>",
                        "|<a href='#' onclick=" + "ActionDelete(#ID,'#Name','#Name2')" + ">Delete</a>"]
		        },//列名
		        overColor: '#e2e2e2',//鼠标覆盖后行颜色
		        outColor: '#f3f3f3',//鼠标移开后行颜色
		        onClickColor: '#d4d4d4',//鼠标点击行后，行颜色
		        onClick: true,//是否开启鼠标点击
		        noResultsText: '对不起，没有找到生成表格的数据。'//错误提示
		    }).jcheckTable({
		        checkedItems: [1, 2, 3]//默认选择项
                , count: 8//限制可供勾选的checkBox的个数
		    });


		    $("#MyTable2").jtable({
		        tableHeight: '30%', //表高
		        tableWidth: '100%', //表宽
		        data:[], //数据源
		        columns: {
		            "名称": "#Name(#Name2)(#ID)", "名称2": "#Name2", "名称3": "#Name3", "名称4": "#Name4", "名称5": "#Name5", "操作": ["<a href='#' onclick=" + "ActionEdit(#ID,'#Name','#Name2')" + ">Edit</a>",
                        "|<a href='#' onclick=" + "ActionDetail(#ID,'#Name','#Name2')" + ">Detail</a>",
                        "|<a href='#' onclick=" + "ActionDelete(#ID,'#Name','#Name2')" + ">Delete</a>"]
		        },//列名
		        overColor: '#e2e2e2',//鼠标覆盖后行颜色
		        outColor: '#f3f3f3',//鼠标移开后行颜色
		        onClickColor: '#d4d4d4',//鼠标点击行后，行颜色
		        onClick: true,//是否开启鼠标点击
		        noResultsText: '对不起，没有找到生成表格的数据。'//错误提示
		    }).jcheckTable({
		        checkedItems: [1, 2, 3]//默认选择项
                , count: 8//限制可供勾选的checkBox的个数
		    });
		});
	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}


<div id="demoTabs">
	<ul>
		<li><a href="#tab1">默认</a></li>
		<li><a href="#tab2">无数据</a></li>
	</ul>
	<div id="tab1">
		<div id="MyTable1"></div>
        <a class="viewSource" onclick="viewSource(this);">View Source</a>
        <pre class="brush: js; html-script: true;">
    &lt;div id="MyTable1"&gt;&lt;/div&gt;
	&lt;script type="text/javascript"&gt;
	    //编辑
	    function ActionEdit(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name)
	    }
	    //删除
	    function ActionDetail(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
	    //详细
	    function ActionDelete(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
		$(function ()
		{
		    $("#MyTable1").jtable({
		        tableHeight: '30%', //表高
		        tableWidth: '100%', //表宽
		        data:
                    [
                        { "ID": 1, "Name": "AAAAA", "Name2": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Name2": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" },
                        { "ID": 3, "Name": "CCCCCC", "Name2": "cccccc", "Name3": "cccccc3", "Name4": "cccccc4", "Name5": "cccccc5" },
                        { "ID": 4, "Name": "DDDDDD", "Name2": "dddddd", "Name3": "dddddd3", "Name4": "dddddd4", "Name5": "dddddd5" },
                        { "ID": 5, "Name": "EEEEEEE", "Name2": "eeeeeee", "Name3": "eeeeeee3", "Name4": "eeeeeee4", "Name5": "eeeeeee5" },
                        { "ID": 6, "Name": "FFFFFFF", "Name2": "ffffffff", "Name3": "ffffffff3", "Name4": "ffffffff4", "Name5": "ffffffff5" },
                        { "ID": 7, "Name": "GGGGG", "Name2": "gggggg", "Name3": "gggggg3", "Name4": "gggggg4", "Name5": "gggggg5" }
                    ], //数据源
		        columns: {
		            "名称": "#Name(#Name2)(#ID)", "名称2": "#Name2", "名称3": "#Name3", "名称4": "#Name4", "名称5": "#Name5", "操作": ["&lt;a href='#' onclick=" + 

"ActionEdit(#ID,'#Name','#Name2')" + "&gt;Edit&lt;/a&gt;",
                        "|&lt;a href='#' onclick=" + "ActionDetail(#ID,'#Name','#Name2')" + "&gt;Detail&lt;/a&gt;",
                        "|&lt;a href='#' onclick=" + "ActionDelete(#ID,'#Name','#Name2')" + "&gt;Delete&lt;/a&gt;"]
		        },//列名
		        overColor: '#e2e2e2',//鼠标覆盖后行颜色
		        outColor: '#f3f3f3',//鼠标移开后行颜色
		        onClickColor: '#d4d4d4',//鼠标点击行后，行颜色
		        onClick: true//是否开启鼠标点击
		    }).jcheckTable({
	            checkedItems: [1,2,3]//默认选择项
                , count:8//限制可供勾选的checkBox的个数
	        });
		});
	&lt;/script&gt;
		</pre>
	</div>
	<div id="tab2">
		<div id="MyTable2"></div><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
            
    &lt;div id="MyTable1"&gt;&lt;/div&gt;
	&lt;script type="text/javascript"&gt;
		$(function ()
		{
		    $("#MyTable2").jtable({
		        tableHeight: '30%', //表高
		        tableWidth: '100%', //表宽
		        data:[], //数据源
		        columns: {
		            "名称": "#Name(#Name2)(#ID)", "名称2": "#Name2", "名称3": "#Name3", "名称4": "#Name4", "名称5": "#Name5", "操作": ["&lt;a href='#' onclick=" + 

"ActionEdit(#ID,'#Name','#Name2')" + "&gt;Edit&lt;/a&gt;",
                        "|&lt;a href='#' onclick=" + "ActionDetail(#ID,'#Name','#Name2')" + "&gt;Detail&lt;/a&gt;",
                        "|&lt;a href='#' onclick=" + "ActionDelete(#ID,'#Name','#Name2')" + "&gt;Delete&lt;/a&gt;"]
		        },//列名
		        overColor: '#e2e2e2',//鼠标覆盖后行颜色
		        outColor: '#f3f3f3',//鼠标移开后行颜色
		        onClickColor: '#d4d4d4',//鼠标点击行后，行颜色
		        onClick: true,//是否开启鼠标点击
	            noResultsText:'对不起，没有找到生成表格的数据。'//错误提示
		    }).jcheckTable({
	            checkedItems: [1,2,3]//默认选择项
                , count:8//限制可供勾选的checkBox的个数
	        });
		});
	&lt;/script&gt;
		</pre>
	</div>
</div>
<div id="descriptionTabs">
	<ul>
		<li><a href="#overviewTab">综述</a></li>
		<li><a href="#optionsTab">选项</a></li>
		<li><a href="#eventsTab">事件</a></li>
		<li><a href="#methodsTab">方法</a></li>
		<li><a href="#themingTab">主题</a></li>
	</ul>
	<div id="overviewTab">
		<p>用于表格头部生成多个checkbox按钮</p>
	</div>
	<div id="optionsTab">
		<div id="optionsAccordion">
			<h3>
				<span class="description-option-name">[checkedItems]</span>
				<span class="description-option-type">Array</span>
				<span class="description-option-value">[]</span>
			</h3>
			<div>
				<p>默认选中的checkbox选项。</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myTable").jtable({ checkedItems:[1,2,3]});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var checkedItems = $("#myTable").jtable( "option", "checkedItems" );
					//设置
					$("#myTable").jtable("option", { checkedItems: [1,2,3] });
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[count]</span>
				<span class="description-option-type">Int</span>
				<span class="description-option-value">0</span>
			</h3>
			<div>
				<p>限制可供勾选的checkBox的个数</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#tableWidth").jtable({ count:0});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var count = $("#myTable").jtable( "option", "count" );
					//设置
					$("#myTable").jtable("option", { count:6});
				</pre>
			</div>
            
		</div>
	</div>
	<div id="eventsTab">

	</div>
	<div id="methodsTab">
		<div id="methodsAccordion">
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">由optionName定</span>
				<span class="description-method-demo">.jcheckTable("option" , optionName , [value])</span>
			</h3>
			<div>
				<p>获取或设置option中optionName的值。</p>
			</div>
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">无特殊返回值</span>
				<span class="description-method-demo">.jcheckTable("option" , options)</span>
			</h3>
			<div>
				<p>设置option的值为options。</p>
			</div>
			<h3>
				<span class="description-method-name">checked</span>
				<span class="description-method-returnType">返回选择行的ID</span>
				<span class="description-method-demo">.jcheckTable("option" , options)</span>
			</h3>
			<div>
				<p>返回所选择行的id的数组形式</p>
			</div>

		</div>
	</div>
	<div id="themingTab">
		<p>标准样式如下：</p>
		<pre class="brush: html;">
			&lt;div id="myDatapager" class="jui-table"&gt;
			&lt;/div&gt;
		</pre>
	</div>
</div>