@{
    ViewBag.Title = "checkboxHtml.cshtml";
}

@section head{
    <style type="text/css">
        .jui-checkbox
        {
            padding-left: 24px;
            cursor: pointer;
            background: url(/Content/images/jui-jcheckbox.png) no-repeat 0px 0px;
            vertical-align: middle;
            line-height: 22px;
            height: 21px;
            display: inline-block;
        }
            .jui-checkbox:hover
            {
                background-position: 0px -21px;
            }

        .jui-checkbox-checked
        {
            background-position: 0px -42px;
        }

            .jui-checkbox-checked:hover
            {
                background-position: 0px -63px;
            }
    </style>
    <script type="text/javascript">

        $(function () {

            $(":checkbox").after("<span class='jui-checkbox'></span>").click(function (event) {
                if ($(this).is(':checked')) {
                    $(this).next().addClass("jui-checkbox-checked");
                    $(this).checked = true;
                }
                else {
                    $(this).next().removeClass('jui-checkbox-checked');
                    $(this).checked = false;
                }
                event.stopPropagation();
            }).hide().next().click(function (event) {
                var myObject = document.getElementById($(this).prev().attr("id"));
                if (myObject.checked == true) {
                    $(this).removeClass('jui-checkbox-checked')
                    myObject.checked = false;
                } else {

                    myObject.checked = true;
                    $(this).addClass('jui-checkbox-checked')
                }
                event.stopPropagation();
            });

        });

    </script>
}

@section header{

}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}


<h2>checkbox</h2>


<input id="checkbox1" type="checkbox" value="选项一" name="cb" /><label for="checkbox1">选项一</label>
<input id="checkbox2" type="checkbox" value="选项二" name="cb" /><label for="checkbox2">选项二</label>
<input id="checkbox3" type="checkbox" value="选项三" name="cb" /><label for="checkbox3">选项三</label>
<input id="checkbox4" type="checkbox" value="选项四" name="cb" /><label for="checkbox4">选项四</label>
<input id="checkbox5" type="checkbox" value="选项五" name="cb" /><label for="checkbox5">选项五</label>
<input id="checkbox6" type="checkbox" value="选项六" name="cb" /><label for="checkbox6">选项六</label>

