@{
	ViewBag.Title = "datapagerHtml";
}

@section head{
	<style type="text/css">
		.jui-datapager
		{
			color: #094ab2;
		}
			.jui-datapager span
			{
				display: block;
				overflow: hidden;
				float: left;
				height: 21px;
				min-width: 21px;
				text-align: center;
				margin: 4px;
				padding-left:2px;
				padding-right:2px;
			}

			.jui-datapager .jui-datapager-item
			{
				border: 1px solid #cccccc;
				cursor: pointer;
			}

				.jui-datapager .jui-datapager-item:hover
				{
					background-color: #f3f3f3;
				}


			.jui-datapager .jui-datapager-item-active
			{
				border: 1px solid transparent;
				font-weight: bold;
				cursor:default;
				color: #000000;
			}

			.jui-datapager .jui-datapager-item-disabled
			{
				border: 1px solid #cccccc;
				cursor:default;
				opacity: .35; 
				filter:Alpha(Opacity=35)
			}
	</style>
	<script type="text/javascript">
		$(function ()
		{

		});
	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<h2>datapagerHtml</h2>
	<div id="test" class="jui-datapager ui-helper-clearfix">
		<span class="jui-datapager-item-disabled" data-pageIndex="1">首页</span>
		<span class="jui-datapager-item-disabled" data-pageIndex="1">&lt;上一页</span>
		<span class="jui-datapager-item" data-pageIndex="1">1</span>
		<span class="jui-datapager-item" data-pageIndex="2">2</span>
		<span class="jui-datapager-item" data-pageIndex="3">3</span>
		<span class="jui-datapager-item" data-pageIndex="4">4</span>
		<span class="jui-datapager-item" data-pageIndex="5">5</span>
		<span class="jui-datapager-item-active" data-pageIndex="6">6</span>
		<span class="jui-datapager-item" data-pageIndex="7">7</span>
		<span class="jui-datapager-item" data-pageIndex="8">8</span>
		<span class="jui-datapager-item" data-pageIndex="9">9</span>
		<span class="jui-datapager-item" data-pageIndex="7">下一页&gt;</span>
		<span class="jui-datapager-item" data-pageIndex="9">尾页</span>
		<p>第{PageIndex}页，共{MaxPage}页。第{Start}~{End}条，共计{RecordCount}条。</p>
	</div>
