@{
	ViewBag.Title = "datetimepicker";
}

<h2>datetimepicker</h2>
@section head{
	<script type="text/javascript">
		$(function ()
		{
			$("#demoTabs").tabs();
			$("#descriptionTabs").tabs();
			$("#optionsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#eventsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#methodsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
		});
	</script>

	<link href="@Url.Content("~/Content/jUI/jui.jdatetimepicker.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jdatetimepicker.js")"></script>
    
	<script type="text/javascript">
	    $(function () {
	        //默认显示年月日
	        $("#MyDatetimepicker1").jdatetimepicker();
            //仅显示年份
	        $("#MyDatetimepicker2").jdatetimepicker({
	            datetimeType: "yyyy"
	        });
            //仅显示年份及月份
	        $("#MyDatetimepicker3").jdatetimepicker({
	            datetimeType: "yyyy-MM"
	        });
            //日期显示格式为英文格式
	        $("#MyDatetimepicker7").jdatetimepicker({
                datetimeParse: "yyyy-MM-dd"
	        });
            //日历总是显示
	        $("#MyDatetimepicker8").jdatetimepicker({
               display: "display"//click为点击显示
	        });
	        //显示时分秒
	        $("#MyDatetimepicker9").jdatetimepicker({
	            datetimeType: "hh-mm-ss"
	        });
	        //显示时分
	        $("#MyDatetimepicker10").jdatetimepicker({
	            datetimeType: "hh-mm"
	        });
	        //显示时
	        $("#MyDatetimepicker11").jdatetimepicker({
	            datetimeType: "hh"
	        });
	        //显示当天
	        $("#MyDatetimepicker12").jdatetimepicker({
	            showToday:true
	        });
	    });
	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<div id="demoTabs">
	<ul>
		<li><a href="#tab1">默认</a></li>
		<li><a href="#tab2">显示年份</a></li>
		<li><a href="#tab3">显示年份及月份</a></li>
		<li><a href="#tab7">显示格式为英文格式</a></li>
		<li><a href="#tab8">日历总是显示</a></li>
		<li><a href="#tab9">显示时分秒</a></li>
		<li><a href="#tab10">显示时分</a></li>
		<li><a href="#tab11">显示时</a></li>
		<li><a href="#tab12">显示当天</a></li>
	</ul>
	<div id="tab1">
        <input type="text"  id="MyDatetimepicker1"/>
        <a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
        &ltinput type="text"  id="MyDatetimepicker1"/&gt
        &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker1").jdatetimepicker();
        &lt/script&gt
		</pre>
	</div>
	<div id="tab2">
        <input type="text"  id="MyDatetimepicker2"/><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
		&ltinput type="text"  id="MyDatetimepicker2"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker2").jdatetimepicker({
	                datetimeType: "yyyy"
	            });
	    &lt/script&gt
		</pre>
	</div>
	<div id="tab3">
        <input type="text"  id="MyDatetimepicker3"/><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
		&ltinput type="text"  id="MyDatetimepicker3"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker3").jdatetimepicker({
	                datetimeType: "yyyy-MM"
	            });
	    &lt/script&gt
		</pre>
	</div>
	<div id="tab7">
        <input type="text"  id="MyDatetimepicker7"/><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
		&ltinput type="text"  id="MyDatetimepicker7"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker7").jdatetimepicker({
	                datetimeParse: "yyyy-MM-dd"
	            });
	    &lt/script&gt
		</pre>
	</div>
	<div id="tab8">
        <input type="text"  id="MyDatetimepicker8"/><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
		&ltinput type="text"  id="MyDatetimepicker8"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker8").jdatetimepicker({
                    display: "display"
	            });
	    &lt/script&gt
		</pre>
	</div>
	<div id="tab9">
        <input type="text"  id="MyDatetimepicker9"/><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
		&ltinput type="text"  id="MyDatetimepicker9"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker9").jdatetimepicker({
	                datetimeType: "hh-mm-ss"
	            });
	    &lt/script&gt
		</pre>
	</div>
	<div id="tab10">
        <input type="text"  id="MyDatetimepicker10"/>
		<pre class="brush: js; html-script: true; collapse:true;" title="查看源代码">
		&ltinput type="text"  id="MyDatetimepicker10"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker10").jdatetimepicker({
	                datetimeType: "hh-mm"
	            });
	    &lt/script&gt
		</pre>
	</div>
	<div id="tab11">
        <input type="text"  id="MyDatetimepicker11"/><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
		&ltinput type="text"  id="MyDatetimepicker11"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker11").jdatetimepicker({
	                datetimeType: "hh"
	            });
	    &lt/script&gt
		</pre>
	</div>
	<div id="tab12">
        <input type="text"  id="MyDatetimepicker12"/><a class="viewSource" onclick="viewSource(this);">View Source</a>
<pre class="brush: js; html-script: true;">
		&ltinput type="text"  id="MyDatetimepicker12"/&gt
	    &ltscript type="text/javascript"&gt
	            $("#MyDatetimepicker12").jdatetimepicker({
	                showToday:true
	            });
	    &lt/script&gt
		</pre>
	</div>
</div>
<div id="descriptionTabs">
	<ul>
		<li><a href="#overviewTab">综述</a></li>
		<li><a href="#optionsTab">选项</a></li>
		<li><a href="#eventsTab">事件</a></li>
		<li><a href="#methodsTab">方法</a></li>
		<li><a href="#themingTab">主题</a></li>
	</ul>
	<div id="overviewTab">
		<p>用于生成一个日期选择器</p>
	</div>
	<div id="optionsTab">
		<div id="optionsAccordion">
			<h3>
				<span class="description-option-name">[datetimeType]</span>
				<span class="description-option-type">String</span>
				<span class="description-option-value">"yyyy-MM-dd"</span>
			</h3>
			<div>
				<p>日期显示类型</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myDatetimepicker").jdatetimepicker({datetimeType: "yyyy-MM-dd"});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var datetimeType = $("#myDatetimepicker").jdatetimepicker( "option", "datetimeType" );
					//设置
					$("#myDatetimepicker").jdatapager("option","datetimeType", "yyyy-MM-dd");
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[datetimeParse]</span>
				<span class="description-option-type">String</span>
				<span class="description-option-value">"yyyy年MM月dd日"</span>
			</h3>
			<div>
				<p>日期显示格式</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myDatetimepicker").jdatetimepicker({datetimeParse: "yyyy年MM月dd日"});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var datetimeType = $("#myDatetimepicker").jdatetimepicker( "option", "datetimeParse" );
					//设置
					$("#myDatetimepicker").jdatapager("option","datetimeParse", "yyyy年MM月dd日");
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[display]</span>
				<span class="description-option-type">String</span>
				<span class="description-option-value">"display"</span>
			</h3>
			<div>
				<p>始终显示日期选择器</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myDatetimepicker").jdatetimepicker({display:"display"});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var datetimeType = $("#myDatetimepicker").jdatetimepicker( "option", "display" );
					//设置
					$("#myDatetimepicker").jdatapager("option","display", "click");
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[readonly]</span>
				<span class="description-option-type">Boolen</span>
				<span class="description-option-value">false</span>
			</h3>
			<div>
				<p>设置文本框只读</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myDatetimepicker").jdatetimepicker({readonly:true});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var datetimeType = $("#myDatetimepicker").jdatetimepicker( "option", "readonly" );
					//设置
					$("#myDatetimepicker").jdatapager("option","readonly",true);
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[showToday]</span>
				<span class="description-option-type">Boolen</span>
				<span class="description-option-value">true</span>
			</h3>
			<div>
				<p>是否有显示当天按钮</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myDatetimepicker").jdatetimepicker({showToday:true});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var datetimeType = $("#myDatetimepicker").jdatetimepicker( "option", "showToday" );
					//设置
					$("#myDatetimepicker").jdatapager("option","showToday",true);
				</pre>
			</div>
		</div>
	</div>
	<div id="eventsTab">
	</div>
	<div id="methodsTab">
		<div id="methodsAccordion">
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">由optionName定</span>
				<span class="description-method-demo">.jdatapager("option" , optionName , [value])</span>
			</h3>
			<div>
				<p>获取或设置option中optionName的值。</p>
			</div>
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">无特殊返回值</span>
				<span class="description-method-demo">.jdatapager("option" , options)</span>
			</h3>
			<div>
				<p>设置option的值为options。</p>
			</div>
		</div>
	</div>
	<div id="themingTab">
		<p>标准样式如下：</p>
		<pre class="brush: html;">
            
    &lt;input type="text" id="txt_datapicker" readonly="readonly"&gt;
    &lt;div id="txt_datapicker_outDiv" class="jui-datetimepicker" style="display: block; "&gt;
        &lt;div id="txt_datapicker_headDiv" class="jui-datetimepicker-dhead jui-datetimepicker-corner-all"&gt;
            &lt;a id="txt_datapicker_prev" title="上一页" class="jui-datetimepicker-al jui-datetimepicker-corner-all"&gt;
                &lt;span class="ui-icon ui-icon-circle-triangle-w"&gt;&nbsp;&lt;/span&gt;
            &lt;/a&gt;
            &lt;a id="txt_datapicker_next" title="下一页" class="jui-datetimepicker-ar jui-datetimepicker-corner-all"&gt;
                &lt;span class="ui-icon ui-icon-circle-triangle-e"&gt;&nbsp;&lt;/span&gt;
            &lt;/a&gt;
            &lt;div id="txt_datapicker_yearDiv" class="jui-datetimepicker-dhcenter"&gt;
                &lt;select class="jui-datetimepicker-select"&gt;
                    &lt;option value="2002"&gt;2002年&lt;/option&gt;
                    &lt;option value="2012" selected="selected"&gt;2012年&lt;/option&gt;
                &lt;/select&gt;
                &lt;select class="jui-datetimepicker-select"&gt;
                    &lt;option value="0"&gt;一月&lt;/option&gt;
                    &lt;option value="9" selected="selected"&gt;十月&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;table id="txt_datapicker_tb" class="jui-datetimepicker-table"&gt;
            &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;span class="jui-datetimepicker-week" title="星期日"&gt;日&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;span class="jui-datetimepicker-week" title="星期一"&gt;一&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;span class="jui-datetimepicker-week" title="星期二"&gt;二&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;span class="jui-datetimepicker-week" title="星期三"&gt;三&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;span class="jui-datetimepicker-week" title="星期四"&gt;四&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;span class="jui-datetimepicker-week" title="星期五"&gt;五&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;span class="jui-datetimepicker-week" title="星期六"&gt;六&lt;/span&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href="#" class=""&gt;&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;1&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;2&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;3&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;4&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;5&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;6&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;7&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;8&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;9&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;10&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;11&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;12&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;13&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;&lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;14&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;15&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;16&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;17&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;18&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;19&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;20&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;&lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;21&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-now"&gt;22&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;23&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;24&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;25&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;26&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;27&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;&lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;28&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;29&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;30&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class="jui-datetimepicker-table-tr-a"&gt;31&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class=""&gt;&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class=""&gt;&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href="#" class=""&gt;&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
		</pre>
	</div>
</div>
