@{
    ViewBag.Title = "datetimepickerHtml";
}

@section head{
    <link href="@Url.Content("~/Content/jUI/jui.jdatetimepicker.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jdatetimepicker.js")"></script>
    <script type="text/javascript">
        $(function () {
            //默认显示年月日
            $("#txt_datapicker").jdatetimepicker();
        })
    </script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<h2>datetimepickerHtml</h2>
<input type="text" id="txt_datapicker" />
<div style="width:40%;height:20%;border:4px solid silver;background-color:yellowgreen;"></div>