<div style="float:left; margin-left:20px;">
	<h1>字体颜色</h1>
	<p><span style="height: 14px; width: 14px; background-color: #ffffff; border: solid 1px black; display: inline-block;">&nbsp;</span><span>白色 ： #ffffff </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #000000; border: solid 1px black; display: inline-block;">&nbsp;</span><span>黑色 ： #000000 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #666666; border: solid 1px black; display: inline-block;">&nbsp;</span><span>灰色 ： #666666 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #094ab2; border: solid 1px black; display: inline-block;">&nbsp;</span><span>蓝色 ： #094ab2 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #cd0a0a; border: solid 1px black; display: inline-block;">&nbsp;</span><span>红色 ： #cd0a0a </span></p>
</div>
<div style="float:left; margin-left:20px;">
	<h1>底色</h1>
	<p><span style="height: 14px; width: 14px; background-color: #094ab2; border: solid 1px black; display: inline-block;">&nbsp;</span><span>蓝色 ： #094ab2 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #08419c; border: solid 1px black; display: inline-block;">&nbsp;</span><span>选中后蓝色 ： #08419c </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #f3f3f3; border: solid 1px black; display: inline-block;">&nbsp;</span><span>背景灰色 ： #f3f3f3 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #d4d4d4; border: solid 1px black; display: inline-block;">&nbsp;</span><span>选中后灰色 ： #d4d4d4 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #e2e2e2; border: solid 1px black; display: inline-block;">&nbsp;</span><span>高亮灰色 ： #e2e2e2 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #fef1ec; border: solid 1px black; display: inline-block;">&nbsp;</span><span>浅红 ： #fef1ec </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #f0f0f0; border: solid 1px black; display: inline-block;">&nbsp;</span><span>白底 ： #f0f0f0 </span></p>
</div>
<div style="float:left; margin-left:20px;">
	<h1>线的颜色</h1>
	<p><span style="height: 14px; width: 14px; background-color: #cccccc; border: solid 1px black; display: inline-block;">&nbsp;</span><span>浅灰(用的较多) ： #cccccc </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #666666; border: solid 1px black; display: inline-block;">&nbsp;</span><span>灰色 ： #666666 </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #bababa; border: solid 1px black; display: inline-block;">&nbsp;</span><span>文本框边线 ： #bababa </span></p>
	<p><span style="height: 14px; width: 14px; background-color: #cd0a0a; border: solid 1px black; display: inline-block;">&nbsp;</span><span>红色 ： #cd0a0a </span></p>
</div>
<div style="float:left; margin-left:20px;">
	<h1>字体大小</h1>
	<p><span>基本字体h6 ： 14px </span><span style="font-size: 14px;">测试字体</span></p>
	<p><span>递增尺寸h5 ： 16px </span><span style="font-size: 16px;">测试字体</span></p>
	<p><span>递增尺寸h4 ： 18px </span><span style="font-size: 18px;">测试字体</span></p>
	<p><span>递增尺寸h3 ： 20px </span><span style="font-size: 20px;">测试字体</span></p>
	<p><span>递增尺寸h2 ： 24px </span><span style="font-size: 24px;">测试字体</span></p>
	<p><span>递增尺寸h1 ： 28px </span><span style="font-size: 28px;">测试字体</span></p>
</div>
