@{
	ViewBag.Title = "leftMenu";
}

<h2>leftMenu</h2>

@section head{
	<script type="text/javascript">
		$(function ()
		{
			$("#demoTabs").tabs();
			$("#descriptionTabs").tabs();
			$("#optionsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#eventsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#methodsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
		});
	</script>

	<link href="@Url.Content("~/Content/jUI/jui.jleftMenu.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jleftMenu.js")"></script>

	<script type="text/javascript">
		$(function ()
		{
			$("#leftMenu1").jleftMenu({
				items: [{ top: 20, text: "菜单A", isSelect: true },
				{ text: "菜单B" },
				{ text: "菜单C" },
				{ top: 20, text: "菜单D" }],
				onClick: function (index, text)
				{
					$("#action1").text("您点击的是：" + text + "菜单（index=" + index + "）。");
				}
			});
		});
	</script>

}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}


<div id="demoTabs">
	<ul>
		<li><a href="#tab1">默认</a></li>
	</ul>
	<div id="tab1">
		<div style="width: 200px; background-color: #f3f3f3;">
			<div id="leftMenu1"></div>
		</div>
		<span id="action1" style="display:block;"></span>
		<pre class="brush: js; html-script: true; collapse:true;" title="查看源代码">
			&lt;div style="width: 200px; background-color: #f3f3f3;"&gt;
				&lt;div id="leftMenu1"&gt;&lt;/div&gt;
			&lt;/div&gt;
			&lt;span id="action1"&gt;&lt;/span&gt;

			&lt;script type="text/javascript"&gt;
			$(function ()
			{
				$("#leftMenu1").jleftMenu({
					items: [{ top: 20, text: "菜单A", isSelect: true },
					{ text: "菜单B" },
					{ text: "菜单C" },
					{ top: 20, text: "菜单D" }],
					onClick: function (index, text)
					{
						$("#action1").text("您点击的是：" + text + "菜单（index=" + index + "）。");
					}
				});
			});
			&lt;/script&gt;
		</pre>
	</div>
</div>
<div id="descriptionTabs">
	<ul>
		<li><a href="#overviewTab">综述</a></li>
		<li><a href="#optionsTab">选项</a></li>
		<li><a href="#eventsTab">事件</a></li>
		<li><a href="#methodsTab">方法</a></li>
		<li><a href="#themingTab">主题</a></li>
	</ul>
	<div id="overviewTab">
		<p>用于生成一个左侧边栏的菜单。(目前仅支持一级菜单)</p>
	</div>
	<div id="optionsTab">
		<div id="optionsAccordion">
			<h3>
				<span class="description-option-name">items</span>
				<span class="description-option-type">Array</span>
				<span class="description-option-value">[{ top: 20, text: "这是一个空的LeftMenu", isSelect: true }]</span>
			</h3>
			<div>
				<p>初始化时设置菜单项的列表。</p>
				<pre class="brush: js;">
					items:
						[item,item...]	//使用item列表为其赋值

					item:
						text			//菜单内的文本
						[top]			//Default:0		离上一个菜单的距离
						[isSelect]		//Default:false	菜单是否被选中(如设置多个，仅最后一个有效)
				</pre>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#leftMenu1").jleftMenu({
						items: [{ top: 20, text: "菜单A", isSelect: true },
						{ text: "菜单B" },
						{ text: "菜单C" },
						{ top: 20, text: "菜单D" }],
						onClick: function (index, text)
						{
							$("#action1").text("您点击的是：" + text + "菜单（index=" + index + "）。");
						}
					});
				</pre>
				<p>获取</p>
				<pre class="brush: js;">
					//获取
					var items = $("#leftMenu1").jdatapager( "option", "items" );
				</pre>
			</div>
		</div>
	</div>
	<div id="eventsTab">
		<div id="eventsAccordion">
			<h3>
				<span class="description-event-name">onClick</span>
				<span class="description-event-returnType">Null</span>
			</h3>
			<div>
				<p>点击菜单项时引发的事件。</p>
				<p>参数列表：</p>
				<pre class="brush: js;">
					index		//点击的菜单项的索引
					text		//点击的菜单项的文本
				</pre>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#leftMenu1").jleftMenu({
						items: [{ top: 20, text: "菜单A", isSelect: true },
						{ text: "菜单B" },
						{ text: "菜单C" },
						{ top: 20, text: "菜单D" }],
						onClick: function (index, text)
						{
							$("#action1").text("您点击的是：" + text + "菜单（index=" + index + "）。");
						}
					});
				</pre>
			</div>
		</div>
	</div>
	<div id="methodsTab">
		<div id="methodsAccordion">
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">由optionName定</span>
				<span class="description-method-demo">.jleftMenu("option" , optionName , [value])</span>
			</h3>
			<div>
				<p>获取或设置option中optionName的值。</p>
			</div>
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">无特殊返回值</span>
				<span class="description-method-demo">.jleftMenu("option" , options)</span>
			</h3>
			<div>
				<p>设置option的值为options。</p>
			</div>
		</div>
	</div>
	<div id="themingTab">
		<p>标准样式如下：</p>
		<pre class="brush: html;">
			&lt;div id="test" class="jui-leftMenu"&gt;
				&lt;div class="jui-leftMenu-item"&gt;文件A&lt;/div&gt;
				&lt;div class="jui-leftMenu-item"&gt;文件B&lt;/div&gt;
				&lt;div class="jui-leftMenu-item-active"&gt;文件C&lt;/div&gt;
				&lt;div class="jui-leftMenu-item"&gt;文件D&lt;/div&gt;
			&lt;/div&gt;
		</pre>
	</div>
</div>
