@{
	ViewBag.Title = "leftMenu";
}

@section head{
	<style type="text/css">
	</style>
	<script type="text/javascript">
		function aaaaaa(a,b,c)
		{
			if (a)
			{
				alert(a);
			}
			if (b != undefined)
			{
				alert(b);
			}
		}

		aaaaaa();
		alert("无参数完成");
		aaaaaa(true);
		alert("一参数完成");
		aaaaaa("bcd", "abc");
		alert("二参数完成");
</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<h2>leftMenu</h2>

<div id="bb" style="background-color: gray; position: relative; left: 500px; top: 100px; width: 150px; /*display: table-cell; vertical-align: middle; */" class="ui-helper-clearfix">
	<span style="background-color: blue; float: left;">aaa<br />
		bbb</span>
	<div id="aa" style="background-color: red; height: 100%; position: relative; float: left; display: table-cell; vertical-align: middle;">
		<span style="background-color: blue; display: block;">z</span>
	</div>
</div>

<div style="background-color: red; height: 150px; width: 15px; position: absolute;">
	<div style="display: table-cell; vertical-align: middle; background-color: green; height: 100%;">
		<span style="background-color: blue; display: block;">z</span>
	</div>
</div>
