@{
    ViewBag.Title = "linkButton";
}

@section head{
	<link href="@Url.Content("~/Content/jUI/css/jui.jlinkButton.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/jUI/css/jui.jbutton.css")" rel="stylesheet" type="text/css" />
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}

<h2>linkButton</h2>
<input type="button" class="jui-linkButton" value="一个添加有linkButton样式的input标签"/>




