@{
    ViewBag.Title = "linkHtml";
}

@section head{
	<link href="@Url.Content("~/Content/jUI/jui.jlink.css")" rel="stylesheet" type="text/css" />
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}

<h2>linkHtml</h2>
<a class="jui-jlink-link">一个添加有link样式的a标签</a>



