@{
    ViewBag.Title = "link";
}

@section head{
  @*  <style type="text/css">
        .jui-jlink-link {
            color:#094ab2;
            cursor:pointer;
            text-decoration:none;
        }
            .jui-jlink-link:hover {
                background-color:transparent;
                text-decoration:underline;
            }
    </style>*@
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}

<h2>link</h2>
<a class="jui-link">一个添加有link样式的a标签</a>



