@{
    ViewBag.Title = "linkButtonHtml";
}

@section head{
    <style type="text/css">
        
        input[type="button"], input[type="submit"], input[type="reset"]
        {
            border-width: 0px;
            background-color: #094ab2;
            cursor: pointer;
            color: #ffffff;
        }

         input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover
         {
           background-color: #073d92;
         }
        .jui-jlinkButton {
            background:none !important;
            border:none !important;
            color:#094ab2 !important;
            cursor:pointer;            
        }
        .jui-jlinkButton:hover {
            text-decoration:underline;
            background:none !important;
        }
    </style>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}

<h2>linkButtonHtml</h2>
<input type="button" class="jui-jlinkButton" value="一个添加有linkButton样式的input标签"/>


