@{
	ViewBag.Title = "multiSelect.cshtml";
}

@section head{
	<link href= "@Url.Content("~/Content/jUI/chosen.css")" rel="stylesheet" />
	<script src="@Url.Content("~/Scripts/jUI/chosen.jquery.js")" type="text/javascript" ></script>
	<script src="@Url.Content("~/Scripts/jUI/jui.jselect.js")" type="text/javascript"></script>
	<script type="text/javascript">

		$(function () {
		
			$("#showSelect").jSelect({
				placeholder: "请国家选择(可以多选)",
				width: "200px",
				model: "multiple",
				onSelectChange:function (selectValue, selectText) {
					if (selectValue != null) {
						var textList = selectText.substring(0, selectText.length-1).split('　');
						var content = "";
						for (var i = 0; i < selectValue.length ; i++) {
							content += "英文名称为:" + selectValue[i] + "中文名称为:" + textList[i] + "；"
						}
						alert("选择的内容为：" + content.substring(0, content.length-1));
					} else {
						alert("您清空了所有选择");
					}
				}
			});

	
		});
	</script>

}

@section header{

}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}


<h2>selectHtml</h2>
<div id="showSelect">
</div>

