@{
	ViewBag.Title = "radio.cshtml";
}

@section head{
	<script src="@Url.Content("~/Scripts/jUI/jui.jradio.js")"></script>
}

@section header{

}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}


<h2>radio</h2>

<h3>选择你喜欢的运动</h3>
<input id="radio1" type="radio" value="篮球" name="radio" /><label for="radio1">篮球</label>
<input id="radio2" type="radio" value="足球" name="radio" /><label for="radio2">足球</label>
<input id="radio3" type="radio" value="排球" name="radio" /><label for="radio3">排球</label>
<input id="radio4" type="radio" value="羽毛球" name="radio" /><label for="radio4">羽毛球</label>

