@{
	ViewBag.Title = "radioHtml.cshtml";
}

@section head{
	<style type="text/css">
		.jui-radio
		{
			padding-left: 24px;
			display: inline-block;
			background: transparent url(/Content/jUI/images/jui-jradio.png) no-repeat 0px 0px;
			height: 22px;
			line-height: 21px;
			cursor: pointer;
			vertical-align: middle;
		}

		.jui-radio-checked
		{
			background-position: 0px -21px;
		}
		.jui-radio-label
		{
			 cursor: pointer;
		}
	</style>
	<script type="text/javascript">

		$(function () {

			$(":radio").after("<span class='jui-radio'></span>").click(function () {//单选按钮的点击事件
				if ($(this).is(':checked')) {
					$(this).next().siblings().removeClass("jui-radio-checked");//同级有该效果的全部去除
					$(this).next().addClass("jui-radio-checked");
					$(this).checked = true;
				} else {
					$(this).next().removeClass("jui-radio-checked");
					$(this).checked = false;

				}
			}).hide().next().click(function () {//图标的点击事件
				$(this).siblings().removeClass("jui-radio-checked");
				if (!$(this).prev().is(":checked")) {
					$(this).prev()[0].checked = true;
					$(this).addClass("jui-radio-checked");
				}
			}).next().mouseover(function (event) {
				$(this).addClass('jui-radio-label');
				event.stopPropagation();
			}).mouseout(function (event) {

				event.stopPropagation();
			});

		});

	</script>
}

@section header{

}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}


<h2>radio</h2>

<h3>选择你喜欢的运动(单选)</h3>
<input id="radio1" type="radio" value="篮球" name="radio" /><label for="radio1">篮球</label>
<input id="radio2" type="radio" value="足球" name="radio" /><label for="radio2">足球</label>
<input id="radio3" type="radio" value="排球" name="radio" /><label for="radio3">排球</label>
<input id="radio4" type="radio" value="羽毛球" name="radio" /><label for="radio4">羽毛球</label>


