@{
    ViewBag.Title = "scrollBarHtml.cshtml";
}
<script src="~/Scripts/jUI/jiu.jscrollbar.js"></script>
<script src="~/Scripts/jUI/jquery.mousewheel.js"></script>
<link href="~/Content/jUI/css/jui.jscrollbar.css" rel="stylesheet" />
@section head{

}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}


<h2>scrollBarHtml</h2>

<script type="text/javascript">
	$(function () {
		$("#scrollDiv").css({ "width": "300", "height": "300", "margin": "100 100 100 100", "border": "1px solid black" });
		$("#scrollDiv").jscrollbar({
		    handleBgColor: 'darkGray' //滑块背景色
			, handleInColor: 'lightGray'//鼠标移入滑块后背景色
			, buttonColor: 'silver'//按钮颜色
			, buttonClickColor: 'darkGray'//按钮点击后颜色
			, scrollWrapColor: 'silver'//滚动条背景色

		});
	})
</script>


<div id="scrollDiv">
	<div style="width:1200px;height:100px;font-size:3em; background:silver;">
	<div style="width:600px;height:100px;font-size:2em; background:silver;float:left;">S</div>
	<div style="width:600px;height:100px;font-size:2em; background:silver;float:right;">E</div></div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">2</div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">3</div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">5</div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">6</div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">7</div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">8</div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">9</div>
	<div style="width:100px;height:100px;font-size:3em; background:silver;">10</div>
</div>