@{
	ViewBag.Title = "sortSelect";
}
<h2>sortSelect</h2>

@section head{
	<script type="text/javascript">
		$(function () {
			$("#demoTabs").tabs();
			$("#descriptionTabs").tabs();
			$("#optionsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#eventsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#methodsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
		});
	</script>

	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jsortSelect.js")"></script>

	<script type="text/javascript">
	    $(function () {

	        $("#showSortSelect").jsortSelect({
	            items: [{ sortColumn: "Id", text: "编号" },
					{ sortColumn: "Age", text: "年龄",sortType: "desc" },
					{ sortColumn: "finishData", text: "完成日期", sortType: "asc" },
					{ sortColumn: "size", text: "大小", sortType: "desc" }
	            ],
	            onSortChange: function (sortColumn, text, sortType) {
	               
	                    alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);
	            
				}
				
			});


			$("#showSortSelect2").jsortSelect({
				item: null,
				onSortChange: function (sortColumn, text, sortType) {
				    alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);
				}
			});

			$("#btnSelect").click(function () {
			    var selectObj = $("#showSortSelect").jsortSelect("getSelectedItem");
				alert("选择的字段名称为:" + selectObj.sortColumn + ";显示名称为:" + selectObj.text + ";排序方式为:" + selectObj.sortType);

	
			});

			$("#btnSet").click(function () {
			    $("#showSortSelect").jsortSelect("option", "sortItem", { sortColumn: "Age", sortType: "desc" });
			});
		});

	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<div id="demoTabs">
	<ul>
		<li><a href="#tab1">默认效果</a></li>
		<li><a href="#tab2">无数据</a></li>
	</ul>
	<div id="tab1">
		<div id="showSortSelect"></div>
		<input id="btnSelect" type="button" value="获取选择的值" style="margin-left:25px;" />
        <input id="btnSet" type="button" value="点击排序" style="margin-left:25px;" />
		<br>
		<a class="viewSource" onclick="viewSource(this);">View Source</a>
		<pre class="brush: js; html-script: true;">
			&lt;div id="showSortSelect"&gt;&lt;/div&gt;
			&lt;input id="btnSelect" type="button" value="获取选择的值" /&gt;
			  &lt;script type="text/javascript"&gt;
	            $(function () {
	        
			$("#showSortSelect").jsortSelect({
				items: [{ sortColumn: "Id", text: "编号" },
					{ sortColumn: "Age", text: "年龄", sortType: "desc" },
					{ sortColumn: "finishData", text: "完成日期", sortType: "asc" },
					{ sortColumn: "size", text: "大小", sortType: "desc" }
				],
				onSortChange: function (sortColumn,text, sortType) {
					alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);
				}
				
			});
			$("#btnSelect").click(function () {
				var selectObj = $("#showSortSelect").jsortSelect("getSelectedItem");
				
				alert("选择的字段名称为:" + selectObj.sortColumn + ";显示名称为:" + selectObj.text + ";排序方式为:" + selectObj.sortType);

	
			});

	            });
	        &lt;/script&gt;
  
		</pre>
	</div>
	<div id="tab2">
		<div id="showSortSelect2"></div>
		<br />
		<a class="viewSource" onclick="viewSource(this);">View Source</a>
		<pre class="brush: js; html-script: true;">
			&lt;div id="showSortSelect2"&gt;&lt;/div&gt;
	        &lt;script type="text/javascript"&gt;
	       $(function () {
	        	$("#showSortSelect2").jsortSelect({
						items: null,
						onSortChange: function (sortColumn, text, sortType) {
							alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);
						}
						});
	            });
	        &lt;/script&gt;
		</pre>
	</div>
</div>

<div id="descriptionTabs">
	<ul>
		<li><a href="#overviewTab">综述</a></li>
		<li><a href="#optionsTab">选项</a></li>
		<li><a href="#eventsTab">事件</a></li>
		<li><a href="#methodsTab">方法</a></li>
		<li><a href="#themingTab">主题</a></li>
	</ul>
	<div id="overviewTab">
		<p>排序专用的select控件</p>
	</div>
	<div id="optionsTab">
		<div id="optionsAccordion">
			<h3>
				<span class="description-option-name">items</span>
				<span class="description-option-type">Array</span>
				<span class="description-option-value">[{ name: "finishData", text: "完成日期", sortType: "asc" }]</span>
			</h3>
			<div>
				<p>排序字段的数据源</p>
				<pre class="brush: js;">
				
				items：[{item},{item}];//使用item列表为其赋值
						item:
							sortColumn       //下拉框实际值
							text        //下拉框显示的值
							[sortType]		//排序方式 可选参数 默认是升序(asc)， 设置降序(sortType:"desc") 
										//asc和desc区分大小写 使用时请用小写
						
				</pre>
				<p>初始化</p>
				<pre class="brush: js;">
				$("#showSortSelect").jsortSelect({
						items: [{ sortColumn: "Id", text: "编号" },
							{ sortColumn: "Age", text: "年龄",sortType: "desc" },
							{ sortColumn: "finishData", text: "完成日期", sortType: "asc" },
							{ sortColumn: "size", text: "大小", sortType: "desc" }
						],
						onSortChange: function (sortColumn,text, sortType) {
							alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);
						}
				
						});		
				</pre>
				<p>获取</p>
				<pre class="brush: js;">
					//获取(返回的是一个对象)
					var items = $("#showSortSelect").jdatapager( "option", "items" );	
				</pre>
			</div>
		</div>
	</div>
	<div id="eventsTab">
		<div id="eventsAccordion">

            <h3>
				<span class="description-event-name">onSortChange</span>
				<span class="description-event-returnType">Null</span>
			</h3>
			
			<div>
				<p>点击排序字段或者排序方式时触发</p>
				<p>参数列表：</p>
				<pre class="brush: js;">
                    sortColumn   //选择实际值
					text    //选择显示的值
					sortType    //选择排序方式
				</pre>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#showSortSelect").jsortSelect({
						items: [{ sortColumn: "Id", text: "编号" },
							{ sortColumn: "Age", text: "年龄", sortType: "desc" },
							{ sortColumn: "finishData", text: "完成日期", sortType: "asc" },
							{ sortColumn: "size", text: "大小", sortType: "desc" }
						],
						onSortChange: function (sortColumn,text, sortType) {
							alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);
						}
				
						});		
				</pre>
			</div>

            <h3>
				<span class="description-event-name">sortItem</span>
				<span class="description-event-returnType">Null</span>
			</h3>
            <div>
				<p>选中项的设置</p>
				<p>参数列表：</p>
				<pre class="brush: js;">
                    sortColumn   //选择实际值
					sortType    //选择排序方式
				</pre>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#showSortSelect").jsortSelect({
						items: [{ sortColumn: "Id", text: "编号" },
							{ sortColumn: "Age", text: "年龄", sortType: "desc" },
							{ sortColumn: "finishData", text: "完成日期", sortType: "asc" },
							{ sortColumn: "size", text: "大小", sortType: "desc" }
						],
						onSortChange: function (sortColumn,text, sortType) {
							alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);
						}
				
						});	
                    //设置	
                    $("#showSortSelect").jsortSelect("option", "sortItem", { sortColumn: "Age", sortType: "desc" });

				</pre>
			</div>
		</div>
	</div>
	<div id="methodsTab">
		<div id="methodsAccordion">
			<h3>
				<span class="description-method-name">getSelectedItem</span>
				<span class="description-method-returnType">object</span>
			
			</h3>
			<div>
				<p>获取值</p>
				<pre class="brush: js;">
               var selectObj = $("#showSortSelect").jsortSelect("getSelectedItem"); 
				//该对象有三个属性 sortColumn(选中值) text(显示值) sort(排序方式)
				$("#btnSelect").click(function () {
				var selectObj = $("#showSortSelect").jsortSelect("getSelectedItem");
				alert("选择的字段名称为:" + selectObj.sortColumn + ";显示名称为:" + selectObj.text + ";排序方式为:" + selectObj.sortType);
			});
				</pre>
			</div>
			
			
		</div>
	</div>
	<div id="themingTab">
		<p>标准样式如下：</p>
		<pre class="brush: html;">
			
&lt;span id="tag" style="cursor: pointer; border: 1px solid red;"&gt;排序方式:&lt;span id="content" style="cursor: pointer" data-sortType="asc" data-sortColumn="name"&gt;名称/span&gt;&lt;span
	class="jui-jsortSelect-downBtn"&gt;&nbsp;&nbsp;&lt;/span&gt;&lt;/span&gt;
	&lt;ul class="jui-jsortSelect-ul" id="testUl"&gt;
	&lt;li data-sortColumn="name" default="asc" class="action"&gt;名称&lt;/li&gt;
	&lt;li data-sortColumn="startDate" default="desc"&gt;创建日期&lt;/li&gt;
	&lt;li data-sortColumn="finisthDate" default="desc"&gt;完成日期&lt;/li&gt;
	&lt;li data-sortColumn="size" default="desc"&gt;大小&lt;/li&gt;
	&lt;div&gt;
		&lt;hr style="margin: 12px" /&gt;
		&lt;ul id="testUl2">
			&lt;li class="action"&gt;升序&lt;/li&gt;
			&lt;li&gt;降序&lt;/li&gt;
		&lt;/ul&gt;

	&lt;/div&gt;

&lt;/ul&gt;
		&lt;/pre&gt;
	&lt;/div&gt;
&lt;/div&gt;

		</pre>
	</div>
</div>
