@{
    ViewBag.Title = "tableHtml";
}

@section head{
    
	<style type="text/css">     
        .jui-table {
            border:1px solid #ffffff;
            width:100%;
            height:20%;
        }
	        .jui-table a {
                text-decoration:none;
	        }
	        .jui-table a:hover {
                background-color:transparent;
	        }
            /*行样式切换*/
            /*鼠标覆盖*/
            .jui-table .jui-table-over{
                background-color:#e2e2e2;
            }
            /*鼠标移出*/
            .jui-table .jui-table-out{
                background-color:#f3f3f3;
            }
            /*鼠标点击*/
            .jui-table .jui-table-click{    
                background-color:#d4d4d4;
            }

	        .jui-table .jui-table-tr-td {
	            text-align: left; 
                vertical-align: top;
                 height: auto; 
                 width: auto;
                 padding:2px 2px 5px 5px;
            }
    </style>
    
	<script type="text/javascript">
	    $(function () {
	        var table = $("#tab");
	        var $tr = table.children("tbody").find('tr');
	        var doubleTr = table.children("tbody").find("tr:odd");
	        var singleTr = table.children("tbody").find("tr:even");
	        var hoverClassToggle = function (obj) {
	            obj.mouseover(function () {
	                if ($(this).attr("Lock") == "false") {
	                    $(this).removeClass().addClass("jui-table-hover");
	                }
	            });
	            if (obj == singleTr) {
	                obj.mouseout(function () {
	                    if ($(this).attr("Lock") == "false") {
	                        $(this).removeClass().addClass("jui-table-odd");
	                    }
	                });
	            } else if (obj == doubleTr) {
	                obj.mouseout(function () {
	                    if ($(this).attr("Lock") == "false") {
	                        $(this).removeClass().addClass("jui-table-even");
	                    }
	                });
	            }
	        }
	        hoverClassToggle(singleTr);
	        hoverClassToggle(doubleTr);
	        $tr.mousedown(function () {
	            singleTr.attr("Lock", "false").removeClass("jui-table-Active").addClass("jui-table-odd");
	            doubleTr.attr("Lock", "false").removeClass("jui-table-Active").addClass("jui-table-even");
	            $(this).attr("Lock", "true").removeClass().addClass("jui-table-Active");
	        });
	        table.find("span").css("cursor","default");
	    });
	</script>

}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<h2>tableHtml</h2>
<div id="MyTable1">
    <table id="tab" class="jui-table">
        <thead class="jui-table-head">
            <tr>
                <td class="jui-table-tr-td">
                    <span title="名称1">名称1</span>
                </td>
                <td class="jui-table-tr-td">
                    <span title="名称2">名称2</span>
                </td>
                <td class="jui-table-tr-td">
                    <span title="名称3">名称3</span>
                </td>
                <td class="jui-table-tr-td">
                    <span title="操作">操作</span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="jui-table-odd" lock="false">
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td">
                        <span>
                            <a href="#" onclick="">Edit</a>|
                            <a href="#" onclick="">Detail</a>|
                            <a href="#" onclick="">Delete</a>
                        </span>
                    </td>
                </tr>     
            <tr class="jui-table-even" lock="false">
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td">
                        <span>
                            <a href="#" onclick="">Edit</a>|
                            <a href="#" onclick="">Detail</a>|
                            <a href="#" onclick="">Delete</a>
                        </span>
                    </td>
                </tr> 
            <tr class="jui-table-odd" lock="false">
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td">
                        <span>
                            <a href="#" onclick="">Edit</a>|
                            <a href="#" onclick="">Detail</a>|
                            <a href="#" onclick="">Delete</a>
                        </span>
                    </td>
                </tr>   
            <tr class="jui-table-even" lock="false">
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td"><span title="some words">some words</span></td>
                    <td class="jui-table-tr-td">
                        <span>
                            <a href="#" onclick="">Edit</a>|
                            <a href="#" onclick="">Detail</a>|
                            <a href="#" onclick="">Delete</a>
                        </span>
                    </td>
                </tr>   
        </tbody>
    </table>
</div>