@{
    ViewBag.Title = "table";
}

<h2>table</h2>

@section head{
	<script type="text/javascript">
		$(function ()
		{
			$("#demoTabs").tabs();
			$("#descriptionTabs").tabs();
			$("#optionsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#eventsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#methodsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
		});
	</script>

	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jtable.js")"></script>
    <script src="~/Scripts/jUI/jui.jsortSelect.js"></script>

	<script type="text/javascript">
	    //编辑
	    function ActionEdit(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name)
	    }
	    //删除
	    function ActionDetail(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
	    //详细
	    function ActionDelete(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
		$(function ()
		{
		    $("#MyTable1").jtable({
		        tableHeight: '20%', //表高
		        tableWidth: '100%', //表宽
		        data:
                    [
                        { "ID": 1, "Name": "AAAAA", "Id": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Id": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" },
                        { "ID": 3, "Name": "CCCCCC", "Id": "cccccc", "Name3": "cccccc3", "Name4": "cccccc4", "Name5": "cccccc5" },
                        { "ID": 4, "Name": "DDDDDD", "Id": "dddddd", "Name3": "dddddd3", "Name4": "dddddd4", "Name5": "dddddd5" },
                        { "ID": 5, "Name": "EEEEEEE", "Id": "eeeeeee", "Name3": "eeeeeee3", "Name4": "eeeeeee4", "Name5": "eeeeeee5" },
                        { "ID": 6, "Name": "FFFFFFF", "Id": "ffffffff", "Name3": "ffffffff3", "Name4": "ffffffff4", "Name5": "ffffffff5" },
                        { "ID": 7, "Name": "GGGGG", "Id": "gggggg", "Name3": "gggggg3", "Name4": "gggggg4", "Name5": "gggggg5" }
                    ], //数据源
		        columns:
                    [
		                {
		                    head: "名称1",				                                    //名称
		                    context: "#Name(#Name2)(#ID)",			            //#Name(#Name2)(#ID)
		                    maxLength: 5,			                                        //文本最大长度，0不限制
		                    head_align: "left",                                             //[left], center, right
		                    v_align: "top",		                                            //[top], middle, bottom
		                    h_align: "left",		                                            //[left], center, right
		                    height: "auto",			                                        //150px, 10%
		                    width: "auto"			                                        //150px, 10%
                            , sortColumn: ""                                                //排序列
                            , sortType: "desc"                                              //排序规则
		                },
		                { head: "编号", context: "#Id", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto", sortColumn: "Name2", sortType: "asc" },
		                { head: "年龄", context: "#Name3", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto", sortColumn: "Name3", sortType: "desc" },
		                { head: "完成日期", context: "#Name4", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto", sortColumn: "Name4", sortType: "asc" },
		                { head: "大小", context: "#Name5", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto", sortColumn: "Name5", sortType: "desc" },
		                { head: "操作",context: "<a href='#' onclick=ActionEdit(#ID,'#Name','#Name2')>Edit</a>|<a href='#' onclick=ActionDetail(#ID,'#Name','#Name2')>Detail</a>|<a href='#' onclick=ActionDelete(#ID,'#Name','#Name2')>Delete</a>",
		                    maxLength: 5,head_align: "left",v_align: "top",h_align: "left",height: "auto",width: "auto"}
                    ]//列名                
		        , sortItem: { sortColumn: "Name5", sortType: "asc" }
                , onSortChange: function (sortColumn, head, sortType) {
                    $("#sort").jsortSelect("option", "sortItem", { sortColumn: sortColumn, sortType: sortType });
                }
		    });

		    $("#dd").click(function () {
		        $("#MyTable1").jtable("option", "sortItem", { sortColumn: "Name4", sortType: "desc" });
		    });
		    $("#sort").jsortSelect({
		        items: [{ sortColumn: "Name2", text: "编号" },
					{ sortColumn: "Name3", text: "年龄", sortType: "desc" },
					{ sortColumn: "Name4", text: "完成日期", sortType: "asc" },
					{ sortColumn: "Name5", text: "大小", sortType: "desc" }
		        ],
		        onSortChange: function (sortColumn, text, sortType) {

		            alert("选择的字段名称为:" + sortColumn + ";显示名称为:" + text + ";排序方式为:" + sortType);

		        }

		    });
		});
	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}


<div id="demoTabs">
	<ul>
		<li><a href="#tab1">默认</a></li>
	</ul>
	<div id="tab1">
        <div id="sort"></div>
		<div id="MyTable1"></div>
        <input id="dd" value="设置排序列" type="button" />

        <a class="viewSource" onclick="viewSource(this);">View Source</a>
    <pre class="brush: js; html-script: true;">
&lt;div id="MyTable1"&gt;
&lt;script type="text/javascript"&gt;
	    //编辑
	    function ActionEdit(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name)
	    }
	    //删除
	    function ActionDetail(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
	    //详细
	    function ActionDelete(id, name, name2) {
	        alert("id:" + id + "\n" + "name:" + name + "\n" + "userName:" + name2)
	    }
		$(function ()
		{
		    $("#MyTable1").jtable({
		        tableHeight: '30%', //表高
		        tableWidth: '100%', //表宽
		        data:
                    [
                        { "ID": 1, "Name": "AAAAA", "Name2": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Name2": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" },
                        { "ID": 3, "Name": "CCCCCC", "Name2": "cccccc", "Name3": "cccccc3", "Name4": "cccccc4", "Name5": "cccccc5" },
                        { "ID": 4, "Name": "DDDDDD", "Name2": "dddddd", "Name3": "dddddd3", "Name4": "dddddd4", "Name5": "dddddd5" },
                        { "ID": 5, "Name": "EEEEEEE", "Name2": "eeeeeee", "Name3": "eeeeeee3", "Name4": "eeeeeee4", "Name5": "eeeeeee5" },
                        { "ID": 6, "Name": "FFFFFFF", "Name2": "ffffffff", "Name3": "ffffffff3", "Name4": "ffffffff4", "Name5": "ffffffff5" },
                        { "ID": 7, "Name": "GGGGG", "Name2": "gggggg", "Name3": "gggggg3", "Name4": "gggggg4", "Name5": "gggggg5" }
                    ], //数据源
		        columns:
                    [
		                { head: "名称1", context: "#Name(#Name2)(#ID)", maxLength：5, head_align:"left", v_align: "top", h_align: "left", height: "auto", width:"auto"},
		                { head: "名称2", context: "#Name2", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto" },
		                { head: "名称3", context: "#Name3", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto" },
		                { head: "名称4", context: "#Name4", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto" },
		                { head: "名称5", context: "#Name5", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto" },
		                { head: "操作",context: "&lt;a href='#' onclick=ActionEdit(#ID,'#Name','#Name2')&gt;Edit&lt;/a&gt;|&lt;a href='#' onclick=ActionDetail(#ID,'#Name','#Name2')&gt;Detail&lt;/a&gt;|&lt;a href='#' onclick=ActionDelete(#ID,'#Name','#Name2')&gt;Delete&lt;/a&gt;",
		                    maxLength: 5,head_align: "left",v_align: "top",h_align: "left",height: "auto",width: "auto"}
		            ]//列名
		        , sortItem: { sortColumn: "#Name5", sortType: "asc" }
                , onSortChange: function (sortColumn, head, sortType) {
                    alert(sortColumn + "\n" + head + "\n" + sortType);
                }
		    });
		});
&lt;/script&gt;
	</pre>
	</div>	
</div>
<div id="descriptionTabs">
	<ul>
		<li><a href="#overviewTab">综述</a></li>
		<li><a href="#optionsTab">选项</a></li>
		<li><a href="#eventsTab">事件</a></li>
		<li><a href="#methodsTab">方法</a></li>
		<li><a href="#themingTab">主题</a></li>
	</ul>
	<div id="overviewTab">
		<p>用于生成一个表格</p>
	</div>
	<div id="optionsTab">
		<div id="optionsAccordion">
			<h3>
				<span class="description-option-name">columns</span>
				<span class="description-option-type">Array</span>
				<span class="description-option-value">[]</span>
			</h3>
			<div>
				<p>获取或设置表格头部数据</p>                
				<pre class="brush: js;">
					items:
						[
                            item,item
                            ...
                        ]	//使用item列表为其赋值

					item:
		                    head: "名称名称名称名称",				                        //名称
		                    context: "#Name(#Name2)(#ID)",			                        //#Name(#Name2)(#ID)
		                    maxLength: 5,			                                        //文本最大长度，0不限制
		                    head_align: "left",                                             //[left], center, right
		                    v_align: "top",		                                            //[top], middle, bottom
		                    h_align: "left",		                                        //[left], center, right
		                    height: "auto",			                                        //150px, 10%
		                    width: "auto"			                                        //150px, 10%
				</pre>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myTable").jtable({columns:[{head: "名称1", context: "#Name", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto"}]});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var columns = $("#myTable").jtable( "option", "columns" );
					//设置
					$("#myTable").jtable("option", { "columns":[{head: "名称2", context: "#Name2", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto"}]});
				</pre>
			</div>
			<h3>
				<span class="description-option-name">data</span>
				<span class="description-option-type">Array</span>
				<span class="description-option-value">[]</span>
			</h3>
			<div>
				<p>获取或设置每页显示数据。</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myTable").jtable({ data:[
                        { "ID": 1, "Name": "AAAAA", "Name2": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Name2": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" }]});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var data = $("#myTable").jtable( "option", "data" );
					//设置
					$("#myTable").jtable("option", { data: [
                        { "ID": 1, "Name": "AAAAA", "Name2": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Name2": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" }] });
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[tableHeight]</span>
				<span class="description-option-type">String</span>
				<span class="description-option-value">''</span>
			</h3>
			<div>
				<p>获取或设置表格高度。</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myTable").jtable({ tableHeight: '30%' });
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var tableHeight = $("#myTable").jtable( "option", "tableHeight" );
					//设置
					$("#myTable").jtable("option", { tableHeight: '30%' });
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[tableWidth]</span>
				<span class="description-option-type">String</span>
				<span class="description-option-value">''</span>
			</h3>
			<div>
				<p>获取或设置表格宽度。</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#tableWidth").jtable({ tableWidth: '90%'});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var tableWidth = $("#myTable").jtable( "option", "tableWidth" );
					//设置
					$("#myTable").jtable("option", { tableWidth: '90%' });
				</pre>
			</div>
		</div>
	</div>
	<div id="eventsTab">
	</div>
	<div id="methodsTab">
		<div id="methodsAccordion">
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">由optionName定</span>
				<span class="description-method-demo">.jtable("option" , optionName , [value])</span>
			</h3>
			<div>
				<p>获取或设置option中optionName的值。</p>
			</div>
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">无特殊返回值</span>
				<span class="description-method-demo">.jtable("option" , options)</span>
			</h3>
			<div>
				<p>设置option的值为options。</p>
			</div>
			<h3>
				<span class="description-method-name">currentData</span>
				<span class="description-method-returnType">选中行数据</span>
				<span class="description-method-demo">.jtable("currentData")</span>
			</h3>
			<div>
				<p>获取选中行数据</p>
			</div>
		</div>
	</div>
	<div id="themingTab">
		<p>标准样式如下：</p>
		<pre class="brush: html;">
&lt;div id="MyTable1" class="jui-table"&gt;
    &lt;table id="MyTable1_tableSorter" style="width:100%;height:30%;"&gt;
        &lt;thead&gt;
            &lt;tr style="color: rgb(255, 255, 255); "&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto; padding-left: 2px; padding-right: 2px; padding-top: 5px; padding-bottom: 5px;background-color: rgb(9, 74, 178);"&gt;
                    &lt;span class="jui-table-columnHeadImage"&gt;&lt;/span&gt;
                    &lt;span style="cursor:default;" title="名称1"&gt;名称1&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto; padding-left: 2px; padding-right: 2px; padding-top: 5px; padding-bottom: 5px; background-color: rgb(9, 74, 178);"&gt;
                    &lt;span style="cursor:default;" title="名称2"&gt;名称2&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto; padding-left: 2px; padding-right: 2px; padding-top: 5px; padding-bottom: 5px;background-color: rgb(9, 74, 178);"&gt;
                    &lt;span style="cursor:default;" title="名称3"&gt;名称3&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto; padding-left: 2px; padding-right: 2px; padding-top: 5px; padding-bottom: 5px;background-color: rgb(9, 74, 178);"&gt;
                    &lt;span style="cursor:default;" title="名称4"&gt;名称4&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto; padding-left: 2px; padding-right: 2px; padding-top: 5px; padding-bottom: 5px;background-color: rgb(9, 74, 178);"&gt;
                    &lt;span style="cursor:default;" title="名称5"&gt;名称5&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto; padding-left: 2px; padding-right: 2px; padding-top: 5px; padding-bottom: 5px;background-color: rgb(9, 74, 178);"&gt;
                    &lt;span style="cursor:default;" title="操作"&gt;操作&lt;/span&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr lock="false" class="jui-table-out"&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto;padding-left: 2px; padding-right: 2px;padding-top:5px;padding-bottom:5px;"&gt;
                    &lt;span class="jui-table-columnHeadImage"&gt;&lt;/span&gt;
                    &lt;span style="display:none;"&gt;1&lt;/span&gt;
                    &lt;span style="cursor:default;" title="AAAAA(aaaaa)(1)"&gt;AAAAA...&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto;padding-left: 2px; padding-right: 2px;padding-top:5px;padding-bottom:5px;"&gt;
                    &lt;span style="cursor:default;" title="aaaaa"&gt;aaaaa&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto;padding-left: 2px; padding-right: 2px;padding-top:5px;padding-bottom:5px;"&gt;
                    &lt;span style="cursor:default;" title="aaaaa3"&gt;aaaaa...&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto;padding-left: 2px; padding-right: 2px;padding-top:5px;padding-bottom:5px;"&gt;
                    &lt;span style="cursor:default;" title="aaaaaa4"&gt;aaaaa...&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto;padding-left: 2px; padding-right: 2px;padding-top:5px;padding-bottom:5px;"&gt;
                    &lt;span style="cursor:default;" title="aaaaaaaa5"&gt;aaaaa...&lt;/span&gt;
                &lt;/td&gt;
                &lt;td style="text-align: left; vertical-align: top; height: auto; width: auto;padding-left: 2px; padding-right: 2px;padding-top:5px;padding-bottom:5px;"&gt;
                    &lt;span&gt;&lt;a href="#" onclick="ActionEdit(1,'AAAAA','aaaaa')"&gt;Edit&lt;/a&gt;|&lt;a href="#" onclick="ActionDetail(1,'AAAAA','aaaaa')"&gt;Detail&lt;/a&gt;|&lt;a href="#" onclick="ActionDelete(1,'AAAAA','aaaaa')"&gt;Delete&lt;/a&gt;&lt;/span&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
    &lt;span id="dis_checkedItems" style="display:none;"&gt;&lt;/span&gt;
&lt;/div&gt;
		</pre>
	</div>
</div>


