
@{
	ViewBag.Title = "text";
}
<h2>text</h2>

@section head{
	<script type="text/javascript">
		$(function () {
			$("#demoTabs").tabs();
			$("#descriptionTabs").tabs();
			$("#optionsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#eventsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#methodsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
		});
	</script>
 

<script src="@Url.Content("~/Scripts/jUI/jui.jradio.js")"></script>
    <script type="text/javascript">
     
    </script>
	<script type="text/javascript">
		$(function () {
		    $("#radioContent2").jradio();
		    $("#radioContent1").jradio();
		    $("#radioContent3").jradio();
		    $("#intBtn").click(function () {
		        var obj = $("#txt_Int");
		        CheckInt(obj, $("#txt_MinInt").val(), $("#txt_MaxInt").val());
		    });
		  


		    $("#doubleBtn").click(function () {
		        var obj = $("#txt_double");
		        var minFlag = ("true" == $("input[name=radio1]:checked").val()) ? true : false;
		        var maxFlag = ("true" == $("input[name=radio2]:checked").val()) ? true : false;
		        CheckDouble(obj, $("#txt_MinDouble").val(), minFlag, $("#txt_MaxDouble").val(), maxFlag);
		    });
		    

		    $("#StringBtn").click(function () {
		        var length =  parseInt( $("#txt_StringLength").val()); //长度
		        var arrayList = new Array();//删除的字符
		        var deleteString = $("#txt_DeleteString").val();//需要删除的字符
		        if (deleteString != ""&& deleteString!=null) {
		            var deleteList = deleteString.split(',');
		            for (var deleteItem in deleteList) {
		                arrayList.push(deleteList[deleteItem]);
		            }
		        }
		        var reg = $("#txt_RegString").val().toString(); //匹配的正则表达式  
		        var isAscii = ("true" == $("input[name=radio3]:checked").val()) ? true : false;
		        CheckString($("#txt_String"),length, arrayList, reg, isAscii);
		    });

		    $("#btnSum").click(function () {
		        var obj1 = $("#txt_NumOne");
		        var obj2 = $("#txt_NumTwo");
		        CheckNumComparison(obj1, obj2, "sum");
		      
		    });

		    $("#btnEqual").click(function () {
		        var obj3 = $("#txt_NumPassword");
		        var obj4 = $("#txt_NumPassword2");
		      
		        CheckNumComparison(obj3,obj4,"equal");
		    });
		});

	   
		function CheckNumComparison(o1, o2, tag) {
		    if ("sum" == tag) { //求和
		        try{
		            $("#" + o2.attr("id") + "_span").html(parseFloat(o1.val()) + parseFloat(o2.val()));
		        } catch (err) {
		            $("#" + o2.attr("id") + "_span").html("数据异常,请检查");
		        }
		    }
		    if ("equal"==tag) { //比较
		    if (o1.val() == o2.val()) {
		        o2.removeClass("jtext-err");
		        $("#" + o2.attr("id") + "_span").html("两次输入相等");
		    } else {
		        o2.addClass("jtext-err");
		        $("#" + o2.attr("id") + "_span").html("两次输入不相等");
		    }
		  }

		}


		function CheckString(o, length, array, reg, isAscii) {//对象 长度 多虑字 正则 ascii编码
		    if (o.val().length > length) {
		        o.addClass("jtext - err");
		        $("#" + o.attr("id") + "_span").html("输入的字符串长度不能超过:" + length+"位数");
		        return false;
		    } else {
		        if (array != null && array!="") {
		            var contentHtml = o.val();
		         
		            for (var i = 0; i < array.length; i++) {
		                var dl = "/" + array[i] + "/g";
		                contentHtml = contentHtml.replace(eval(dl),"");
		            }
		            o.val(contentHtml);
		        }
		        if (reg != null && reg != "") {
		            var regLimit = eval(reg);
		        
		            if (regLimit.test(o.val())) {
		                o.removeClass("jtext-err");
		                $("#" + o.attr("id") + "_span").html("成功");
		                return true;
		            } else {
		                o.addClass("jtext-err");
		                $("#" + o.attr("id") + "_span").html("输入的内容不符合要求");
		                return false;
		            
		            }
		        }
		        if (isAscii) {
		            var regHtml = /^[^\x00-\xff]*$/;
		            if (regHtml.test(o.val())) {

		                o.addClass("jtext-err");
		                $("#" + o.attr("id") + "_span").html("请输入ascii码");
		                return false;
		            } 
		        } else {
		           
		            o.removeClass("jtext-err");
		            $("#" + o.attr("id") + "_span").html("成功");
		            return true;
		        
		        }
                

		    }

		}
		function CheckDouble(o, min,minFlag, max,maxFlag) {//对象 最小值 最大值 
		    var reg = /^[-|+]?([1-9]\d*\.\d*|0\.\d*[1-9]\d*|0?\.0+|0)$/;//匹配通用浮点数
		    var err = "请输入浮点数";
		    if (reg.test(o.val())) {
		        var includ1 = (  parseFloat( o.val()) >=parseFloat( max));
		        var includ2 = (parseFloat( o.val())< parseFloat(min));
		        if (!minFlag) {
		            includ2 = (parseFloat( o.val()) <= parseFloat( min));
		        }
		        if(maxFlag){
		            includ1 = ( parseFloat( o.val())>parseFloat(max));
		        }
		        if (includ1 || includ2) { 
		            o.addClass("jtext-err");
		            $("#" + o.attr("id") + "_span").html("输入的浮点数范围:" + min + "到" + max);
		            return false;
		         } else {
		            o.removeClass("jtext-err");
		            $("#" + o.attr("id") + "_span").html("成功");
		            return true;
		        }

		    } else {
		        o.addClass("jtext-err");
		        $("#" + o.attr("id") + "_span").html(err);
		        return false;
		    }

		}

		function CheckInt(o, min, max) { //对象 类别 最小值 最大值
		    var reg = /^[-|+]?([1-9]\d*|0)$/;
		    var err = "请输入整数";
		    if (reg.test(o.val())) { //是整数
		        if ( parseInt( o.val()) >= parseInt(max) ||  parseInt( o.val()) < parseInt(min)) {
		            o.addClass("jtext-err");
		            $("#" + o.attr("id") + "_span").html("输入的整数范围为:" + min + "到" + max);
		            return false;
		        } else {
		            o.removeClass("jtext-err");
		            $("#" + o.attr("id") + "_span").html("成功");
		            return true;
		        }
		    } else {
		        o.addClass("jtext-err");
		        $("#" + o.attr("id") + "_span").html(err);
		        return false;
		    }
		}

	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<div id="demoTabs">

	<ul>
		<li><a href="#tab1">整数验证</a></li>
        <li><a href="#tab2">小数验证</a></li>
		<li><a href="#tab3">字符串验证</a></li>
		<li><a href="#tab4">数据比较</a></li>
	</ul>
	<div id="tab1">
               
            <div class="ui-helper-clearfix">
               最小值:<input id="txt_MinInt" type="text"  style=" width:55px;"/>
                最大值:<input id="txt_MaxInt" type="text"  style=" width:55px;"/>
            <div class="display-label">整数验证:</div>
            <div class="display-field">
            
                <input id="txt_Int" type="text" name="txt_int" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_Int_span"></span>
            
                <input id="intBtn" type="button" value="整数验证查看" />
            </div>
        </div>
     
		<br>
		<a class="viewSource" onclick="viewSource(this);">View Source</a>
		<pre class="brush: js; html-script: true;">

              &lt;div class="ui-helper-clearfix"&gt;
                  最小值:&lt;input id="txt_MinInt" type="text"  style=" width:55px;"/&gt;
                  最大值:&lt;input id="txt_MaxInt" type="text"  style=" width:55px;"/&gt;
              &lt;div class="display-label"&gt;整数验证:&lt;/div&gt;
              &lt;div class="display-field"&gt;
               
              &lt;input id="txt_Int" type="text" name="txt_int" style="width: 200px; margin-left: 0px;" /&gt;
              &lt;br /&gt;
              &lt;span id="txt_Int_span"&gt;&lt;/span&gt;
              
              &lt;input id="intBtn" type="button" value="整数验证查看" /&gt;
              &lt;/div&gt;
              &lt;/div&gt;
              &lt;script type="text/javascript"&gt;
                    $("#intBtn").click(function () {
		               var obj = $("#txt_Int");
		               CheckInt(obj, $("#txt_MinInt").val(), $("#txt_MaxInt").val());
		           });

                   function CheckInt(o, min, max) { //对象 类别 最小值 最大值
		              var reg = /^[-|+]?([1-9]\d*|0)$/;
		              var err = "请输入整数";
		             if (reg.test(o.val())) { //是整数
		                 if ( parseInt( o.val()) >= parseInt(max) ||  parseInt( o.val()) < parseInt(min)) {
		                    o.addClass("jtext-err");
		                    $("#" + o.attr("id") + "_span").html("输入的整数范围为:" + min + "到" + max);
		                    return false;
		                  } else {
		                    o.removeClass("jtext-err");
		                    $("#" + o.attr("id") + "_span").html("成功");
		                    return true;
		                 }
		              } else {
		                o.addClass("jtext-err");
		                $("#" + o.attr("id") + "_span").html(err);
		                return false;
		             }
		             }
               &lt;/script&gt;
		</pre>
	</div>


    	<div id="tab2">


			<div class="ui-helper-clearfix">  
          最小值:<input id="txt_MinDouble" type="text"  style=" width:80px;"/>  
          是否包含:<div id="radioContent1" style="display:inline-block;">
        <input id="radio6" type="radio" value="true" name="radio1"  checked/><label for="radio6">是</label>
        <input id="radio5" type="radio" value="flag" name="radio1" /><label for="radio5">否</label>
        </div>
         <br />
             最大值:<input id="txt_MaxDouble" type="text"  style=" width:80px;"/>
           是否包含:<div id="radioContent2" style="display:inline-block;">
        <input id="radio3" type="radio" value="true" name="radio2"  checked/><label for="radio3">是</label>
        <input id="radio4" type="radio" value="flag" name="radio2" /><label for="radio4">否</label>
        </div>
            <div class="display-label">浮点数验证:</div>
            <div class="display-field">
                <input id="txt_double" type="text" name="txt_double" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_double_span"></span>
                <input id="doubleBtn" type="button" value="浮点数验证查看" />
            </div>
        </div>

        
		<br />
		<a class="viewSource" onclick="viewSource(this);">View Source</a>
		<pre class="brush: js; html-script: true;">

          &lt;div class="ui-helper-clearfix"&gt;  
              最小值:&lt;input id="txt_MinDouble" type="text"  style=" width:80px;"/&gt;  
              是否包含:&lt;div id="radioContent1" style="display:inline-block;"&gt;
          &lt;input id="radio6" type="radio" value="true" name="radio1"  checked/&gt; &lt;label for="radio6">是 &lt;/label&gt;
          &lt;input id="radio5" type="radio" value="flag" name="radio1" /&gt; &lt;label for="radio5">否 &lt;/label&gt;
          &lt;/div>
          &lt;br />
             最大值:&lt;input id="txt_MaxDouble" type="text"  style=" width:80px;"/&gt;
             是否包含:&lt;div id="radioContent2" style="display:inline-block;"&gt;
         &lt;input id="radio3" type="radio" value="true" name="radio2"  checked/&gt; &lt;label for="radio3"&gt;是 &lt;/label&gt;
         &lt;input id="radio4" type="radio" value="flag" name="radio2" /&gt; &lt;label for="radio4"&gt;否 &lt;/label&gt;
         &lt;/div>
         &lt;div class="display-label"&gt;浮点数验证:&lt;/div&gt;
         &lt;div class="display-field"&gt;
         &lt;input id="txt_double" type="text" name="txt_double" style="width: 200px; margin-left: 0px;" /&gt;/&gt;
          &lt;br /&gt;
          &lt;span id="txt_double_span"&gt; &lt;/span&gt;
          &lt;input id="doubleBtn" type="button" value="浮点数验证查看" /&gt;
          &lt;/div&gt;
          &lt;/div&gt;
	          &lt;script type="text/javascript"&gt;

                      $("#doubleBtn").click(function () {
	                	        var obj = $("#txt_double");
	                	        var minFlag = ("true" == $("input[name=radio1]:checked").val()) ? true : false;
	                	        var maxFlag = ("true" == $("input[name=radio2]:checked").val()) ? true : false;
	                	        CheckDouble(obj, $("#txt_MinDouble").val(), minFlag, $("#txt_MaxDouble").val(), maxFlag);
	                	    });   
	                	});

	                	
	                	function CheckDouble(o, min,minFlag, max,maxFlag) {//对象 最小值 最大值 
	                	    var reg = /^[-|+]?([1-9]\d*\.\d*|0\.\d*[1-9]\d*|0?\.0+|0)$/;//匹配通用浮点数
	                	    var err = "请输入浮点数";
	                	    if (reg.test(o.val())) {
	                	        var includ1 = (  parseFloat( o.val()) >=parseFloat( max));
	                	        var includ2 = (parseFloat( o.val())< parseFloat(min));
	                	        if (!minFlag) {
	                	            includ2 = (parseFloat( o.val()) <= parseFloat( min));
	                	        }
	                	        if(maxFlag){
	                	            includ1 = ( parseFloat( o.val())>parseFloat(max));
	                	        }
	                	        if (includ1 || includ2) { 
	                	            o.addClass("jtext-err");
	                	            $("#" + o.attr("id") + "_span").html("输入的浮点数范围:" + min + "到" + max);
	                	            return false;
	                	         } else {
	                	            o.removeClass("jtext-err");
	                	            $("#" + o.attr("id") + "_span").html("成功");
	                	            return true;
	                	        }

	                	    } else {
	                	        o.addClass("jtext-err");
	                	        $("#" + o.attr("id") + "_span").html(err);
	                	        return false;
	                	    }

	                	}
                           &lt;/script&gt;
		</pre>
	</div>

	<div id="tab3">
	<div class="ui-helper-clearfix">
                字符串长度:<input id="txt_StringLength" type="text"  style=" width:155px;"/><br />
                删除的字符:<input id="txt_DeleteString" type="text"  style=" width:155px;"/><br />
                正则表达式:<input id="txt_RegString" type="text"  style=" width:155px;"/><br />
                是否包含Ascii:<div id="radioContent3" style="display:inline-block;">
        <input id="radio7" type="radio" value="true" name="radio3"  checked/><label for="radio7">是</label>
        <input id="radio8" type="radio" value="flag" name="radio3" /><label for="radio8">否</label>
        </div>
            <div class="display-label">字符串:</div>
            <div class="display-field">
            
                <input id="txt_String" type="text" name="txt_String" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_String_span"></span>
            
                <input id="StringBtn" type="button" value="字符串验证查看" />
            </div>
        </div>
    
		<br>
		<a class="viewSource" onclick="viewSource(this);">View Source</a>
		<pre class="brush: js; html-script: true;">
        &lt;div class="ui-helper-clearfix"&gt;
        字符串长度:&lt;input id="txt_StringLength" type="text"  style=" width:155px;"/&gt;&lt;br /&gt;
        删除的字符:&lt;input id="txt_DeleteString" type="text"  style=" width:155px;"/&gt;&lt;br /&gt;
        正则表达式:&lt;input id="txt_RegString" type="text"  style=" width:155px;"/&gt;&lt;br /&gt;
        是否包含Ascii:&lt;div id="radioContent3" style="display:inline-block;"&gt;
        &lt;input id="radio7" type="radio" value="true" name="radio3"  checked/&gt;&lt;label for="radio7"&gt;是&lt;/label&gt;
        &lt;input id="radio8" type="radio" value="flag" name="radio3" /&gt;&lt;label for="radio8"&gt;否&lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="display-label"&gt;字符串:&lt;/div&gt;
        &lt;div class="display-field"&gt;
        &lt;input id="txt_String" type="text" name="txt_String" style="width: 200px; margin-left: 0px;" /&gt;
        &lt;br /&gt;
        &lt;span id="txt_String_span"&gt;&lt;/span&gt;
        &lt;input id="StringBtn" type="button" value="字符串验证查看" /&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;script type="text/javascript"&gt;

           $("#StringBtn").click(function () {
		        var length =  parseInt( $("#txt_StringLength").val()); //长度
		        var arrayList = new Array();//删除的字符
		        var deleteString = $("#txt_DeleteString").val();//需要删除的字符
		        if (deleteString != ""&& deleteString!=null) {
		            var deleteList = deleteString.split(',');
		            for (var deleteItem in deleteList) {
		                arrayList.push(deleteList[deleteItem]);
		            }
		        }
		        var reg = $("#txt_RegString").val().toString(); //匹配的正则表达式  
		        var isAscii = ("true" == $("input[name=radio3]:checked").val()) ? true : false;
		        CheckString($("#txt_String"),length, arrayList, reg, isAscii);
		    });
          function CheckString(o, length, array, reg, isAscii) {//对象 长度 多虑字 正则 ascii编码
		    if (o.val().length > length) {
		        o.addClass("jtext - err");
		        $("#" + o.attr("id") + "_span").html("输入的字符串长度不能超过:" + length+"位数");
		        return false;
		     } else {
		        if (array != null && array!="") {
		            var contentHtml = o.val();
		            for (var i = 0; i < array.length; i++) {
		                var dl = "/" + array[i] + "/g";
		                contentHtml = contentHtml.replace(eval(dl),"");
		            }
		            o.val(contentHtml);
		        }
		        if (reg != null && reg != "") {
		            var regLimit = eval(reg);
		            if (regLimit.test(o.val())) {
		                o.removeClass("jtext-err");
		                $("#" + o.attr("id") + "_span").html("成功");
		                return true;
		            } else {
		                o.addClass("jtext-err");
		                $("#" + o.attr("id") + "_span").html("输入的内容不符合要求");
		                return false;
		            }
		        }
		        if (isAscii) {
		            var regHtml = /^[^\x00-\xff]*$/;
		            if (regHtml.test(o.val())) {
		                o.addClass("jtext-err");
		                $("#" + o.attr("id") + "_span").html("请输入ascii码");
		                return false;
		            } 
		        } else {
		            o.removeClass("jtext-err");
		            $("#" + o.attr("id") + "_span").html("成功");
		            return true;
		        }
		    }
		 }
        &lt;/script&gt;
		</pre>
	</div>

  <div id="tab4">
	 	<div class="ui-helper-clearfix">       
    第一个数:<input id="txt_NumOne" type="text" />第二个数:<input id="txt_NumTwo" type="text" /><span id="txt_NumTwo_span"></span><input id="btnSum" type="button" value="求和" /><br /><br />
    第一个数:<input id="txt_NumPassword" type="password" />第二个数:<input id="txt_NumPassword2" type="password" /><span id="txt_NumPassword2_span"></span><input id="btnEqual" type="button" value="相等" />
         </div>
		<br />
		<a class="viewSource" onclick="viewSource(this);">View Source</a>
		<pre class="brush: js; html-script: true;">
            &lt;div class="ui-helper-clearfix"&gt;      
                第一个数:&lt;input id="txt_NumOne" type="text" /&gt;  第二个数:&lt;input id="txt_NumTwo" type="text" /&gt;&lt;span id="txt_NumTwo_span"&gt;&lt;/span&gt;&lt;input id="btnSum" type="button" value="求和" /&gt;&lt;br /&gt;&lt;br /&gt;
                第一个数:&lt;input id="txt_NumPassword" type="password" /&gt;第二个数:&lt;input id="txt_NumPassword2" type="password" /&gt;&lt;span id="txt_NumPassword2_span"&gt;&lt;/span&gt;&lt;input id="btnEqual" type="button" value="相等" /&gt;
           &lt;/div&gt;

           &lt;script type="text/javascript"&gt;
                     $("#btnSum").click(function () {
		                   var obj1 = $("#txt_NumOne");
		                   var obj2 = $("#txt_NumTwo");
		                   CheckNumComparison(obj1, obj2, "sum");
		               });
		             $("#btnEqual").click(function () {
		                   var obj3 = $("#txt_NumPassword");
		                   var obj4 = $("#txt_NumPassword2");
		                   CheckNumComparison(obj3,obj4,"equal");
		               });
              		function CheckNumComparison(o1, o2, tag) {
	          	        if ("sum" == tag) { //求和
	          	             try{
	          	                 $("#" + o2.attr("id") + "_span").html(parseFloat(o1.val()) + parseFloat(o2.val()));
	          	             } catch (err) {
	          	                 $("#" + o2.attr("id") + "_span").html("数据异常,请检查");
	          	             }
	          	        }
	          	        if ("equal"==tag) { //比较
	          	             if (o1.val() == o2.val()) {
	          	                 o2.removeClass("jtext-err");
	          	                 $("#" + o2.attr("id") + "_span").html("两次输入相等");
	          	             } else {
	          	                 o2.addClass("jtext-err");
	          	                 $("#" + o2.attr("id") + "_span").html("两次输入不相等");
	          	             }
	          	      }
		          }
           &lt;/script&gt;
		</pre>
	</div>

</div>

<div id="descriptionTabs">
	<ul>
		<li><a href="#overviewTab">综述</a></li>
		<li><a href="#optionsTab">选项</a></li>
		<li><a href="#eventsTab">事件</a></li>
		<li><a href="#methodsTab">方法</a></li>
		<li><a href="#themingTab">主题</a></li>
	</ul>
	<div id="overviewTab">
		<p>text的验证</p>
	</div>
	<div id="optionsTab">
		<div id="optionsAccordion">
			<h3>
				<span class="description-option-name">null</span>
				<span class="description-option-type">null</span>
				<span class="description-option-value">null</span>
			</h3>
			<div>
				<p>暂无</p>
				
			</div>
		</div>
	</div>
	<div id="eventsTab">
		<div id="eventsAccordion">
			<h3>
				<span class="description-event-name">null</span>
				<span class="description-event-returnType">null</span>
			</h3>
			<div>
				<p>暂无</p>
			</div>
		</div>
	</div>
	<div id="methodsTab">
		<div id="methodsAccordion">
			<h3>
				<span class="description-method-name">暂无</span>
				<span class="description-method-returnType">暂无</span>
			</h3>
	


		</div>
	</div>
	<div id="themingTab">
		<p>见View Source</p>
		
	</div>
</div>
