@{
    ViewBag.Title = "searchHtml.cshtml";
}

@section head{
    <style type="text/css">
        .jtext
        {
        }

        .jtext-error
        {
            border: 1px solid red;
        }
    </style>
    <script type="text/javascript">
        $(function () {

            var checkLength = $("#txt_length");
            var checkChinese = $("#txt_chinese");
            var checkFloat = $("#txt_float");
            var checkEmail = $("#txt_email");
            var checkInt = $("#txt_int");
            var checkDouble = $("#txt_double");

            $("#btn_check").click(function () {
                var count = 0;

                if (!CheckIntReg(checkInt, -1, 5)) {
                    count += 1;
                }
                if (!CheckLength(checkLength, 1, 10)) {
                    count += 1;
                }
                if (!checkReg(checkFloat, /^[0-9]+\.[0-9]{2}$/, '请输入带两位小数的数值例如(1.00)')) {
                    count += 1;
                }

                if (!checkReg(checkChinese, /^[\u4E00-\u9FA5]{2,6}$/, '请输入2-6位的汉字')) {
                    count += 1;
                }

                if (!checkReg(checkEmail, /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/, '请输入正确的邮件地址例如(aaa@163.com)')) {
                    count += 1;
                }

                if (count == 0) {
                    alert('全部通过');
                }

            });

        });

        //检查长度的验证
        function CheckLength(o, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error"); //为当前错误添加
                $("#" + o.attr("id") + "_span").html("请输入" + min + "到" + max + "个字符");
                return false;
            } else {
                o.removeClass("ui-state-error");
                $("#" + o.attr("id") + "_span").html("");
                return true;
            }
        }


        //正则验证合法性
        function checkReg(o, reg, err) {

            if (!reg.test(o.val())) {
                o.addClass("ui-state-error");
                $("#" + o.attr("id") + "_span").html(err);
                return false;
            } else {
                o.removeClass("ui-state-error");
                $("#" + o.attr("id") + "_span").html("");
                return true;
            }
        }

        function CheckDoubleReg(o,min,max,type) {//对象 类别  最小值  最大值
            // ^[1-9]\d*\.\d*|0\.\d*[1-9]\d*$　　 匹配正浮点数
            //^-([1-9]\d*\.\d*|0\.\d*[1-9]\d*)$　 匹配负浮点数
            //^-?([1-9]\d*\.\d*|0\.\d*[1-9]\d*|0?\.0+|0)$　 匹配浮点数
            ///^[0-9]+\.[0-9]{2}$/


        }
        function CheckIntReg(o, min, max, type) { //对象 类别 最小值 最大值
            var reg = /^-?[1-9]\d*$/;
            var err = "请输入整数";

            if ("positive" == type) {
                reg = /^[1-9]\d*$/;
                err = "请输入正整数";
            }
            if ("negative" == type) {
                reg = /^-[1-9]\d*$/;
                err = "请输入负整数";
            }
            if (reg.test(o.val())) { //是整数
                if (o.val() > max || o.val() < min) {
                    o.addClass("jtext-error");
                    $("#" + o.attr("id") + "_span").html("输入的整数范围为:" + min + "到" + max);
                    return false;
                } else {
                    o.removeClass("jtext-error");
                    $("#" + o.attr("id") + "_span").html("");
                    return true;
                }
            } else {
                o.addClass("jtext-error");
                $("#" + o.attr("id") + "_span").html(err);
                return false;
            }
        }



    </script>

}

@section header{

}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}



<h2>searchHtml</h2>
<div class="jui-jSearch">
    <fieldset>
        <legend>样式以及验证</legend>

        <div class="ui-helper-clearfix">
            <div class="display-label">长度限制:</div>
            <div class="display-field">
                <input id="txt_length" type="text" name="txt_length" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_length_span"></span>
            </div>
        </div>

        <div class="ui-helper-clearfix">
            <div class="display-label">整数验证:</div>
            <div class="display-field">
                <input id="txt_int" type="text" name="txt_int" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_int_span"></span>
            </div>
        </div>


            <div class="ui-helper-clearfix">
            <div class="display-label">小数验证:</div>
            <div class="display-field">
                <input id="txt_double" type="text" name="txt_double" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_double_span"></span>
            </div>
        </div>

        <div class="ui-helper-clearfix">
            <div class="display-label">汉字的验证</div>
            <div class="display-field">
                <input id="txt_chinese" type="text" name="txt_chinese" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_chinese_span"></span>
            </div>
        </div>

        <div class="ui-helper-clearfix">
            <div class="display-label">两位小数的验证</div>
            <div class="display-field">
                <input id="txt_float" type="text" name="txt_float" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_float_span"></span>
            </div>
        </div>


        <div class="ui-helper-clearfix">
            <div class="display-label">邮件的验证</div>
            <div class="display-field">
                <input id="txt_email" type="text" name="txt_email" style="width: 200px; margin-left: 0px;" />
                <br />
                <span id="txt_email_span"></span>
            </div>
        </div>



        <p>
            <input type="button" id="btn_check" value="点击查看初步效果" /></p>
    </fieldset>


</div>

