@{  
    ViewBag.Title = "tipHtml.cshtml";
}

@section head{
    <style type="text/css">
        .jui-jtip
        {
        }


        .jui-jtip-w-arrowhead
        {
            background-image: url(/Content/images/jui-jtip-carat-w-cccccc.png);
            background-repeat: no-repeat;
            height: 13px;
            width: 7px;
        }

        .jui-jtip-w-arrowhead-error
        {
            background-image: url(/Content/images/jui-jtip-carat-w-fef1ec.png);
            background-repeat: no-repeat;
            height: 13px;
            width: 7px;
        }


        .jui-jtip-n-arrowhead
        {
            background-image: url(/Content/images/jui-jtip-carat-n-cccccc.png);
            background-repeat: no-repeat;
            height: 7px;
            width: 13px;
        }

        .jui-jtip-n-arrowhead-error
        {
            background-image: url(/Content/images/jui-jtip-carat-n-fef1ec.png);
            background-repeat: no-repeat;
            height: 7px;
            width: 13px;
        }


        .jui-jitp-nomal-w-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }



        .jui-jtip-success-w-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }

        .jui-jtip-error-w-content
        {
            background-color: #cccccc;
            color: #cd0a0a;
        }



        .jui-jitp-nomal-n-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }



        .jui-jtip-success-n-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }

        .jui-jtip-error-n-content
        {
            background-color: #cccccc;
            color: #cd0a0a;
        }
    </style>

    <script type="text/javascript">

        $(function () {



            $("#Name-tip-nomal-conetent").position({
                of: $("#Name"),
                my: "left middle",
                at: "right middle",
                offset: '6 0'
            });
            $("#Name-tip-arrowhead").position({
                of: $("#Name"),
                my: "left middle",
                at: "right middle"
            });
            
          
            $("#Name").bind('mouseover', function () {
           

                $("#Name-tip-nomal-conetent").animate({ opacity: '1' },1000);
                $("#Name-tip-arrowhead").animate({ opacity: '1' }, 1000);
           
            });

            $("#Name").bind('mouseout', function () {

                $("#Name-tip-nomal-conetent").animate({ opacity: '0' }, 1000);
                $("#Name-tip-arrowhead").animate({ opacity: '0' }, 1000);
             
            });

            $("#Name-tip-nomal-success").position({
                of: $("#scuccess"),
                my: "left middle",
                at: "right middle",
                offset: '6 0'
            });
            $("#Div1").position({
                of: $("#scuccess"),
                my: "left middle",
                at: "right middle"
            });

            $("#scuccess").bind('mouseover', function () {
                $("#Name-tip-nomal-success").animate({ opacity: '1' }, 1000);
                $("#Div1").animate({ opacity: '1' }, 1000);
            });

            $("#scuccess").bind('mouseout', function () {
                $("#Name-tip-nomal-success").animate({ opacity: '0' }, 1000);
                $("#Div1").animate({ opacity: '0' }, 1000);

            });


            $("#Name-tip-nomal-error").position({
                of: $("#Error"),
                my: "left middle",
                at: "right middle",
                offset: '6 0'
            });
            $("#Div2").position({
                of: $("#Error"),
                my: "left middle",
                at: "right middle"
            });

            $("#Error").bind('mouseover', function () {
                $("#Name-tip-nomal-error").animate({ opacity: '1' }, 1000);
                $("#Div2").animate({ opacity: '1' }, 1000);
            });

            $("#Error").bind('mouseout', function () {
                $("#Name-tip-nomal-error").animate({ opacity: '0' }, 1000);
                $("#Div2").animate({ opacity: '0' }, 1000);

            });

            $("#Name1-tip-nomal-conetent").position({
                of: $("#Name1"),
                my: "center top",
                at: "center bottom",
                offset: '0 6'
            });
            $("#Name1-tip-arrowhead").position({
                of: $("#Name1"),
                my: "center top",
                at: "center bottom"
            });
            $("#Name1").bind('mouseover', function () {
                $("#Name1-tip-nomal-conetent").animate({ opacity: '1' }, 1000);
                $("#Name1-tip-arrowhead").animate({ opacity: '1' }, 1000);           
            });

            $("#Name1").bind('mouseout', function () {
                $("#Name1-tip-nomal-conetent").animate({ opacity: '0' }, 1000);
                $("#Name1-tip-arrowhead").animate({ opacity: '0' }, 1000);

            });




            $("#Name1-tip-nomal-success").position({
                of: $("#scuccess1"),
                my: "center top",
                at: "center bottom",
                offset: '0 6'
            });
            $("#Div11").position({
                of: $("#scuccess1"),
                my: "center top",
                at: "center bottom"
            });
            $("#scuccess1").bind('mouseover', function () {
                $("#Name1-tip-nomal-success").animate({ opacity: '1' }, 1000);
                $("#Div11").animate({ opacity: '1' }, 1000);
            });


            $("#scuccess1").bind('mouseout', function () {
                $("#Name1-tip-nomal-success").animate({ opacity: '0' }, 1000);
                $("#Div11").animate({ opacity: '0' }, 1000);

            });


            $("#Div22").position({
                of: $("#Error1"),
                my: "center top",
                at: "center bottom"
            });
            $("#Name1-tip-nomal-error").position({
                of: $("#Error1"),
                my: "center top",
                at: "center bottom",
                offset: '0 6'
            });

            $("#Error1").bind('mouseover', function () {
                $("#Name1-tip-nomal-error").animate({ opacity: '1' }, 1000);
                $("#Div22").animate({ opacity: '1' }, 1000);
            });


            $("#Error1").bind('mouseout', function () {
                $("#Name1-tip-nomal-error").animate({ opacity: '0' }, 1000);
                $("#Div22").animate({ opacity: '0' }, 1000);

            })

        });

    </script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{


}


<h2>鼠标移入文本框实现效果</h2>
<h3>左边提示效果</h3>
普通提示效果
<input id="Name" type="text" />

<div id="Name-tip-nomal-conetent" class="jui-jitp-nomal-w-content" style="width: 200px; filter: alpha(opacity = 0); opacity:0;">
    <span>请按规则填写</span>
</div>
<div id="Name-tip-arrowhead" class="jui-jtip-w-arrowhead" style="filter: alpha(opacity = 0); opacity:0;" >
</div>


正确提示效果
<input id="scuccess" type="text" />
<div>
    <div id="Name-tip-nomal-success" class="jui-jtip-success-w-content" style="width: 200px;filter: alpha(opacity = 0); opacity:0;">
        <span class="ui-icon ui-icon-check" style="float: left; margin-left: 3px; margin-top: 3px; margin-right: 3px;"></span><span>输入成功</span>
    </div>
</div>
<div id="Div1" class="jui-jtip-w-arrowhead"  style="filter: alpha(opacity = 0); opacity:0;">
</div>



错误提示效果
	<input id="Error" type="text" />
<div id="Name-tip-nomal-error" class="ui-state-error jui-jtip-error-w-content" style="width: 200px;filter: alpha(opacity = 0); opacity:0;">
    <span class="ui-icon ui-icon-alert" style="float: left; margin-left: 3px; margin-top: 3px; margin-right: 3px;"></span><span>对不起您的输入不合法</span>
</div>
<div id="Div2" class="jui-jtip-w-arrowhead-error"  style="filter: alpha(opacity = 0); opacity:0;">
</div>



<h3>底部提示效果</h3>
普通提示效果<input id="Name1" type="text" />
<div id="Name1-tip-nomal-conetent" class="jui-jitp-nomal-n-content" style="width: 100px;filter: alpha(opacity = 0); opacity:0;">
    <span>请输入英文字母或者下划线(_)或者数字的组合字符</span>
</div>
<div id="Name1-tip-arrowhead" class="jui-jtip-n-arrowhead"  style="filter: alpha(opacity = 0); opacity:0;">
</div>




正确提示效果
<input id="scuccess1" type="text" />
<div>
    <div id="Name1-tip-nomal-success" class="jui-jtip-success-n-content" style="width: 100px;filter: alpha(opacity = 0); opacity:0;">
        <span class="ui-icon ui-icon-check" style="float: left; margin-left: 3px; margin-top: 3px; margin-right: 3px;"></span><span>输入成功</span>
    </div>
</div>
<div id="Div11" class="jui-jtip-n-arrowhead"  style="filter: alpha(opacity = 0); opacity:0;">
</div>





错误提示效果
	<input id="Error1" type="text" />
<div id="Name1-tip-nomal-error" class="ui-state-error jui-jtip-error-n-content" style="width: 100px;filter: alpha(opacity = 0); opacity:0;">
    <span class="ui-icon ui-icon-alert" style="float: left; margin-left: 3px; margin-top: 3px; margin-right: 3px;"></span><span>对不起您的输入不合法</span>
</div>

<div id="Div22" class="jui-jtip-n-arrowhead-error"  style="filter: alpha(opacity = 0); opacity:0;">
</div>
