@{
    ViewBag.Title = "table";
}

<h2>table</h2>

@section head{
	<script type="text/javascript">
		$(function ()
		{
			$("#demoTabs").tabs();
			$("#descriptionTabs").tabs();
			$("#optionsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#eventsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
			$("#methodsAccordion").accordion({
				autoHeight: false,
				navigation: true
			});
		});
	</script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jtree.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jcheckTree.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jradioTree.js")"></script>

	<script type="text/javascript">
	    $(function () {
	        $("#tree1").jtree({
	            nodes: [
                    {
                        name: "父节点1", children: [
                            {
                                name: "父节点1-1", children: [
                                  { name: "子节点1-1-1" },
                                  { name: "子节点1-1-2" },
                                  { name: "子节点1-1-3" }
                                ]
                            },
                            {
                                name: "父节点1-2", children: [
                                    { name: "子节点1-2-1" },
                                    { name: "子节点1-2-2" },
                                    {
                                        name: "子节点1-2-3", children: [
                                            { name: "子节点1-2-3-1" },
                                            { name: "子节点1-2-3-2" },
                                            { name: "子节点1-2-3-3" }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点2", children: [
                            {
                                name: "父节点2-1", children: [
                                    { name: "子节点2-1-1" },
                                    { name: "子节点2-1-2" },
                                    { name: "子节点2-1-3" }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点3", children: [
                            { name: "父节点3-1" },
                            { name: "父节点3-2" },
                            { name: "父节点3-3" }
                        ]
                    }
	            ]
	        });

	        $("#tree2").jtree({
	            nodes: [
                    {
                        name: "父节点1", children: [
                            {
                                name: "父节点1-1", children: [
                                  { name: "子节点1-1-1" },
                                  { name: "子节点1-1-2" },
                                  { name: "子节点1-1-3" }
                                ]
                            },
                            {
                                name: "父节点1-2", children: [
                                    { name: "子节点1-2-1" },
                                    { name: "子节点1-2-2" },
                                    {
                                        name: "子节点1-2-3", children: [
                                            { name: "子节点1-2-3-1" },
                                            { name: "子节点1-2-3-2" },
                                            { name: "子节点1-2-3-3" }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点2", children: [
                            {
                                name: "父节点2-1", children: [
                                    { name: "子节点2-1-1" },
                                    { name: "子节点2-1-2" },
                                    { name: "子节点2-1-3" }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点3", children: [
                            { name: "父节点3-1" },
                            { name: "父节点3-2" },
                            { name: "父节点3-3" }
                        ]
                    }
	            ]
	        }).jcheckTree();


	        $("#tree3").jtree({
	            nodes: [
                    {
                        name: "父节点1", children: [
                            {
                                name: "父节点1-1", children: [
                                  { name: "子节点1-1-1" },
                                  { name: "子节点1-1-2" },
                                  { name: "子节点1-1-3" }
                                ]
                            },
                            {
                                name: "父节点1-2", children: [
                                    { name: "子节点1-2-1" },
                                    { name: "子节点1-2-2" },
                                    {
                                        name: "子节点1-2-3", children: [
                                            { name: "子节点1-2-3-1" },
                                            { name: "子节点1-2-3-2" },
                                            { name: "子节点1-2-3-3" }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点2", children: [
                            {
                                name: "父节点2-1", children: [
                                    { name: "子节点2-1-1" },
                                    { name: "子节点2-1-2" },
                                    { name: "子节点2-1-3" }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点3", children: [
                            { name: "父节点3-1" },
                            { name: "父节点3-2" },
                            { name: "父节点3-3" }
                        ]
                    }
	            ]
	        }).jradioTree({});

	    });
	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}


<div id="demoTabs">
	<ul>
		<li><a href="#tab1">基本树形结构</a></li>
		<li><a href="#tab2">带checkbox的树形结构</a></li>
		<li><a href="#tab3">带radiobox的树形结构</a></li>
	</ul>
	<div id="tab1">
		<div id="tree1"></div><a class="viewSource" onclick="viewSource(this);">View Source</a>
    <pre class="brush: js; html-script: true;">
&lt;div id="tree1"&gt;
&lt;script type="text/javascript"&gt;	    
	    $(function () {
	        $("#tree1").jtree({
	            nodes: [
                    {
                        name: "父节点1", children: [
                            {
                                name: "父节点1-1", children: [
                                  { name: "子节点1-1-1" },
                                  { name: "子节点1-1-2" },
                                  { name: "子节点1-1-3" }
                                ]
                            },
                            {
                                name: "父节点1-2", children: [
                                    { name: "子节点1-2-1" },
                                    { name: "子节点1-2-2" },
                                    {
                                        name: "子节点1-2-3", children: [
                                            { name: "子节点1-2-3-1" },
                                            { name: "子节点1-2-3-2" },
                                            { name: "子节点1-2-3-3" }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点2", children: [
                            {
                                name: "父节点2-1", children: [
                                    { name: "子节点2-1-1" },
                                    { name: "子节点2-1-2" },
                                    { name: "子节点2-1-3" }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点3", children: [
                            { name: "父节点3-1" },
                            { name: "父节点3-2" },
                            { name: "父节点3-3" }
                        ]
                    }
	            ]
	        });
	    });
&lt;/script&gt;
	</pre>
	</div>	
	<div id="tab2">
		<div id="tree2"></div><a class="viewSource" onclick="viewSource(this);">View Source</a>
    <pre class="brush: js; html-script: true;">
&lt;div id="tree2"&gt;
&lt;script type="text/javascript"&gt;	    
	    $(function () {
	        $("#tree2").jtree({
	            nodes: [
                    {
                        name: "父节点1", children: [
                            {
                                name: "父节点1-1", children: [
                                  { name: "子节点1-1-1" },
                                  { name: "子节点1-1-2" },
                                  { name: "子节点1-1-3" }
                                ]
                            },
                            {
                                name: "父节点1-2", children: [
                                    { name: "子节点1-2-1" },
                                    { name: "子节点1-2-2" },
                                    {
                                        name: "子节点1-2-3", children: [
                                            { name: "子节点1-2-3-1" },
                                            { name: "子节点1-2-3-2" },
                                            { name: "子节点1-2-3-3" }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点2", children: [
                            {
                                name: "父节点2-1", children: [
                                    { name: "子节点2-1-1" },
                                    { name: "子节点2-1-2" },
                                    { name: "子节点2-1-3" }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点3", children: [
                            { name: "父节点3-1" },
                            { name: "父节点3-2" },
                            { name: "父节点3-3" }
                        ]
                    }
	            ]
	        })
            .jcheckTree({})
            ;
	    });
&lt;/script&gt;
	</pre>
	</div>	
	<div id="tab3">
		<div id="tree3"></div><a class="viewSource" onclick="viewSource(this);">View Source</a>
    <pre class="brush: js; html-script: true;">
&lt;div id="tree3"&gt;
&lt;script type="text/javascript"&gt;	    
	    $(function () {
	        $("#tree3").jtree({
	            nodes: [
                    {
                        name: "父节点1", children: [
                            {
                                name: "父节点1-1", children: [
                                  { name: "子节点1-1-1" },
                                  { name: "子节点1-1-2" },
                                  { name: "子节点1-1-3" }
                                ]
                            },
                            {
                                name: "父节点1-2", children: [
                                    { name: "子节点1-2-1" },
                                    { name: "子节点1-2-2" },
                                    {
                                        name: "子节点1-2-3", children: [
                                            { name: "子节点1-2-3-1" },
                                            { name: "子节点1-2-3-2" },
                                            { name: "子节点1-2-3-3" }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点2", children: [
                            {
                                name: "父节点2-1", children: [
                                    { name: "子节点2-1-1" },
                                    { name: "子节点2-1-2" },
                                    { name: "子节点2-1-3" }
                                ]
                            }
                        ]
                    },
                    {
                        name: "父节点3", children: [
                            { name: "父节点3-1" },
                            { name: "父节点3-2" },
                            { name: "父节点3-3" }
                        ]
                    }
	            ]
	        }).jradioTree({});
	    });
&lt;/script&gt;
	</pre>
	</div>	
</div>
<div id="descriptionTabs">
	<ul>
		<li><a href="#overviewTab">综述</a></li>
		<li><a href="#optionsTab">选项</a></li>
		<li><a href="#eventsTab">事件</a></li>
		<li><a href="#methodsTab">方法</a></li>
		<li><a href="#themingTab">主题</a></li>
	</ul>
	<div id="overviewTab">
		<p>生成一个树形菜单</p>
	</div>
	<div id="optionsTab">
		<div id="optionsAccordion">
			<h3>
				<span class="description-option-name">columns</span>
				<span class="description-option-type">Array</span>
				<span class="description-option-value">[]</span>
			</h3>
			<div>
				<p>获取或设置表格头部数据</p>                
				<pre class="brush: js;">
					items:
						[
                            item,item
                            ...
                        ]	//使用item列表为其赋值

					item:
		                    head: "名称名称名称名称",				                        //名称
		                    context: "#Name(#Name2)(#ID)",			                        //#Name(#Name2)(#ID)
		                    maxLength: 5,			                                        //文本最大长度，0不限制
		                    head_align: "left",                                             //[left], center, right
		                    v_align: "top",		                                            //[top], middle, bottom
		                    h_align: "left",		                                        //[left], center, right
		                    height: "auto",			                                        //150px, 10%
		                    width: "auto"			                                        //150px, 10%
				</pre>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myTable").jtable({columns:[{head: "名称1", context: "#Name", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto"}]});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var columns = $("#myTable").jtable( "option", "columns" );
					//设置
					$("#myTable").jtable("option", { "columns":[{head: "名称2", context: "#Name2", maxLength: 5, head_align: "left", v_align: "top", h_align: "left", height: "auto", width: "auto"}]});
				</pre>
			</div>
			<h3>
				<span class="description-option-name">data</span>
				<span class="description-option-type">Array</span>
				<span class="description-option-value">[]</span>
			</h3>
			<div>
				<p>获取或设置每页显示数据。</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myTable").jtable({ data:[
                        { "ID": 1, "Name": "AAAAA", "Name2": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Name2": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" }]});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var data = $("#myTable").jtable( "option", "data" );
					//设置
					$("#myTable").jtable("option", { data: [
                        { "ID": 1, "Name": "AAAAA", "Name2": "aaaaa", "Name3": "aaaaa3", "Name4": "aaaaaa4", "Name5": "aaaaaaaa5" },
                        { "ID": 2, "Name": "BBBBBBB", "Name2": "bbbbb", "Name3": "bbbbb3", "Name4": "bbbbb4", "Name5": "bbbbb5" }] });
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[tableHeight]</span>
				<span class="description-option-type">String</span>
				<span class="description-option-value">''</span>
			</h3>
			<div>
				<p>获取或设置表格高度。</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#myTable").jtable({ tableHeight: '30%' });
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var tableHeight = $("#myTable").jtable( "option", "tableHeight" );
					//设置
					$("#myTable").jtable("option", { tableHeight: '30%' });
				</pre>
			</div>
			<h3>
				<span class="description-option-name">[tableWidth]</span>
				<span class="description-option-type">String</span>
				<span class="description-option-value">''</span>
			</h3>
			<div>
				<p>获取或设置表格宽度。</p>
				<p>初始化</p>
				<pre class="brush: js;">
					$("#tableWidth").jtable({ tableWidth: '90%'});
				</pre>
				<p>获取和设置</p>
				<pre class="brush: js;">
					//获取
					var tableWidth = $("#myTable").jtable( "option", "tableWidth" );
					//设置
					$("#myTable").jtable("option", { tableWidth: '90%' });
				</pre>
			</div>
		</div>
	</div>
	<div id="eventsTab">
        无
	</div>
	<div id="methodsTab">
		<div id="methodsAccordion">
			<h3>
				<span class="description-method-name">option</span>
				<span class="description-method-returnType">由optionName定</span>
				<span class="description-method-demo">.jtable("option" , optionName , [value])</span>
			</h3>
			<div>
				<p>获取或设置option中optionName的值。</p>
			</div>
		</div>
	</div>
	<div id="themingTab">
		<p>标准样式如下：</p>
		<pre class="brush: html;">

		</pre>
	</div>
</div>


