.jui-radio
{
	padding-left: 24px;
	display: inline-block;
	background: transparent url(../images/jui-jradio.png) no-repeat 0px 0px;
	height: 22px;
	line-height: 21px;
	cursor: pointer;
	vertical-align: middle;
}

.jui-radio-checked
{
	background-position: 0px -21px;
}

.jui-radio-label
{
	cursor: pointer;
}
