html {
  height: 100%;
}
body {
  height: 99%;
}
#TopDiv {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  z-index: 99;
  background-color: #094ab2;
  color: #ffffff;
}
#ContentDiv {
  position: absolute!important;
  position: relative;
  top: 40px!important;
  top: 0;
  bottom: 30px;
  width: 100%;
  height: auto!important;
  height: 100%;
  background-color: #f0f0f0;
}
#LeftDiv {
  width: 200px;
  height: 100%;
  float: left;
  background-color: #f3f3f3;
}
#RightDiv {
  width: 300px;
  height: 100%;
  float: right;
  background-color: #ffffff;
}
#MainDiv {
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
}
#BottomDiv {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  background-color: #ffffff;
}
#TopLogoDiv {
  float: left;
  background-image: url(../images/jui-logo.png);
  height: 40px;
  width: 150px;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-width: 1px;
  border-color: #094ab2;
  background-color: #094ab2;
  cursor: pointer;
  color: #ffffff;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #145bcc;
}
.jui-checkbox {
  cursor: pointer;
  background: url(../images/jui-icons_094ab2_78x84.png) no-repeat 0px 0px;
  vertical-align: middle;
  line-height: 22px;
  height: 21px;
  width: 21px;
  display: inline-block;
}
.jui-checkbox:hover {
  background-position: 0px -21px;
}
.jui-checkbox-checked {
  background-position: 0px -42px;
}
.jui-checkbox-checked:hover {
  background-position: 0px -63px;
}
.jui-checkbox-label {
  cursor: pointer;
}
.jui-checkbox-checked-hover {
  background-position: 0px -21px;
}
.jui-checkbox-checked-checked {
  background-position: 0px -63px;
}
.jui-link,
.jui-link:link,
.jui-link:visited,
.jui-link:active,
.jui-link:hover {
  color: #094ab2;
  cursor: pointer;
  text-decoration: none;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  font-weight: normal;
  font-size: 14px;
}
.jui-link:hover {
  background-color: transparent;
  text-decoration: underline;
}
.jui-linkButton:link,
.jui-linkButton:visited,
.jui-linkButton:active,
.jui-linkButton:hover,
.jui-linkButton {
  cursor: pointer;
  text-decoration: none;
  background: none !important;
  border: none !important;
  color: #094ab2 !important;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  font-size: 14px;
  font-weight: 14px;
}
.jui-linkButton:hover {
  text-decoration: underline;
  background: none !important;
}
.jui-radio {
  display: inline-block;
  background: url(../images/jui-icons_094ab2_78x84.png) no-repeat -21px 0px;
  /*background: transparent ~`'url(@{jUI_Images}jui-jradio.png)'` no-repeat 0px 0px;*/

  height: 21px;
  width: 21px;
  line-height: 22px;
  cursor: pointer;
  vertical-align: middle;
}
.jui-radio-label {
  cursor: pointer;
}
.jui-radio-checked {
  background-position: -21px -42px;
}
.jui-radio:hover {
  background-position: -21px -21px;
}
.jui-radio-checked:hover {
  background-position: -21px -63px;
}
.jui-radio-checked-hover {
  background-position: -21px -21px;
}
.jui-radio-checked-checked {
  background-position: -21px -63px;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #666666;
  height: 22px;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  font-weight: normal;
  font-size: 14px;
}
.jtext-err {
  border: #da0000;
}
.jui-jtip-w-arrowhead {
  background: url(../images/jui-icons_999999_78x84.png) no-repeat -54px 0px;
  height: 13px;
  width: 7px;
}
.jui-jtip-w-arrowhead-success {
  /*background-image: ~`'url(@{jUI_Images}jui-jtip-carat-w-' + "@{tipSuccessIcon}".substr(1) + '.png)'`;
            background-repeat: no-repeat;*/

  background: url(../images/jui-icons_e5920b_78x84.png) no-repeat -54px 0px;
  height: 13px;
  width: 7px;
}
.jui-jtip-w-arrowhead-error {
  background: url(../images/jui-icons_da0000_78x84.png) no-repeat -54px 0px;
  height: 13px;
  width: 7px;
}
.jui-jtip-n-arrowhead {
  background: url(../images/jui-icons_999999_78x84.png) no-repeat -53px 0px;
  height: 7px;
  width: 13px;
}
.jui-jtip-n-arrowhead-success {
  background: url(../images/jui-icons_e5920b_78x84.png) no-repeat -53px 0px;
  height: 13px;
  height: 7px;
  width: 13px;
}
.jui-jtip-n-arrowhead-error {
  background: url(../images/jui-icons_da0000_78x84.png) no-repeat -53px 0px;
  height: 7px;
  width: 13px;
}
.jui-jitp-nomal-w-content {
  border: 5px solid #a6a6a6;
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.jui-jtip-success-w-content {
  border: 5px solid #e5920b;
  /*border-width:3px !important;*/

  background-color: #fff0d9;
  color: #000000;
}
.jui-jtip-error-w-content {
  border-width: 5px !important;
  background-color: #ffd9d9;
  color: #da0000;
}
.jui-jitp-nomal-n-content {
  border: 5px solid #a6a6a6;
  /*border-width:3px !important;*/

  background-color: #f2f2f2;
  color: #0d0d0d;
}
.jui-jtip-success-n-content {
  border: 5px solid #e5920b;
  background-color: #fff0d9;
  color: #000000;
}
.jui-jtip-error-n-content {
  border-width: 5px !important;
  background-color: #ffd9d9;
  color: #da0000;
}
/* @group Base */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  /**/

  background: #f2f2f2;
  border: 1px solid #a6a6a6;
  /*下拉框的选择默认颜色为:#aaa*/

  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 1010;
}
/* @end */
/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #f2f2f2;
  /*@ContentBackground*/

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@ContentBackground', endColorstr='#eeeeee', GradientType=0 );*/

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #a6a6a6;
  /*选择之前的样式效果 默认为 #aaaaaa*/

  -webkit-box-shadow: 0 0 3px #f2f2f2 inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px #f2f2f2 inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px #f2f2f2 inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #0d0d0d;
  text-decoration: none;
}
.chzn-container-single .chzn-default {
  color: #999999;
}
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  /*background: ~`'url(@{jUI_Images}chosen-sprite.png)'` right top no-repeat;*/

}
.chzn-container-single .chzn-single abbr:hover {
  /*background-position: right -11px;*/

}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  /*background-position: right top;*/

}
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url(../images/ui-icons_0d0d0d_256x240.png) no-repeat -64px -12px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  width: 15px;
  border: 1px solid #a6a6a6;
  /*搜索区域的边框颜色 默认#aaa*/

  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-search span {
  position: relative;
  background: url(../images/jui-icons_0d0d0d_78x84.png) no-repeat -66px 0px;
  height: 12px;
  width: 12px;
  display: inline-block;
  left: -16px;
  top: 3px;
}
.chzn-container-single .chzn-drop {
  /*-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;*/

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* @end */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}
/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #f2f2f2;
  border: 1px solid #a6a6a6;
  /*多选功能的默认效果#aaa*/

  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #0d0d0d;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999999;
}
.chzn-container-multi .chzn-choices .search-choice {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 2px #f2f2f2 inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px #f2f2f2 inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #f2f2f2 inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #a6a6a6;
  /*多选 已选择项边框#aaaaaa*/

  line-height: 13px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color: #f2f2f2;
  color: #666;
  border: 1px solid #a6a6a6;
  /*@ContentBorder*/

  padding-right: 5px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #f2f2f2;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 1px;
  width: 16px;
  height: 16px;
  font-size: 1px;
  background: url(../images/ui-icons_999999_256x240.png) no-repeat -80px -128px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: -96px -128px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: -96px -128px;
}
/* @end */
/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #145bcc;
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );*/

  color: #f2f2f2;
}
.chzn-container .chzn-results li em {
  background: #f2f2f2;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f2f2f2;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  background: #f2f2f2;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */

  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
  /*background: ~`'url(@{JQuery_UI_Images}ui-icons_'+"@{ContentIcon}".substr(1)+'_256x240.png)'` no-repeat -64px -12px;*/

  /*background: ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -4px -3px;*/

}
.chzn-container .chzn-results-scroll-up span {
  /*background: ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -64px -3px;*/

  /*background: ~`'url(@{JQuery_UI_Images}ui-icons_'+"@{ContentIcon}".substr(1)+'_256x240.png)'` no-repeat -64px -12px;*/

}
/* @end */
/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #a6a6a6;
  /*点击之后文本框的颜色#5897fb*/

}
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #a6a6a6;
  /*点击之后的颜色#aaa*/

  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #f2f2f2 inset;
  background-color: #f2f2f2;
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='@ContentBackground', GradientType=0 );*/

  /*background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%,#ffffff));
	background-image: -webkit-linear-gradient(top, @selectChznSingelDropLinearGradientTop 20%, @selectChznSingelDropLinearGradientBottom 80%);
	background-image: -moz-linear-gradient(top, @selectChznSingelDropLinearGradientTop 20%, @selectChznSingelDropLinearGradientBottom 80%);
	background-image: -o-linear-gradient(top,@selectChznSingelDropLinearGradientTop 20%, @selectChznSingelDropLinearGradientBottom 80%);
	background-image: linear-gradient(@selectChznSingelDropLinearGradientTop 20%, @selectChznSingelDropLinearGradientBottom 80%);*/

  /*-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;*/

}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: 0px -14px;
}
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #a6a6a6;
  /*多选择框选择之后的颜色 #5897fb;*/

}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */
/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @group Right to Left */
.chzn-rtl {
  text-align: right;
}
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible;
}
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto;
}
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl;
}
.chzn-rtl .chzn-choices li {
  float: right;
}
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top;
}
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none;
}
.chzn-rtl .chzn-search input {
  /*background: @ContentBackground ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -38px -22px;*/

  /*background: ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -38px -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%,#ffffff));
		background: ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -38px -22px, -webkit-linear-gradient(top, @selectChznSingelDropLinearGradientTop 1%, @selectChznSingelDropLinearGradientBottom 15%);
		background: ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -38px -22px, -moz-linear-gradient(top,@selectChznSingelDropLinearGradientTop 1%, @selectChznSingelDropLinearGradientBottom  15%);
		background: ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -38px -22px, -o-linear-gradient(top, @selectChznSingelDropLinearGradientTop 1%, @selectChznSingelDropLinearGradientBottom 15%);
		background: ~`'url(@{jUI_Images}chosen-sprite.png)'` no-repeat -38px -22px, linear-gradient(@selectChznSingelDropLinearGradientTop 1%, @selectChznSingelDropLinearGradientBottom 15%);*/

  padding: 4px 5px 4px 20px;
  direction: rtl;
}
/* @end */
/*@selectChznContainerBackground: @ContentBackground; /*所有的背景色*/
/*@selectChznContainerBorder:@ContentBorder;/*#666666; 所有的边框的颜色*//*@selectChznSingleColor: @ContentColor; /*单选时候 选中值显示*/
/*@selectChznSingleDefaultColor:@HelperColor; /*没有默认选中时的提示语颜色*/
/*@selectChzeSingleDrop:@ContentBackground; /*下拉框展开时 之前选择值的背景颜色*/
/*@selectChznMultiInputColor: @ContentColor;/*@ContentColor;*//*多选框选中之后的颜色*/
/*@selectChznMulitDefaultColor: @HelperColor;/*多选框没有选中时候的提示语颜色*/
/*@selectChznMultiBackgroud:@ContentBackground; /*#e4e4e4;选中的单个项的背景色*/
/*@selectChznMultiChoiceFocusBackground: @ContentBackground;/*#d4d4d4单个项的鼠标移入背景色*/
/*@selectChznResultColor: @HelperColor;/*提示语颜色*/
/*@selectChznResultBackground:@HoverBackground;/* #3875d7鼠标移上之后的背景色*/
/*@selectChznNoResultBackground:@ContentBackground; /*查询结果的背景色*/
/*@selectChznSingleLinearGradientTop: #ffffff;*/
/*@selectChznSingleLinearGradientRight: #ff0000;
@selectChznSingleLinearGradientBottom: #00ff00;
@selectChznSingleLinearGradientLeft: #0000ff;

@selectChznChoiceLinearGradientTop: #ffffff;
@selectChznChoiceLinearGradientRight: #ff0000;
@selectChznChoiceLinearGradientBottom: #00ff00;
@selectChznChoiceLinearGradientLeft: #0000ff;

@selectChznResultLinearGradientTop: #3875d7;
@selectChznResultLinearGradientBottom: #2a62bc;

@selectChznSingelDropLinearGradientTop: #eeeeee;
@selectChznSingelDropLinearGradientBottom: #ffffff;*/
.jui-jsortSelect-ul {
  list-style: none;
  border: 2px solid #a6a6a6;
  background-color: #f3f3f3;
  color: #000000;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  z-index: 9999;
  width: 120px;
  position: relative;
}
.jui-jsortSelect-ul > li {
  margin-top: 5px;
  padding: 8px 2px 2px 10px;
  height: 26px;
}
.jui-jsortSelect-ul > li:hover {
  background-color: #d4d4d4;
}
.jui-jsortSelect-ul > li i {
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  height: 11px;
  width: 11px;
}
.jui-jsortSelect-ul > li i.action {
  background: url(../images/jui-icons_0d0d0d_78x84.png) no-repeat -40px -8px;
}
.jui-jsortSelect-ul > div {
  margin: 0px;
}
.jui-jsortSelect-ul > div ul {
  list-style: none;
  width: 120px;
  background-color: #f3f3f3;
  color: #000000;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.jui-jsortSelect-ul > div ul > li {
  /*padding-left: 25px;
				padding-right: 10px;
				margin-top: 7px;
				margin-bottom: 10px;*/

  margin-top: 5px;
  padding: 8px 10px 2px 25px;
  height: 26px;
}
.jui-jsortSelect-ul > div ul > li:hover {
  background-color: #d4d4d4;
}
.jui-jsortSelect-ul > div ul > li i {
  display: inline-block;
  margin-right: 5px;
  height: 11px;
  width: 11px;
}
.jui-jsortSelect-ul > div ul > li i.action {
  background: url(../images/jui-icons_0d0d0d_78x84.png) no-repeat -40px -8px;
}
.jui-jsortSelect-downBtn {
  background: url(../images/jui-icons_0d0d0d_78x84.png) no-repeat -42px 0px;
  cursor: pointer;
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  width: 11px;
  height: 9px;
}
.jui-datapager {
  /*color: #094ab2;*/

  color: #094ab2;
}
.jui-datapager span {
  display: block;
  overflow: hidden;
  float: left;
  height: 21px;
  min-width: 21px;
  text-align: center;
  margin: 4px;
  padding-left: 2px;
  padding-right: 2px;
}
.jui-datapager .jui-datapager-item {
  border: 1px solid #a6a6a6;
  background-color: #f2f2f2;
  color: #094ab2;
  cursor: pointer;
}
.jui-datapager .jui-datapager-item:hover {
  border: 1px solid #226de5;
  background-color: #226de5;
  color: #ffffff;
}
.jui-datapager .jui-datapager-item-active {
  border: 1px solid #a6a6a6;
  background: #a6a6a6;
  font-weight: bold;
  cursor: default;
  color: #0d0d0d;
}
.jui-datapager .jui-datapager-item-disabled {
  border: 1px solid #a6a6a6;
  background-color: #f2f2f2;
  color: #094ab2;
  cursor: default;
  -moz-opacity: 0.35;
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.jui-headMenu {
  height: 40px;
  background-color: #094ab2;
  white-space: nowrap;
  /*禁止文字自动换行*/

  position: relative;
  display: block;
  font-size: 14px;
}
.jui-headMenu .jui-headMenu-solid {
  display: block;
  height: 10px;
  width: auto;
  border-left: 0 none;
  border-right: 0 none;
  padding: 10px 15px 0px 15px;
  cursor: default;
}
.jui-headMenu a {
  text-decoration: none;
}
.jui-headMenu a:hover {
  background-color: #145bcc;
}
.jui-headMenu .jui-headMenu-ju {
  float: left;
  height: 40px;
}
.jui-headMenu .jui-headMenu-clicked {
  background-color: #226de5 !important;
}
.jui-headMenu .jui-headMenu-ju > li {
  height: 40px;
  position: relative;
  float: left;
  list-style: none;
  cursor: pointer;
}
.jui-headMenu .jui-headMenu-ju_li {
  padding-right: 15px;
}
.jui-headMenu .jui-headMenu-ju > li > a {
  margin-right: 5px;
  background-color: transparent;
}
.jui-headMenu .jui-headMenu-ju > li:hover {
  background-color: #145bcc;
}
.jui-headMenu .jui-headMenu-lass {
  vertical-align: middle;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  padding-left: 4px;
}
.jui-headMenu .jui-headMenu-lass_endicon {
  display: inline-block;
  position: relative;
  top: 3px;
}
.jui-headMenu .jui-headMenu-u1 {
  width: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  top: 9px;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-color: #094ab2;
  z-index: 40000;
  cursor: default;
  display: none;
  background-color: #ffffff;
}
.jui-headMenu .jui-headMenu-u1 li a {
  padding: 6px 15px 6px 15px;
  text-align: left;
  color: #0d0d0d;
  display: block;
  cursor: pointer;
}
.jui-headMenu .jui-headMenu-u1 li:hover {
  cursor: default;
}
.jui-headMenu .jui-headMenu-u1 li a:hover {
  background-color: #cccccc;
  /*border:2px solid @HeaderBackground;*/

}
.jui-headMenu .jui-headMenu-vsolid {
  display: block;
  height: 20px;
  border-left: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.jui-headMenu .jui-headMenu-showul {
  visibility: visible;
}
.jui-headMenu .jui-headMenu-hideul {
  visibility: hidden;
}
.jui-headMenu .jui-headMenu-endImg {
  background-image: url(../images/jui-icons_ffffff_78x84.png);
  background-repeat: no-repeat;
  background-position: -42px 0px;
  display: inline-block;
  width: 11px;
  height: 9px;
  position: relative;
  left: 5px;
  top: 2px;
}
.jui-headMenu .jui-headMenu-endImg:hover {
  background-image: url(../images/jui-icons_ffffff_78x84.png);
}
.jui-headMenu .jui-headMenu-endImg:active {
  background-image: url(../images/jui-icons_ffffff_78x84.png);
}
.jui-leftMenu div {
  font-size: 150%;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  cursor: pointer;
}
.jui-leftMenu .jui-leftMenu-item {
  background-color: transparent;
  color: #0d0d0d;
}
.jui-leftMenu .jui-leftMenu-item:hover {
  background-color: #cccccc;
  color: #0d0d0d;
}
.jui-leftMenu .jui-leftMenu-item-active {
  background-color: #a6a6a6;
  color: #0d0d0d;
}
.jui-table {
  border: 1px solid #000000;
}
.jui-table a {
  text-decoration: none;
}
.jui-table a:hover {
  background-color: transparent;
}
/*行样式切换*/
/*鼠标覆盖*/
.jui-table .jui-table-hover {
  background-color: #cccccc;
  color: #0d0d0d;
}
.jui-table .jui-table-hover a {
  color: #0d0d0d;
}
/*偶数行样式*/
.jui-table .jui-table-odd {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
/*鼠标点击*/
.jui-table .jui-table-Active {
  background-color: #226de5;
  color: #ffffff;
}
.jui-table .jui-table-Active a {
  color: #ffffff;
}
/*奇数行样式*/
.jui-table .jui-table-even {
  background-color: #e5e5e5;
  color: #0d0d0d;
}
/*表格头部样式*/
.jui-table .jui-table-head {
  background-color: #094ab2;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.jui-jtree {
  font-size: 14px;
  line-height: 15.994px !important;
}
.jui-jtree li ul {
  margin: 0;
  padding: 0 0 0 16px;
}
.jui-jtree li ul.line {
  background: url(../images/line_conn.gif) 0 0 repeat-y;
}
.jui-jtree-u1-li {
  line-height: 13.992px !important;
  padding: 0 0;
  margin: 0 0;
}
.jui-jtree-a-clicked {
  /*border:1px solid @HighlightColor;*/

  background-color: #226de5;
}
.jui-jtree-u-a {
  padding: 1px 3px 0 0;
  text-decoration: none;
  height: 17.006px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.jui-jtree-u-a:hover {
  cursor: pointer;
  background-color: #145bcc;
}
.jui-jtree-u-a:active {
  background-color: #226de5;
}
.jui-jtree-u-switch,
.jui-jtree-u-icon,
.jui-jtree-u-line-b,
.jui-jtree-u-icon-file,
.jui-jtree-u-switch-cross,
.jui-jtree-u-switch-dircorss-close,
.jui-jtree-u-switch-dircorss-open,
.jui-jtree-u-switch-dircorss-bottom-close,
.jui-jtree-u-switch-cross-bottom,
.jui-jtree-u-switch-open,
.jui-jtree-u-switch-dircorss-open,
.jui-jtree-u-switch-dircorss-bottom-open,
.jui-jtree-u-icon-open,
.jui-jtree-u-switch-single-close,
.jui-jtree-u-switch-single-open {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(../images/zTreeStandard.png);
  vertical-align: top;
  border: 0 none;
  cursor: pointer;
  outline: none;
}
.jui-jtree-u-switch {
  background-position: -74px 0;
}
.jui-jtree-u-switch-open {
  background-position: -92px 0;
}
.jui-jtree-u-switch-dircorss-open {
  background-position: -92px -18px;
}
.jui-jtree-u-switch-dircorss-close {
  background-position: -74px -18px;
}
.jui-jtree-u-switch-dircorss-bottom-close {
  background-position: -74px -36px;
}
.jui-jtree-u-switch-single-close {
  background-position: -74px -54px;
}
.jui-jtree-u-switch-single-open {
  background-position: -92px -54px;
}
.jui-jtree-u-switch-dircorss-bottom-open {
  background-position: -92px -36px;
}
.jui-jtree-u-switch-cross {
  background-position: -56px -18px;
  cursor: default;
}
.jui-jtree-u-switch-cross-bottom {
  background-position: -56px -36px;
  cursor: default;
}
.jui-jtree-u-icon,
.jui-jtree-u-icon-open,
.jui-jtree-u-icon-file {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border: 0 none;
  cursor: pointer;
  outline: none;
  margin-right: 2px;
}
.jui-jtree-u-line-b {
  background-color: #008000;
}
.jui-jtree-u-line-v {
  background-color: #0000ff;
}
.jui-jtree-u-line-h {
  background-color: #000000;
}
.jui-jtree-u-text {
  height: 16px;
  padding: 0 0;
  vertical-align: bottom;
  display: inline-block;
}
.jui-jtree-u-text:hover {
  color: #ffffff;
}
.jui-jtree-u-text:active {
  color: #ffffff;
}
.jui-jtree-u-cbox-unChecked,
.jui-jtree-u-cbox-checked,
.jui-jtree-u-cbox-partChecked,
.jui-jtree-u-cbox-partChecked2 {
  display: inline-block !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(../images/zTreeStandard.png);
  vertical-align: middle;
  border: 0 none;
  outline: none;
  width: 13px;
  height: 13px;
  margin: 0 3px 1px 0px;
  cursor: auto;
}
.jui-jtree-u-cbox-unChecked {
  background-position: 0 0;
}
.jui-jtree-u-cbox-unChecked:hover {
  background-position: 0 -14px;
}
.jui-jtree-u-cbox-checked {
  background-position: -14px 0;
}
.jui-jtree-u-cbox-checked:hover {
  background-position: -14px -14px;
}
.jui-jtree-u-cbox-partChecked {
  background-position: 0 -28px;
}
.jui-jtree-u-cbox-partChecked:hover {
  background-position: 0 -42px;
}
.jui-jtree-u-cbox-partChecked2 {
  background-position: -14px -28px;
}
.jui-jtree-u-cbox-partChecked2:hover {
  background-position: -14px -42px;
}
.jui-jtree-u-rbox-unChecked,
.jui-jtree-u-rbox-checked,
.jui-jtree-u-rbox-partChecked,
.jui-jtree-u-cbox-partChecked2 {
  display: inline-block !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(../images/zTreeStandard.png);
  vertical-align: middle;
  border: 0 none;
  outline: none;
  width: 13px;
  height: 13px;
  margin: 0 3px 1px 0px;
  cursor: auto;
}
.jui-jtree-u-rbox-unChecked {
  background-position: -28px 0;
}
.jui-jtree-u-rbox-unChecked:hover {
  background-position: -28px -14px;
}
.jui-jtree-u-rbox-checked {
  background-position: -42px 0;
}
.jui-jtree-u-rbox-checked:hover {
  background-position: -42px -14px;
}
.jui-jtree-u-rbox-partChecked {
  background-position: -28px -28px;
}
.jui-jtree-u-rbox-partChecked:hover {
  background-position: -28px -42px;
}
/*.jui-jtree-u-cbox-partChecked2 {
background-position: -14px -28px;
}
.jui-jtree-u-cbox-partChecked2:hover {
background-position: -14px -42px;
}*//*隐藏无内容的a标签*/
.jui-datetimepicker a {
  padding: 0px;
}
/*当前日期高亮*/
.jui-datetimepicker-now {
  border: 1px solid #a6a6a6;
  font-weight: bold;
  color: #0d0d0d;
  outline: none;
  display: block;
  margin: .2em;
  text-decoration: none;
  background-color: #a6a6a6;
}
/*外层div*/
.jui-datetimepicker {
  width: 240px;
  background-color: #f2f2f2;
  padding: .2em .2em;
  border: 1px solid #a6a6a6;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  font-size: 14px;
  position: absolute;
  float: left;
  z-index: 33;
  border-radius: 0px;
}
/*头部div中中间div样式*/
.jui-datetimepicker-dhead {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #094ab2;
  border: 1px solid #000000;
  border-radius: 0px;
}
/*左按钮*/
.jui-datetimepicker-prev {
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
}
/*右按钮*/
.jui-datetimepicker-next {
  cursor: pointer;
  display: inline-block;
  margin-left: 6px;
}
/*头部中间日期显示层*/
.jui-datetimepicker-headcenter {
  display: inline-block;
  width: 180px;
  color: #ffffff;
  text-align: center;
}
/*点击选中项 */
.jui-datetimepicker .jui-datetimepicker-active {
  border: 1px solid #226de5;
  background-color: #226de5;
  /*font-weight: bold;*/
  color: #ffffff;
  outline: none;
  display: block;
text-decoration: none;
}
/*表格内容样式*/
.jui-datetimepicker-table-tr-a {
  border: 1px solid #a6a6a6;
  background-color: #ffffff;
  color: #094ab2;
  outline: none;
  display: block;
  margin: .2em;
text-decoration: none;
}
/*鼠标移动到单元格上*/
.jui-datetimepicker-table tr a:hover {
  border: 1px solid #145bcc;
  background-color: #145bcc;
  /*font-weight: bold;*/
color: #ffffff;
outline: none;
}
/*内容表格样式*/
.jui-datetimepicker-table {
  width: 240px;
  margin-top: 5px;
}
/*表格内容居中*/
.jui-datetimepicker-table tr {
  text-align: center;
}
/*星期样式*/
.jui-datetimepicker-week {
  font-weight: bold;
  color: #0d0d0d;
  outline: none;
  display: block;
  padding: .2em;
}
/*时分秒样式*/
.jui-datetimepicker-hms {
  /*font-size: 80%;*/

  font-size: 14px;
}
.jui-datetimepicker-hms dl dt {
  height: 24.991999999999997px;
  margin-bottom: -25px;
}
.jui-datetimepicker-hms dl dd {
  margin: 0 10px 10px 65px;
}
.jui-datetimepicker-hms dl {
  text-align: left;
}
/*.jui-datetimepicker-slider
{
	position: relative;
	text-align: left;
	height: .8em;
	font-size: 1em;
	border: 1px solid @DefaultBorder;
	background: @DefaultBackground 50% top repeat-x;
	color: @DefaultColor;
}

.jui-datetimepicker-handle
{
	top: -.3em;
	margin-left: -.6em;
	border: 1px solid @ActiveBorder;
	background: @ActiveBackground 50% 50% repeat-x;
	font-weight: bold;
	color: @ActiveColor;
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor:default;
}*/
.jui-datetimepicker-focus,
.jui-datetimepicker-handle:hover,
.jui-datetimepicker-butNow:hover,
.jui-datetimepicker-butDone:hover {
  border: 1px solid #e5920b;
  background: #fff0d9;
  font-weight: bold;
  color: #000000;
}
.jui-jSearch table {
  border: 1px solid #a6a6a6;
  border-collapse: collapse;
  width: 100%;
}
.jui-jSearch table tr {
  line-height: 30px;
}
.jui-jscrollbar-scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  white-space: pre;
}
.jui-jscrollbar-scroll-containerDiv {
  overflow: hidden;
  position: relative;
}
.jui-jscrollbar-scroll-sliderWrapVertical {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}
.jui-jscrollbar-scroll-sliderWrapHorizontal {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: none;
}
.jui-jscrollbar-scroll-top_span {
  background-image: url(../images/jui-icons_999999_78x84.png);
  background-repeat: no-repeat;
  background-position: -42px -19px;
  display: block;
  width: 10px;
  height: 12px;
  position: relative;
}
.jui-jscrollbar-scroll-bottom_span {
  background-image: url(../images/jui-icons_999999_78x84.png);
  background-repeat: no-repeat;
  background-position: -54px -19px;
  display: block;
  width: 10px;
  height: 12px;
  position: relative;
}
.jui-jscrollbar-scroll-left_span {
  background-image: url(../images/jui-icons_999999_78x84.png);
  background-repeat: no-repeat;
  background-position: -42px -33px;
  display: block;
  width: 12px;
  height: 10px;
  position: relative;
}
.jui-jscrollbar-scroll-right_span {
  background-image: url(../images/jui-icons_999999_78x84.png);
  background-repeat: no-repeat;
  background-position: -56px -33px;
  display: block;
  width: 12px;
  height: 10px;
  position: relative;
}
