        .jui-jtip
        {
        }


        .jui-jtip-w-arrowhead
        {
            background-image: url(../images/jui-jtip-carat-w-cccccc.png);
            background-repeat: no-repeat;
            height: 13px;
            width: 7px;
        }

        .jui-jtip-w-arrowhead-error
        {
            background-image: url(../images/jui-jtip-carat-w-fef1ec.png);
            background-repeat: no-repeat;
            height: 13px;
            width: 7px;
        }


        .jui-jtip-n-arrowhead
        {
            background-image: url(../images/jui-jtip-carat-n-cccccc.png);
            background-repeat: no-repeat;
            height: 7px;
            width: 13px;
        }

        .jui-jtip-n-arrowhead-error
        {
            background-image: url(../images/jui-jtip-carat-n-fef1ec.png);
            background-repeat: no-repeat;
            height: 7px;
            width: 13px;
        }


        .jui-jitp-nomal-w-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }



        .jui-jtip-success-w-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }

        .jui-jtip-error-w-content
        {
            background-color: #cccccc;
            color: #cd0a0a;
        }



        .jui-jitp-nomal-n-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }



        .jui-jtip-success-n-content
        {
            background-color: #cccccc;
            color: #ffffff;
        }

        .jui-jtip-error-n-content
        {
            background-color: #cccccc;
            color: #cd0a0a;
        }