/*.jui-link:link,.jui-link:visited,
.jui-link:active,.jui-link:hover
{
    color:#094ab2;
    cursor:pointer;
    text-decoration:none;
}
    .jui-link:hover {
        background-color:transparent;
        text-decoration:underline;
    }*/