.jui-datapager
{
	color: #094ab2;
}

	.jui-datapager span
	{
		display: block;
		overflow: hidden;
		float: left;
		height: 21px;
		min-width: 21px;
		text-align: center;
		margin: 4px;
		padding-left: 2px;
		padding-right: 2px;
	}

	.jui-datapager .jui-datapager-item
	{
		border: 1px solid #cccccc;
		cursor: pointer;
	}

		.jui-datapager .jui-datapager-item:hover
		{
			background-color: #f3f3f3;
		}


	.jui-datapager .jui-datapager-item-active
	{
		border: 1px solid transparent;
		font-weight: bold;
		cursor: default;
		color: #000000;
	}

	.jui-datapager .jui-datapager-item-disabled
	{
		border: 1px solid #cccccc;
		cursor: default;
		opacity: .35;
		filter: Alpha(Opacity=35);
	}
