html
{
	height: 100%;
}

body
{
	height: 99%;
}

#TopDiv
{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
	z-index: 99;
	background-color: #094ab2;
	color:#ffffff
}

#ContentDiv
{
	position: absolute!important;
	position: relative;
	top: 40px!important;
	top: 0;
	bottom: 30px;
	width: 100%;
	height: auto!important;
	height: 100%;
	background-color: #f0f0f0;
}

#LeftDiv
{
	width: 200px;
	height: 100%;
	float: left;
	background-color: #f3f3f3;
}

#RightDiv
{
	width: 300px;
	height: 100%;
	float: right;
	background-color: #ffffff;
}

#MainDiv
{
	height: 100%;
	overflow: auto;
	background-color: #ffffff;
}

#BottomDiv
{
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	background-color: #ffffff;
}

#TopLogoDiv
{
	float: left; 
	background-image:url(../images/jui-logo.png);
	height:40px; 
	width:150px;
}