/*编译后使用css则使用下面的路径
	@JQuery_UI_Images: ~`"../images/"`;
	使用实例：
	background-image: ~`'url(@{JQuery_UI_Images}ui-icons_' + "@{ContentIcon}".substr(1) + '_256x240.png)'`;
*/
/*编译后使用css则使用下面的路径
	@jUI_Images: ~`"../images/"`;
	使用实例：
	background-image: ~`'url(@{jUI_Images}ui-icons_256x240.png)'`;
*/
/*@PrimaryBackground: #094ab2;
@PrimaryBorder: #094ab2;
@PrimaryColor: #ffffff;
@PrimaryIcon: #ffffff;

@InfoBackground: #094ab2;
@InfoBorder: #094ab2;
@InfoColor: #ffffff;
@InfoIcon: #ffffff;

@SuccessBackground: #094ab2;
@SuccessBorder: #094ab2;
@SuccessColor: #ffffff;
@SuccessIcon: #ffffff;

@WarningBackground: #094ab2;
@WarningBorder: #094ab2;
@WarningColor: #ffffff;
@WarningIcon: #ffffff;

@DangerBackground: #094ab2;
@DangerBorder: #094ab2;
@DangerColor: #ffffff;
@DangerIcon: #ffffff;

@InverseBackground: #094ab2;
@InverseBorder: #094ab2;
@InverseColor: #ffffff;
@InverseIcon: #ffffff;*/
html {
  height: 100%;
}
body {
  height: 99%;
}
#TopDiv {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  z-index: 99;
  background-color: #094ab2;
  color: #ffffff;
}
#ContentDiv {
  position: absolute!important;
  position: relative;
  top: 40px!important;
  top: 0;
  bottom: 30px;
  width: 100%;
  height: auto!important;
  height: 100%;
  background-color: #f0f0f0;
}
#LeftDiv {
  width: 200px;
  height: 100%;
  float: left;
  background-color: #f3f3f3;
}
#RightDiv {
  width: 300px;
  height: 100%;
  float: right;
  background-color: #ffffff;
}
#MainDiv {
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
}
#BottomDiv {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  background-color: #ffffff;
}
#TopLogoDiv {
  float: left;
  background-image: url(http://localhost:5642/Content/jUI/images/jui-logo.png);
  height: 40px;
  width: 150px;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-width: 1px;
  border-color: #094ab2;
  background-color: #094ab2;
  cursor: pointer;
  color: #ffffff;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #073d92;
}
.jui-checkbox {
  padding-left: 24px;
  cursor: pointer;
  background: url(http://localhost:5642/Content/jUI/images/jui-jcheckbox.png) no-repeat 0px 0px;
  vertical-align: middle;
  line-height: 22px;
  height: 21px;
  display: inline-block;
}
.jui-checkbox:hover {
  background-position: 0px -21px;
}
.jui-checkbox-checked {
  background-position: 0px -42px;
}
.jui-checkbox-checked:hover {
  background-position: 0px -63px;
}
.jui-checkbox-laber {
  cursor: pointer;
}
.jui-checkbox-checked-hover {
  background-position: 0px -21px;
}
.jui-checkbox-checked-checked {
  background-position: 0px -63px;
}
.jui-link:link,
.jui-link:visited,
.jui-link:active,
.jui-link:hover {
  color: #094ab2;
  cursor: pointer;
  text-decoration: none;
}
.jui-link:hover {
  background-color: transparent;
  text-decoration: underline;
}
.jui-linkButton {
  background: none !important;
  border: none !important;
  color: #094ab2 !important;
  cursor: pointer;
  /*font-family:'Microsoft YaHei';  
    font-size:14px;*/
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
.jui-linkButton:hover {
  text-decoration: underline;
  background: none !important;
}
.jui-radio {
  padding-left: 24px;
  display: inline-block;
  background: transparent url(http://localhost:5642/Content/jUI/images/jui-jradio.png) no-repeat 0px 0px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  vertical-align: middle;
}
.jui-radio-checked {
  background-position: 0px -21px;
}
.jui-radio-label {
  cursor: pointer;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #666666;
  height: 22px;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  font-weight: normal;
  font-size: 14px;
}
.jui-jtip-w-arrowhead {
  background-image: url(http://localhost:5642/Content/jUI/images/jui-jtip-carat-w-cccccc.png);
  background-repeat: no-repeat;
  height: 13px;
  width: 7px;
}
.jui-jtip-w-arrowhead-error {
  background-image: url(http://localhost:5642/Content/jUI/images/jui-jtip-carat-w-fef1ec.png);
  background-repeat: no-repeat;
  height: 13px;
  width: 7px;
}
.jui-jtip-n-arrowhead {
  background-image: url(http://localhost:5642/Content/jUI/images/jui-jtip-carat-n-cccccc.png);
  background-repeat: no-repeat;
  height: 7px;
  width: 13px;
}
.jui-jtip-n-arrowhead-error {
  background-image: url(http://localhost:5642/Content/jUI/images/jui-jtip-carat-n-fef1ec.png);
  background-repeat: no-repeat;
  height: 7px;
  width: 13px;
}
.jui-jitp-nomal-w-content {
  border-width: 3px !important;
  background-color: #cccccc;
  color: #ffffff;
}
.jui-jtip-success-w-content {
  border-width: 3px !important;
  background-color: #cccccc;
  color: #ffffff;
}
.jui-jtip-error-w-content {
  border-width: 3px !important;
  background-color: #cccccc;
  color: #cd0a0a;
}
.jui-jitp-nomal-n-content {
  border-width: 3px !important;
  background-color: #cccccc;
  color: #ffffff;
}
.jui-jtip-success-n-content {
  border-width: 3px !important;
  background-color: #cccccc;
  color: #ffffff;
}
.jui-jtip-error-n-content {
  border-width: 3px !important;
  background-color: #cccccc;
  color: #cd0a0a;
}
/* @group Base */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  /**/

  background: #ffffff;
  border: 1px solid #666666;
  /*下拉框的选择默认颜色为:#aaa*/

  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 1010;
}
/* @end */
/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #ffffff;
  /*@selectChznContainerBackground*/

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@selectChznContainerBackground', endColorstr='#eeeeee', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #666666;
  /*选择之前的样式效果 默认为 #aaaaaa*/

  -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}
.chzn-container-single .chzn-default {
  color: #999999;
}
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  background-position: right top;
}
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  background: #ffffff url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat 100% -22px;
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat 100% -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat 100% -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #666666;
  /*搜索区域的边框颜色 默认#aaa*/

  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  /*-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;*/

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* @end */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}
/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  border: 1px solid #666666;
  /*多选功能的默认效果#aaa*/

  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999999;
}
.chzn-container-multi .chzn-choices .search-choice {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #666666;
  /*多选 已选择项边框#aaaaaa*/

  line-height: 13px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
  border: 1px solid #666666;
  /*@selectChznContainerBorder*/

  padding-right: 5px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
/* @end */
/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #3875d7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #ffffff;
}
.chzn-container .chzn-results li em {
  background: #ffffff;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  background: #ffffff;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */

  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -22px -3px;
}
/* @end */
/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #666666;
  /*点击之后文本框的颜色#5897fb*/

}
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #666666;
  /*点击之后的颜色#aaa*/

  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #ffffff inset;
  background-color: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='@selectChznContainerBackground', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  /*-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;*/

}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #666666;
  /*多选择框选择之后的颜色 #5897fb;*/

}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */
/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @group Right to Left */
.chzn-rtl {
  text-align: right;
}
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible;
}
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto;
}
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl;
}
.chzn-rtl .chzn-choices li {
  float: right;
}
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top;
}
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none;
}
.chzn-rtl .chzn-search input {
  background: #ffffff url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -38px -22px;
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -38px -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url(http://localhost:5642/Content/jUI/images/chosen-sprite.png) no-repeat -38px -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
/* @end */
.jui-jsortSelect-ul {
  list-style: none;
  border: 2px solid #666666;
  background-color: #f3f3f3;
  color: #000000;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  z-index: 9999;
  width: 120px;
  position: relative;
}
.jui-jsortSelect-ul > li {
  padding-left: 35px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.jui-jsortSelect-ul > li.hover {
  background-color: #d4d4d4;
}
.jui-jsortSelect-ul > li.action {
  background: transparent url(http://localhost:5642/Content/jUI/images/jui-jselect-bullet-666666.png) no-repeat 0 0;
  background-position: 18px 8px;
}
.jui-jsortSelect-ul > div {
  margin: 0px;
}
.jui-jsortSelect-ul > div ul {
  list-style: none;
  width: 120px;
  background-color: #f3f3f3;
  color: #000000;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.jui-jsortSelect-ul > div ul > li {
  padding-left: 35px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 10px;
}
.jui-jsortSelect-ul > div ul > li:hover {
  background-color: #d4d4d4;
}
.jui-jsortSelect-ul > div ul > li.action {
  background: transparent url(http://localhost:5642/Content/jUI/images/jui-jselect-bullet-666666.png) no-repeat 0 0;
  background-position: 18px 8px;
}
.jui-jsortSelect-downBtn {
  background: transparent url(http://localhost:5642/Content/jUI/images/jui-jselect-carat-s-666666.png) no-repeat 0px 0px;
  cursor: pointer;
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  width: 11px;
  height: 9px;
}
.jui-datapager {
  /*color: #094ab2;*/

  color: #ffffff;
}
.jui-datapager span {
  display: block;
  overflow: hidden;
  float: left;
  height: 21px;
  min-width: 21px;
  text-align: center;
  margin: 4px;
  padding-left: 2px;
  padding-right: 2px;
}
.jui-datapager .jui-datapager-item {
  border: 1px solid #094ab2;
  background-color: #094ab2;
  color: #ffffff;
  cursor: pointer;
}
.jui-datapager .jui-datapager-item:hover {
  border: 1px solid #073d92;
  background-color: #073d92;
  color: #ffffff;
}
.jui-datapager .jui-datapager-item-active {
  border: 1px solid transparent;
  font-weight: bold;
  cursor: default;
  color: #000000;
}
.jui-datapager .jui-datapager-item-disabled {
  border: 1px solid #094ab2;
  background-color: #094ab2;
  color: #ffffff;
  cursor: default;
  -moz-opacity: 0.35;
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.jui-headMenu {
  height: 40px;
  background-color: #094ab2;
  white-space: nowrap;
  /*禁止文字自动换行*/

  position: relative;
  display: block;
  font-size: 14px;
}
.jui-headMenu .jui-headMenu-solid {
  display: block;
  height: 10px;
  width: auto;
  border-left: 0 none;
  border-right: 0 none;
  padding: 10px 15px 0px 15px;
  cursor: default;
}
.jui-headMenu a {
  text-decoration: none;
}
.jui-headMenu a:hover {
  background-color: #073d92;
}
.jui-headMenu .jui-headMenu-ju {
  float: left;
  height: 40px;
}
.jui-headMenu .jui-headMenu-clicked {
  background-color: #062f72 !important;
}
.jui-headMenu .jui-headMenu-ju > li {
  height: 40px;
  position: relative;
  float: left;
  list-style: none;
  cursor: pointer;
}
.jui-headMenu .jui-headMenu-ju_li {
  padding-right: 15px;
}
.jui-headMenu .jui-headMenu-ju > li > a {
  margin-right: 5px;
}
.jui-headMenu .jui-headMenu-ju > li:hover {
  background-color: #073d92;
}
.jui-headMenu .jui-headMenu-lass {
  vertical-align: middle;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  padding-left: 4px;
}
.jui-headMenu .jui-headMenu-lass_endicon {
  display: inline-block;
  position: relative;
  top: 3px;
}
.jui-headMenu .jui-headMenu-u1 {
  width: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  top: 9px;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-color: #094ab2;
  z-index: 40000;
  cursor: default;
  display: none;
  background-color: #ffffff;
}
.jui-headMenu .jui-headMenu-u1 li a {
  padding: 6px 15px 6px 15px;
  text-align: left;
  color: #000000;
  display: block;
  cursor: pointer;
}
.jui-headMenu .jui-headMenu-u1 li:hover {
  cursor: default;
}
.jui-headMenu .jui-headMenu-u1 li a:hover {
  background-color: #f0f0f0;
}
.jui-headMenu .jui-headMenu-vsolid {
  display: block;
  height: 20px;
  border-left: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.jui-headMenu .jui-headMenu-showul {
  visibility: visible;
}
.jui-headMenu .jui-headMenu-hideul {
  visibility: hidden;
}
.jui-headMenu .jui-headMenu-endImg {
  background-image: url(http://localhost:5642/Content/jUI/images/jui-jheadMenu-carat-s-ffffff.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 10px;
  position: relative;
  left: 5px;
  top: 2px;
}
.jui-leftMenu div {
  font-size: 150%;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  cursor: pointer;
}
.jui-leftMenu .jui-leftMenu-item {
  background-color: transparent;
  color: #094ab2;
}
.jui-leftMenu .jui-leftMenu-item:hover {
  background-color: #e2e2e2;
  color: #094ab2;
}
.jui-leftMenu .jui-leftMenu-item-active {
  background-color: #d4d4d4;
  color: #094ab2;
}
.jui-table {
  border: 1px solid #ffffff;
}
.jui-table a {
  text-decoration: none;
}
.jui-table a:hover {
  background-color: transparent;
}
/*行样式切换*/
/*鼠标覆盖*/
.jui-table .jui-table-over {
  background-color: #e2e2e2;
}
/*鼠标移出*/
.jui-table .jui-table-out {
  background-color: #f3f3f3;
}
/*鼠标点击*/
.jui-table .jui-table-click {
  background-color: #d4d4d4;
}
.jui-jtree {
  font-size: 14px;
  line-height: 15.994px !important;
}
.jui-jtree li ul {
  margin: 0;
  padding: 0 0 0 16px;
}
.jui-jtree li ul.line {
  background: url(http://localhost:5642/Content/jUI/images/line_conn.gif) 0 0 repeat-y;
}
.jui-jtree-u1-li {
  line-height: 13.992px !important;
  padding: 0 0;
  margin: 0 0;
}
.jui-jtree-a-clicked {
  border: 1px solid #666666;
  background-color: #e2e2e2;
}
.jui-jtree-u-a {
  padding: 1px 3px 0 0;
  text-decoration: none;
  height: 17.006px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.jui-jtree-u-a:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}
.jui-jtree-u-a:active {
  background-color: #d4d4d4;
}
.jui-jtree-u-switch,
.jui-jtree-u-icon,
.jui-jtree-u-line-b,
.jui-jtree-u-icon-file,
.jui-jtree-u-switch-cross,
.jui-jtree-u-switch-dircorss-close,
.jui-jtree-u-switch-dircorss-open,
.jui-jtree-u-switch-dircorss-bottom-close,
.jui-jtree-u-switch-cross-bottom,
.jui-jtree-u-switch-open,
.jui-jtree-u-switch-dircorss-open,
.jui-jtree-u-switch-dircorss-bottom-open,
.jui-jtree-u-icon-open {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(http://localhost:5642/Content/jUI/images/zTreeStandard.png);
  vertical-align: top;
  border: 0 none;
  cursor: pointer;
  outline: none;
}
.jui-jtree-u-switch {
  background-position: -74px 0;
}
.jui-jtree-u-switch-open {
  background-position: -92px 0;
}
.jui-jtree-u-switch-dircorss-open {
  background-position: -92px -18px;
}
.jui-jtree-u-switch-dircorss-close {
  background-position: -74px -18px;
}
.jui-jtree-u-switch-dircorss-bottom-close {
  background-position: -74px -36px;
}
.jui-jtree-u-switch-dircorss-bottom-open {
  background-position: -92px -36px;
}
.jui-jtree-u-switch-cross {
  background-position: -56px -18px;
  cursor: default;
}
.jui-jtree-u-switch-cross-bottom {
  background-position: -56px -36px;
  cursor: default;
}
.jui-jtree-u-icon,
.jui-jtree-u-icon-open,
.jui-jtree-u-icon-file {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border: 0 none;
  cursor: pointer;
  outline: none;
  margin-right: 2px;
}
.jui-jtree-u-line-b {
  background-color: #008000;
}
.jui-jtree-u-line-v {
  background-color: #0000ff;
}
.jui-jtree-u-line-h {
  background-color: #000000;
}
.jui-jtree-u-text {
  height: 16px;
  padding: 0 0;
  vertical-align: bottom;
  display: inline-block;
}
.jui-jtree-u-cbox-unChecked,
.jui-jtree-u-cbox-checked,
.jui-jtree-u-cbox-partChecked,
.jui-jtree-u-cbox-partChecked2 {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(http://localhost:5642/Content/jUI/images/zTreeStandard.png);
  vertical-align: middle;
  border: 0 none;
  outline: none;
  width: 13px;
  height: 13px;
  margin: 0 3px 1px 0px;
  cursor: auto;
}
.jui-jtree-u-cbox-unChecked {
  background-position: 0 0;
}
.jui-jtree-u-cbox-unChecked:hover {
  background-position: 0 -14px;
}
.jui-jtree-u-cbox-checked {
  background-position: -14px 0;
}
.jui-jtree-u-cbox-checked:hover {
  background-position: -14px -14px;
}
.jui-jtree-u-cbox-partChecked {
  background-position: 0 -28px;
}
.jui-jtree-u-cbox-partChecked:hover {
  background-position: 0 -42px;
}
.jui-jtree-u-cbox-partChecked2 {
  background-position: -14px -28px;
}
.jui-jtree-u-cbox-partChecked2:hover {
  background-position: -14px -42px;
}
.jui-jtree-u-rbox-unChecked,
.jui-jtree-u-rbox-checked,
.jui-jtree-u-rbox-partChecked,
.jui-jtree-u-cbox-partChecked2 {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(http://localhost:5642/Content/jUI/images/zTreeStandard.png);
  vertical-align: middle;
  border: 0 none;
  outline: none;
  width: 13px;
  height: 13px;
  margin: 0 3px 1px 0px;
  cursor: auto;
}
.jui-jtree-u-rbox-unChecked {
  background-position: -28px 0;
}
.jui-jtree-u-rbox-unChecked:hover {
  background-position: -28px -14px;
}
.jui-jtree-u-rbox-checked {
  background-position: -42px 0;
}
.jui-jtree-u-rbox-checked:hover {
  background-position: -42px -14px;
}
.jui-jtree-u-rbox-partChecked {
  background-position: -28px -28px;
}
.jui-jtree-u-rbox-partChecked:hover {
  background-position: -28px -42px;
}
/*.jui-jtree-u-cbox-partChecked2 {
background-position: -14px -28px;
}
.jui-jtree-u-cbox-partChecked2:hover {
background-position: -14px -42px;
}*//*隐藏无内容的a标签*/
.jui-datetimepicker a {
  padding: 0px;
}
/*当前日期高亮*/
.jui-datetimepicker-now {
  border: 1px solid #bababa;
  font-weight: bold;
  color: #094ab2;
  outline: none;
  display: block;
  /*padding: .2em;*/

  margin: .2em;
  text-decoration: none;
  background-color: #bababa;
}
/*外层div*/
.jui-datetimepicker {
  width: 240px;
  background-color: #f3f3f3;
  padding: .2em .2em;
  border: 1px solid #dddddd;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  font-size: 14px;
  position: absolute;
  float: left;
  z-index: 100000;
}
/*头部div中中间div样式*/
.jui-datetimepicker-dhead {
  margin-left: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #094ab2;
}
/*左按钮*/
.jui-datetimepicker-prev {
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
}
/*右按钮*/
.jui-datetimepicker-next {
  cursor: pointer;
  display: inline-block;
  margin-left: 6px;
}
/*头部中间日期显示层*/
.jui-datetimepicker-headcenter {
  display: inline-block;
  width: 180px;
  color: #ffffff;
  text-align: center;
}
/*点击选中项 */
.jui-datetimepicker .jui-datetimepicker-active {
  border: 1px solid #062f72;
  background-color: #062f72;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  display: block;
  text-decoration: none;
}
/*表格内容样式*/
.jui-datetimepicker-table-tr-a {
  border: 1px solid #bababa;
  background-color: #ffffff;
  font-weight: bold;
  color: #094ab2;
  outline: none;
  display: block;
  margin: .2em;
  text-decoration: none;
}
/*鼠标移动到单元格上*/
.jui-datetimepicker-table tr a:hover {
  border: 1px solid #062f72;
  background-color: #073d92;
  font-weight: bold;
  color: #ffffff;
  outline: none;
}
/*内容表格样式*/
.jui-datetimepicker-table {
  width: 240px;
  margin-top: 5px;
}
/*表格内容居中*/
.jui-datetimepicker-table tr {
  text-align: center;
}
/*星期样式*/
.jui-datetimepicker-week {
  font-weight: bold;
  color: #000000;
  outline: none;
  display: block;
  padding: .2em;
  font-weight: bolder;
}
/*时分秒样式*/
.jui-datetimepicker-hms {
  /*font-size: 80%;*/

  font-size: 14px;
}
.jui-datetimepicker-hms dl dt {
  height: 24.991999999999997px;
  margin-bottom: -25px;
}
.jui-datetimepicker-hms dl dd {
  margin: 0 10px 10px 65px;
}
.jui-datetimepicker-hms dl {
  text-align: left;
}
.jui-datetimepicker-slider {
  position: relative;
  text-align: left;
  height: .8em;
  font-size: 1em;
  border: 1px solid #dddddd;
  background: #ffffff 50% top repeat-x;
  color: #333333;
}
.jui-datetimepicker-handle {
  top: -0.3em;
  margin-left: -0.6em;
  border: 1px solid #cccccc;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4;
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.jui-datetimepicker-focus,
.jui-datetimepicker-handle:hover,
.jui-datetimepicker-butNow:hover,
.jui-datetimepicker-butDone:hover {
  border: 1px solid #fbcb09;
  background: #fdf5ce;
  font-weight: bold;
  color: #c77405;
}
