@{
	ViewBag.Title = "Index";
}

@section head{
	<link href="@Url.Content("~/Content/jUI/jui.jheadMenu.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jheadMenu.js")"></script>

	<script type="text/javascript">
	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<h2>概述</h2>

<p>这里是各个控件的测试，包含了html以及ajax相关的各种测试</p>