@{
	ViewBag.Title = "Index";
}

@section head{
	<link href="@Url.Content("~/Content/jUI/jui.jheadMenu.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jheadMenu.js")"></script>

	<script type="text/javascript">
	</script>
}

@section header{
}

@section left{
}

@section right{
}

@section footer{
}

@section scripts{
}

<h2>概述</h2>

<p>这里是各个控件的测试，包含了html以及ajax相关的各种测试</p>

<style type="text/css">
	.jui-jheadMenu2
	{
	}

		.jui-jheadMenu2 ul
		{
		}

			.jui-jheadMenu2 ul li
			{
				float:left;
			}

			.jui-jheadMenu2 ul li ul
			{
				visibility:hidden;
			}
			
			.jui-jheadMenu2 ul li:hover ul
			{
				visibility:visible;
			}

			.jui-jheadMenu2 ul li:active ul
			{
				visibility:visible;
			}

</style>

<div class="jui-jheadMenu2 ui-helper-clearfix">
	<ul>
		<li>A<ul>
			<li>A1</li>
			<li>A2</li>
			<li>A3</li>
			<li>A4</li>
		</ul>
		</li>
		<li>B</li>
		<li>C<ul>
			<li>C1</li>
			<li>C2</li>
			<li>C3</li>
			<li>C4</li>
		</ul>
		</li>
		<li>D</li>
		<li>E</li>
	</ul>
</div>
<input type="text" /><input type="text" /><input type="text" /><input type="text" />
<div id="a" style="height:150px; width:50px; background-color:red; position:absolute;"></div>