@{
    ViewBag.Title = "layout";
}

@section head{
	<script type="text/javascript">

	</script>
}

@section right{
	<div style="height:100%; width:100%; background-color:red;"></div>
}
<h2>layout</h2>

<input type="button" value="hideLeft" onclick="$.juileftHide();" />
<input type="button" value="showLeft" onclick="$.juileftShow();" />
<input type="button" value="hideRight" onclick="$.juirightHide();" />
<input type="button" value="showRight" onclick="$.juirightShow();" />

