.jui-linkButton
{
    background:none !important;
    border:none !important;
    color:#094ab2 !important;
    cursor:pointer;            
}
    .jui-linkButton:hover {
        text-decoration:underline;
        background:none !important;
    }