.jui-datetimepicker {
}
/*隐藏无内容的a标签*/
.jui-datetimepicker a {
    padding:0px;
}
/*当前日期高亮*/
.jui-datetimepicker-now {
        border: 1px solid #bababa;
        font-weight: bold;
        color:  #094ab2;
        outline: none;
        display: block;
        /*padding: .2em;*/
        margin: .2em;
        text-decoration: none;
        background-color:#bababa;
    }
/*外层div*/    
.jui-datetimepicker {
    width:240px;
    background-color:#f3f3f3;
    padding: .2em .2em ;
    border:1px solid #DDD;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 0.8em;
    position:absolute;
    float:left;
    z-index:100000;
}     
/*头部div中中间div样式*/  
.jui-datetimepicker-dhead{
    margin-left:2px;
    padding-bottom:5px;
    padding-top:5px;
    background-color:#094AB2;
}
/*左按钮*/
.jui-datetimepicker-prev {
    cursor:pointer;
    display:inline-block;
    margin-right:6px;
    margin-left:6px;
}
/*右按钮*/
.jui-datetimepicker-next {
    cursor:pointer;
    display:inline-block;
    margin-left:6px;
    margin-left:6px;
}
/*头部中间日期显示层*/
.jui-datetimepicker-headcenter {
    display:inline-block;
    width:180px;
    color:white;
    text-align:center;
}
/*点击选中项 */     
.jui-datetimepicker .jui-datetimepicker-active{
    border: 1px solid #062f72;
    background-color: #062f72;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    display: block;
    text-decoration: none;
}    
/*表格内容样式*/
.jui-datetimepicker-table-tr-a{        
    border: 1px solid #bababa;
    background-color: #ffffff;
    font-weight: bold;
    color:  #094ab2;
    outline: none;
    display: block;
    margin: .2em;
    text-decoration: none;
}
    /*鼠标移动到单元格上*/
.jui-datetimepicker-table tr a:hover{ 
    border:1px solid #062f72;
    background-color:#073d92;
    font-weight:bold; 
    color:#ffffff; 
    outline:none;
}
/*内容表格样式*/
.jui-datetimepicker-table{ width:240px; margin-top:5px;}
/*表格内容居中*/
.jui-datetimepicker-table tr{ text-align:center;}
/*星期样式*/
.jui-datetimepicker-week{font-weight: bold;color: Black;outline: none;display: block;padding: .2em;font-weight:bolder;}
/*时分秒样式*/
.jui-datetimepicker-hms{ font-size:80%;}
.jui-datetimepicker-hms dl dt{height: 25px;margin-bottom: -25px;}
.jui-datetimepicker-hms dl dd{margin: 0 10px 10px 65px;}
.jui-datetimepicker-hms dl{ text-align:left;}
.jui-datetimepicker-slider{
    position: relative;
    text-align: left;
    height: .8em;
    font-size: 1em;
    border: 1px solid #DDD;
    background: #FFF 50% top repeat-x;
    color: #333;
}    
.jui-datetimepicker-handle{
    top: -.3em;margin-left: -.6em;border: 1px solid #CCC;
    background: #F6F6F6 50% 50% repeat-x;
    font-weight: bold;
    color: #1C94C4;position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}    
.jui-datetimepicker-focus,.jui-datetimepicker-handle:hover,.jui-datetimepicker-butNow:hover,.jui-datetimepicker-butDone:hover{
    border: 1px solid #FBCB09;
    background: #FDF5CE;
    font-weight: bold;
    color: #C77405;
}

