
.jui-table {
    border:1px solid #ffffff;
}
	.jui-table a {
        text-decoration:none;
	}
	.jui-table a:hover {
        background-color:transparent;
	}
    /*行样式切换*/
    /*鼠标覆盖*/
    .jui-table .jui-table-over{
        background-color:#e2e2e2;
    }
    /*鼠标移出*/
    .jui-table .jui-table-out{
        background-color:#f3f3f3;
    }
    /*鼠标点击*/
    .jui-table .jui-table-click{    
        background-color:#d4d4d4;
    }
    /*首列小图标*/
    .jui-table .jui-table-columnHeadImage{
        float:left;
        width:30px;
        height:30px;
        margin-left:5px;
        margin-right:5px;   
        background-image:url(../../Images/orderedList0.png);
        background-repeat:no-repeat;
        background-position:0px 0px;
    }