html
{
	height: 100%;
}

body
{
	background-color: #f0f0f0;
	color: #333;
	font-size: 14px;
	font-family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

a
{
	color: #094ab2;
	outline: none;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: underline;
}

	a:link, a:visited, a:active, a:hover
	{
		color: #094ab2;
	}

h1
{
	font-size: 28px;
}

h2
{
	font-size: 24px;
}

h3
{
	font-size: 20px;
}

h4
{
	font-size: 18px;
}

h5
{
	font-size: 16px;
}

h6
{
	font-size: 14px;
}
