@BaseUrl: ~`"http://localhost:5642/"`;
@JQuery_UI_Images:~`"@{BaseUrl}"+"Content/jquery-ui/images/"`;
/*编译后使用css则使用下面的路径
	@JQuery_UI_Images: ~`"../images/"`;
	使用实例：
	background-image: ~`'url(@{JQuery_UI_Images}ui-icons_' + "@{ContentIcon}".substr(1) + '_256x240.png)'`;
*/

@jUI_Images:~`"@{BaseUrl}"+"Content/jUI/images/"`;
/*编译后使用css则使用下面的路径
	@jUI_Images: ~`"../images/"`;
	使用实例：
	background-image: ~`'url(@{jUI_Images}ui-icons_' + "@{ContentIcon}".substr(1) + '_256x240.png)'`;
*/

@Family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
@FontWeight: normal;
@FontSize: 1.1em;
@Corners: 0px;

@HeaderColor: #094ab2;
@HeaderBorder: #094ab2;
@HeaderText: #ffffff;
@HeaderIcon: #ffffff;

@ContentColor: #ffffff;
@ContentBorder: #f0f0f0;
@ContentText: #000000;
@ContentIcon: #666666;

@DefaultColor: #094ab2;
@DefaultBorder: #094ab2;
@DefaultText: #ffffff;
@DefaultIcon: #ffffff;

@HoverColor: #073d92;
@HoverBorder: #073d92;
@HoverText: #ffffff;
@HoverIcon: #ffffff;

@ActiveColor: #062f72;
@ActiveBorder: #062f72;
@ActiveText: #ffffff;
@ActiveIcon: #ffffff;

@HighlightColor: #e2e2e2;
@HighlightBorder: #e2e2e2;
@HighlightText: #666666;
@HighlightIcon: #094ab2;

@ErrorColor: #fef1ec;
@ErrorBorder: #cd0a0a;
@ErrorText: #cd0a0a;
@ErrorIcon: #cd0a0a;

@OverlayColor: #cccccc;
@OverlayOpacity: .3;
@OverlayOpacityPercent: @OverlayOpacity * 100;

@ShadowColor: #ffffff;
@ShadowOpacity: 0;
@ShadowOpacityPercent: @ShadowOpacity * 100;
@ShadowThickness: 0px;
@TopOffset: 0px;
@LeftOffset: 0px;
@ShadowCorners: 0px;

