@BaseUrl: ~`"http://localhost:5642/"`;
@JQuery_UI_Images: ~`"@{BaseUrl}" + "Content/jquery-ui/images/"`;
//编译后使用css则使用下面的路径
//	@JQuery_UI_Images: ~`"../images/"`;
//	使用实例：
//	background-image: ~`'url(@{JQuery_UI_Images}ui-icons_' + "@{ContentIcon}".substr(1) + '_256x240.png)'`;

@jUI_Images: ~`"@{BaseUrl}" + "Content/jUI/images/"`;
//编译后使用css则使用下面的路径
//	@jUI_Images: ~`"../images/"`;
//	使用实例：
//	background-image: ~`'url(@{jUI_Images}ui-icons_256x240.png)'`;

//#region 核心样式
@Family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
@FontWeight: normal;
@FontSize: 14px;
@LineHeight: 22px;
@DisabledOpacity: .35;
@DisabledOpacityPercent: @DisabledOpacity * 100;
@Transparent: transparent;
//用于提示
@HelperColor:#999999;
//#endregion

//#region JQuery UI 样式
@Corners: 0px;

@HeaderBackground: #094ab2;
@HeaderBorder: #094ab2;
@HeaderColor: #ffffff;
@HeaderIcon: #ffffff;

@ContentBackground: #f2f2f2;
@ContentBorder: #a6a6a6;
@ContentColor: #0d0d0d;
@ContentIcon: #0d0d0d;

@DefaultBackground: #094ab2;
@DefaultBorder: #094ab2;
@DefaultColor: #ffffff;
@DefaultIcon: #ffffff;

@HoverBackground: #145bcc;
@HoverBorder: #145bcc;
@HoverColor: #ffffff;
@HoverIcon: #ffffff;

@ActiveBackground: #226de5;
@ActiveBorder: #226de5;
@ActiveColor: #ffffff;
@ActiveIcon: #ffffff;

@HighlightBackground: #fff0d9;
@HighlightBorder: #e5920b;
@HighlightColor: #000000;
@HighlightIcon: #e5920b;

@ErrorBackground: #ffd9d9;
@ErrorBorder: #da0000;
@ErrorColor: #da0000;
@ErrorIcon: #da0000;

@OverlayBackground: #262626;
@OverlayOpacity: .3;
@OverlayOpacityPercent: @OverlayOpacity * 100;

@ShadowBackground: #262626;
@ShadowOpacity: 0;
@ShadowOpacityPercent: @ShadowOpacity * 100;
@ShadowThickness: 0px;
@TopOffset: 0px;
@LeftOffset: 0px;
@ShadowCorners: 0px;
//#endregion

//#region 这是一组不明显的颜色
@OtherDefaultBackground: @ContentBackground;
@OtherDefaultBorder: @ContentBorder;
@OtherDefaultColor: @DefaultBackground;

@OtherHoverBackground: @ActiveBackground;
@OtherHoverBorder: @ActiveBorder;
@OtherHoverColor: @ActiveColor;

@OtherActiveBackground: @ActiveBackground;
@OtherActiveBorder: @ActiveBorder;
@OtherActiveColor: @ActiveColor;

@OtherHighlightBackground: @ContentBorder;
@OtherHighlightBorder: @ContentBorder;
@OtherHighlightColor: @ContentColor;
//#endregion

//#region Layout
@layoutTopBackground: #094ab2;
@layoutTopColor: #ffffff;
@layoutContentBackground: #f0f0f0;
@layoutLeftBackground: #f3f3f3;
@layoutRightBackground: #ffffff;
@layoutMainBackground: #ffffff;
@layoutBottomBackground: #ffffff;
//#endregion

//#region leftMenu
@leftMenuItemColor: #0d0d0d;
@leftMenuItemHoverBackground: #cccccc;
@leftMenuItemHoverColor: #0d0d0d;
@leftMenuItemActiveBackground: #a6a6a6;
@leftMenuItemActiveColor: #0d0d0d;
//#endregion

//#regionTable样式
@tableBorder: #000000;

@tableOddBackground: @ContentBackground;
@tableOddColor: @ContentColor;

@tableEvenBackground: #e5e5e5;
@tableEvenColor: @ContentColor;

@tableHoverBackground: #cccccc;
@tableHoverColor: @ContentColor;

@tableActiveBackground: @ActiveBackground;
@tableActiveColor: @ActiveColor;

@tableHeadBackground: @HeaderBackground;
@tableHeadColor: @HeaderColor;
//#endregion

//#region LinkButton样式
@linkButtonBackground: none;
//#endregion

//#region tree样式
@treeULineBBackground: green;
@treeULineVBackground: blue;
@treeULineHBackground: #000000;
//#endregion

//#region jtip样式
@tipNomalBackground: @ContentBackground;
@tipNomalColor: @ContentColor;
@tipNomalBorder: @ContentBorder;
@tipNomalIcon: @ContentBorder;

@tipSuccessBackground: @HighlightBackground;
@tipSuccessColor: @HighlightColor;
@tipSuccessBorder: @HighlightBorder;
@tipSuccessIcon: @HighlightBorder;

@tipErrorBackground: @ErrorBackground;
@tipErrorBorder: @ErrorBorder;
@tipErrorColor: @ErrorColor;
@tipErrorIcon: @ErrorBorder;
//#endregion

//#region text样式
@textBorder: #666666;
//#endregion

//#region jsort样式
@sortUlBackground: #f3f3f3;
@sortUlColor: #000000;
@sortUlBorder: @ContentBorder;
@sortUlHoverBackground: #d4d4d4;
//#endregion

//#region selectChzn 样式
@selectChznContainerBackground: @ContentBackground; /*所有的背景色*/
@selectChznContainerBorder:@ContentBorder;/*#666666; 所有的边框的颜色*/ 

@selectChznSingleColor: @ContentColor; /*单选时候 选中值显示*/
@selectChznSingleDefaultColor:@HelperColor; /*没有默认选中时的提示语颜色*/
@selectChzeSingleDrop:@ContentBackground; /*下拉框展开时 之前选择值的背景颜色*/

@selectChznMultiInputColor: @ContentColor;/*多选框选中之后的颜色*/
@selectChznMulitDefaultColor: @HelperColor;/*多选框没有选中时候的提示语颜色*/

@selectChznMultiBackgroud:@ContentBackground; /*#e4e4e4;选中的单个项的背景色*/
@selectChznMultiChoiceFocusBackground: @ContentBackground;/*#d4d4d4单个项的鼠标移入背景色*/

@selectChznResultColor: @HelperColor;/*提示语颜色*/
@selectChznResultBackground:@HoverBackground;/* #3875d7鼠标移上之后的背景色*/
@selectChznNoResultBackground:@ContentBackground; /*查询结果的背景色*/

/*@selectChznSingleLinearGradientTop: #ffffff;
@selectChznSingleLinearGradientRight: #ff0000;
@selectChznSingleLinearGradientBottom: #00ff00;
@selectChznSingleLinearGradientLeft: #0000ff;

@selectChznChoiceLinearGradientTop: #ffffff;
@selectChznChoiceLinearGradientRight: #ff0000;
@selectChznChoiceLinearGradientBottom: #00ff00;
@selectChznChoiceLinearGradientLeft: #0000ff;

@selectChznResultLinearGradientTop: #3875d7;
@selectChznResultLinearGradientBottom: #2a62bc;

@selectChznSingelDropLinearGradientTop: #eeeeee;
@selectChznSingelDropLinearGradientBottom: #ffffff;*/




//#endregion
