@BaseUrl: ~`"http://localhost:5642/"`;
@JQuery_UI_Images: ~`"@{BaseUrl}" + "Content/jquery-ui/images/"`;
/*编译后使用css则使用下面的路径
	@JQuery_UI_Images: ~`"../images/"`;
	使用实例：
	background-image: ~`'url(@{JQuery_UI_Images}ui-icons_' + "@{ContentIcon}".substr(1) + '_256x240.png)'`;
*/

@jUI_Images: ~`"@{BaseUrl}" + "Content/jUI/images/"`;
/*编译后使用css则使用下面的路径
	@jUI_Images: ~`"../images/"`;
	使用实例：
	background-image: ~`'url(@{jUI_Images}ui-icons_256x240.png)'`;
*/

//#region 核心样式
@Family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
@FontWeight: normal;
@FontSize: 14px;
@LineHeight: 22px;
@DisabledOpacity: .35;
@DisabledOpacityPercent: @DisabledOpacity * 100;
//#endregion

//#region JQuery UI 样式
@Corners: 0px;

@HeaderBackground: #094ab2;
@HeaderBorder: #094ab2;
@HeaderColor: #ffffff;
@HeaderIcon: #ffffff;

@ContentBackground: #ffffff;
@ContentBorder: #f0f0f0;
@ContentColor: #000000;
@ContentIcon: #666666;

@DefaultBackground: #094ab2;
@DefaultBorder: #094ab2;
@DefaultColor: #ffffff;
@DefaultIcon: #ffffff;

@HoverBackground: #073d92;
@HoverBorder: #073d92;
@HoverColor: #ffffff;
@HoverIcon: #ffffff;

@ActiveBackground: #062f72;
@ActiveBorder: #062f72;
@ActiveColor: #ffffff;
@ActiveIcon: #ffffff;

@HighlightBackground: #e2e2e2;
@HighlightBorder: #e2e2e2;
@HighlightColor: #666666;
@HighlightIcon: #094ab2;

@ErrorBackground: #fef1ec;
@ErrorBorder: #cd0a0a;
@ErrorColor: #cd0a0a;
@ErrorIcon: #cd0a0a;

@OverlayBackground: #cccccc;
@OverlayOpacity: .3;
@OverlayOpacityPercent: @OverlayOpacity * 100;

@ShadowBackground: #ffffff;
@ShadowOpacity: 0;
@ShadowOpacityPercent: @ShadowOpacity * 100;
@ShadowThickness: 0px;
@TopOffset: 0px;
@LeftOffset: 0px;
@ShadowCorners: 0px;

//#endregion

//#region jUI 样式
/*@PrimaryBackground: #094ab2;
@PrimaryBorder: #094ab2;
@PrimaryColor: #ffffff;
@PrimaryIcon: #ffffff;

@InfoBackground: #094ab2;
@InfoBorder: #094ab2;
@InfoColor: #ffffff;
@InfoIcon: #ffffff;

@SuccessBackground: #094ab2;
@SuccessBorder: #094ab2;
@SuccessColor: #ffffff;
@SuccessIcon: #ffffff;

@WarningBackground: #094ab2;
@WarningBorder: #094ab2;
@WarningColor: #ffffff;
@WarningIcon: #ffffff;

@DangerBackground: #094ab2;
@DangerBorder: #094ab2;
@DangerColor: #ffffff;
@DangerIcon: #ffffff;

@InverseBackground: #094ab2;
@InverseBorder: #094ab2;
@InverseColor: #ffffff;
@InverseIcon: #ffffff;*/

@layoutTopBackground: #094ab2;
@layoutTopColor: #ffffff;
@layoutContentBackground: #f0f0f0;
@layoutLeftBackground: #f3f3f3;
@layoutRightBackground: #ffffff;
@layoutMainBackground: #ffffff;
@layoutBottomBackground: #ffffff;

@leftMenuItemBackground: transparent;
@leftMenuItemColor: #094ab2;
@leftMenuItemHoverBackground: #e2e2e2;
@leftMenuItemHoverColor: #094ab2;
@leftMenuItemActiveBackground: #d4d4d4;
@leftMenuItemActiveColor: #094ab2;

//当前日期 高亮
@datetimepickerNowBackground: #bababa;
@datetimepickerNowBorder: #bababa;
@datetimepickerNowColor: #094ab2;


//#endregion

//#region headMenu样式
@headMenuBackground: #094ab2;
@headMenuLinkHoverBackground: #073d92;
@headMenuLass: #ffffff;
@headMenuU1Background: #ffffff;
@headMenuU1LiAColor: #000000;
@headMenuU1LiAHoverBackground: #f0f0f0;
@headMenuVsolidBorderLeft: #ffffff;

//#endregion

//#region checkTree样式
@checkTreeCboxBackground: transparent;
//#endregion

//#region radioTree样式
@treeURboxBackground: transparent;
//#endregion

//#region Link样式
@linkHoverBackground: transparent;
//#endregion

//#region LinkButton样式
@linkButtonBackground: none;
//#endregion

//#region datetimepicker样式
@datetimepickerBackground: #f3f3f3;
@datetimepickerBorder: #DDD;

@datetimepickerHeadBackground: #094AB2;
@datetimepickerHeadcenterColor: #ffffff;

@datetimepickerActiveBorder: #062f72;
@datetimepickerActiveBackground: #062f72;
@datetimepickerActiveColor: #ffffff;

@datetimepickerTableTrABorder: #bababa;
@datetimepickerTableTrABackground: #ffffff;
@datetimepickerTableTrAColor: #094ab2;

@datetimepickerTableTrAHoverBorder: #062f72;
@datetimepickerTableTrAHoverBackground: #073d92;
@datetimepickerTableTrAHoverColor: #ffffff;

@datetimepickerWeek: #000000;

@datetimepickerSliderBorder: #DDD;
@datetimepickerSliderBackground: #ffffff;
@datetimepickerSliderColor: #333333;

@datetimepickerHandleBorder: #CCC;
@datetimepickerHandleBackground: #F6F6F6;
@datetimepickerHandleColor: #1C94C4;

@datetimepickerOtherBorder: #FBCB09;
@datetimepickerOtherBackground: #FDF5CE;
@datetimepickerOtherColor: #C77405;
//#endregion

//#region table样式
@tableBorder: #ffffff;
@tableAHoverBackground: transparent;
@tableOverBackground: #e2e2e2;
@tableOutBackground: #f3f3f3;
@tableClickBackground: #d4d4d4;
//#endregion

//#region tree样式
@treeBackground: transparent;
@treeUAHoverBackground: #e2e2e2;
@treeUAActiveBackground: #d4d4d4;

@treeULineBBackground: green;
@treeULineVBackground: blue;
@treeULineHBackground: #000000;
//#endregion
