//普通提示样式
@tipNomalBackground: @ContentBackground;
@tipNomalColor: @ContentColor;
@tipNomalBorder: @ContentBorder;
@tipNomalIcon: @ContentBorder;
//成功提示样式
@tipSuccessBackground: @HighlightBackground;
@tipSuccessColor: @HighlightColor;
@tipSuccessBorder: @HighlightBorder;
@tipSuccessIcon: @HighlightBorder;
//错误提示样式
@tipErrorBackground: @ErrorBackground;
@tipErrorBorder: @ErrorBorder;
@tipErrorColor: @ErrorColor;
@tipErrorIcon: @ErrorBorder;

@jtip_border_width:5px;

 .jui-jtip
        {
        }


        .jui-jtip-w-arrowhead
        {
			background: ~`'url(@{jUI_Images}jui-icons_' + "@{HelperColor}".substr(1) + '_78x84.png)'` no-repeat -54px 0px;
            height: 13px;
            width: 7px;
        }

		.jui-jtip-w-arrowhead-success
        {
 			/*background-image: ~`'url(@{jUI_Images}jui-jtip-carat-w-' + "@{tipSuccessIcon}".substr(1) + '.png)'`;
            background-repeat: no-repeat;*/
			 background: ~`'url(@{jUI_Images}jui-icons_' + "@{HighlightIcon}".substr(1) + '_78x84.png)'` no-repeat -54px 0px;
            height: 13px;
            width: 7px;
        }
        .jui-jtip-w-arrowhead-error
        {
 			background: ~`'url(@{jUI_Images}jui-icons_' + "@{ErrorIcon}".substr(1) + '_78x84.png)'` no-repeat -54px 0px;
            height: 13px;
            width: 7px;
        }



        .jui-jtip-n-arrowhead
        {
  			
			background: ~`'url(@{jUI_Images}jui-icons_' + "@{HelperColor}".substr(1) + '_78x84.png)'` no-repeat -53px 0px;
            height: 7px;
            width: 13px;
        }

		  .jui-jtip-n-arrowhead-success
        {
  			background: ~`'url(@{jUI_Images}jui-icons_' + "@{HighlightIcon}".substr(1) + '_78x84.png)'` no-repeat -53px 0px;
            height: 13px;
            height: 7px;
            width: 13px;
        }
        .jui-jtip-n-arrowhead-error
        {
   			background: ~`'url(@{jUI_Images}jui-icons_' + "@{ErrorIcon}".substr(1) + '_78x84.png)'` no-repeat -53px 0px;
            height: 7px;
            width: 13px;
        }


    .jui-jitp-nomal-w-content
{
	border:@jtip_border_width solid @tipNomalBorder; 
    background-color: @tipNomalBackground;
    color: @tipNomalColor;
}



.jui-jtip-success-w-content
{
	border:@jtip_border_width  solid @tipSuccessBorder; 
	/*border-width:3px !important;*/
    background-color: @tipSuccessBackground;
    color: @tipSuccessColor;
}

.jui-jtip-error-w-content
{
	 border-width:@jtip_border_width !important;
    background-color: @tipErrorBackground;
    color: @tipErrorColor;
}



.jui-jitp-nomal-n-content
{
	border:@jtip_border_width solid @tipNomalBorder; 
	/*border-width:3px !important;*/
    background-color: @tipNomalBackground;
    color: @tipNomalColor;
}



.jui-jtip-success-n-content
{
	border:@jtip_border_width solid @tipSuccessBorder; 
    background-color: @tipSuccessBackground;
    color: @tipSuccessColor;
}

.jui-jtip-error-n-content
{
	border-width:@jtip_border_width !important;
    background-color: @tipErrorBackground;
    color: @tipErrorColor;
}