.jui-datetimepicker
{
}
	/*隐藏无内容的a标签*/
	.jui-datetimepicker a
	{
		padding: 0px;
	}
/*当前日期高亮*/
.jui-datetimepicker-now
{
	border: 1px solid @ContentBorder;
	font-weight: bold;
	color: @ContentColor;
	outline: none;
	display: block;
	margin: .2em;
	text-decoration: none;
	background-color: @ContentBorder;
}
/*外层div*/
.jui-datetimepicker
{
	width: 240px;
	background-color: @OtherDefaultBackground;
	padding: .2em .2em;
	border: 1px solid @OtherDefaultBorder;
	font-family: @Family;
	font-size: @FontSize;
	position: absolute;
	float: left;
	z-index: 33;
	border-radius:@Corners;
}
/*头部div中中间div样式*/
.jui-datetimepicker-dhead
{
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: @HeaderBackground;
	border:1px solid @HighlightColor;
	border-radius:@Corners;
}
/*左按钮*/
.jui-datetimepicker-prev
{
	cursor: pointer;
	display: inline-block;
	margin-right: 6px;
	margin-left: 6px;
}
/*右按钮*/
.jui-datetimepicker-next
{
	cursor: pointer;
	display: inline-block;
	margin-left: 6px;
}
/*头部中间日期显示层*/
.jui-datetimepicker-headcenter
{
	display: inline-block;
	width: 180px;
	color: @HeaderColor;
	text-align: center;
}
/*点击选中项 */
.jui-datetimepicker .jui-datetimepicker-active
{
	border: 1px solid @ActiveBorder;
	background-color: @ActiveBackground;
	color:@ActiveColor;
	outline: none;
	display: block;
	text-decoration: none;
}
/*表格内容样式*/
.jui-datetimepicker-table-tr-a
{
	border: 1px solid @ContentBorder;
	background-color:@DefaultColor;
	color:@layoutTopBackground;
	outline: none;
	display: block;
	margin: .2em;
	text-decoration: none;
}
/*鼠标移动到单元格上*/
.jui-datetimepicker-table tr a:hover
{
	border: 1px solid @HoverBorder;
	background-color: @HoverBackground;
	color: @HoverColor;
	outline: none;
}
/*内容表格样式*/
.jui-datetimepicker-table
{
	width: 240px;
	margin-top: 5px;
}
	/*表格内容居中*/
	.jui-datetimepicker-table tr
	{
		text-align: center;
	}
/*星期样式*/
.jui-datetimepicker-week
{
	font-weight: bold;
	color:@leftMenuItemColor;
	outline: none;
	display: block;
	padding: .2em;
}
/*时分秒样式*/
.jui-datetimepicker-hms
{
	/*font-size: 80%;*/
	font-size: @FontSize;
}

	.jui-datetimepicker-hms dl dt
	{
		height: @LineHeight*1.136;
		margin-bottom: -25px;
	}

	.jui-datetimepicker-hms dl dd
	{
		margin: 0 10px 10px 65px;
	}

	.jui-datetimepicker-hms dl
	{
		text-align: left;
	}

/*.jui-datetimepicker-slider
{
	position: relative;
	text-align: left;
	height: .8em;
	font-size: 1em;
	border: 1px solid @DefaultBorder;
	background: @DefaultBackground 50% top repeat-x;
	color: @DefaultColor;
}

.jui-datetimepicker-handle
{
	top: -.3em;
	margin-left: -.6em;
	border: 1px solid @ActiveBorder;
	background: @ActiveBackground 50% 50% repeat-x;
	font-weight: bold;
	color: @ActiveColor;
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor:default;
}*/

.jui-datetimepicker-focus, .jui-datetimepicker-handle:hover, .jui-datetimepicker-butNow:hover, .jui-datetimepicker-butDone:hover
{
	border: 1px solid @HighlightBorder;
	background:@HighlightBackground;
	font-weight: bold;
	color: @HighlightColor;
}
