.jui-datapager {
	/*color: #094ab2;*/
	color: @InverseColor;
}

	.jui-datapager span {
		display: block;
		overflow: hidden;
		float: left;
		height: 21px;
		min-width: 21px;
		text-align: center;
		margin: 4px;
		padding-left: 2px;
		padding-right: 2px;
	}

	.jui-datapager .jui-datapager-item {
		border: 1px solid @InverseBorder;
		background-color:@InverseBackground;
		color:@InverseColor;
		cursor: pointer;
	}

		.jui-datapager .jui-datapager-item:hover {
			border: 1px solid @HoverBorder;
			background-color:@HoverBackground;
			color:@HoverColor;
		}


	.jui-datapager .jui-datapager-item-active {
		border: 1px solid @Transparent;
		background:@ContentBackground;
		font-weight: bold;
		cursor: default;
		color: @ContentColor;
	}

	.jui-datapager .jui-datapager-item-disabled {
		border: 1px solid @InverseBorder;
		background-color:@InverseBackground;
		color:@InverseColor;
		cursor: default;
		-moz-opacity: @DisabledOpacity;
		opacity: @DisabledOpacity;
		filter: Alpha(Opacity=@DisabledOpacityPercent);
	}
