
.jui-table {
    border:1px solid @tableBorder;
}
	.jui-table a {
        text-decoration:none;
	}
	.jui-table a:hover {
        background-color:@tableAHoverBackground;
	}
    /*行样式切换*/
    /*鼠标覆盖*/
    .jui-table .jui-table-over{
        background-color:@tableOverBackground;
    }
    /*鼠标移出*/
    .jui-table .jui-table-out{
        background-color:@tableOutBackground;
    }
    /*鼠标点击*/
    .jui-table .jui-table-click{    
        background-color:@tableClickBackground;
    }