.jui-linkButton
{
    background:none !important;
    border:none !important;
    color:@DefaultBackground !important;
    cursor:pointer;          
    /*font-family:'Microsoft YaHei';  
    font-size:14px;*/    
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
    .jui-linkButton:hover {
        text-decoration:underline;
        background:none !important;
    }