input[type="button"], input[type="submit"], input[type="reset"]
{
	border-width: 1px;
	border-color:@DefaultBorder;
	background-color: @DefaultBackground;
	cursor: pointer;
	color: @DefaultColor;

	

	-moz-border-radius-topleft: @Corners;
	-webkit-border-top-left-radius: @Corners;
	-khtml-border-top-left-radius: @Corners;
	border-top-left-radius: @Corners;

	-moz-border-radius-topright: @Corners;
	-webkit-border-top-right-radius: @Corners;
	-khtml-border-top-right-radius: @Corners;
	border-top-right-radius: @Corners;

	-moz-border-radius-bottomleft: @Corners;
	-webkit-border-bottom-left-radius: @Corners;
	-khtml-border-bottom-left-radius: @Corners;
	border-bottom-left-radius: @Corners;

	-moz-border-radius-bottomright: @Corners;
	-webkit-border-bottom-right-radius: @Corners;
	-khtml-border-bottom-right-radius: @Corners;
	border-bottom-right-radius: @Corners;
}

	input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover
	{
		background-color: @HoverBackground;
	}
