.jui-leftMenu
{
}
	.jui-leftMenu div
	{
		font-size: 150%;
		height: 32px;
		line-height: 32px;
		padding-left: 20px;
		cursor: pointer;
	}

	.jui-leftMenu .jui-leftMenu-item
	{
	}

		.jui-leftMenu .jui-leftMenu-item:hover
		{
			background-color: #e2e2e2;
		}

	.jui-leftMenu .jui-leftMenu-item-active
	{
		background-color: #d4d4d4;
	}